.homepage-hero {
  height: 800px;
  position: relative;
  width: auto;
  z-index: 1;

  @include small {
    background: url("https://codurance.com/assets/custom/img/home/home-hero-code.jpg") no-repeat center;
    background-size: cover;
  }
}

.homepage-hero__video {
  @include small {
    display: none;
  }
  @include medium-large-and-extra-large {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: 0;
    max-width: 130%;
  }
}

.homepage-hero__video-wrapper {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.homepage-hero__content-container {
  background: transparent;
  bottom: 0;
  color: white;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80%;
}

.homepage-hero__title {
  color: white;
  @include gaudi-bold;
}

.homepage-hero__subtitle {
  @include freed-reg;
  color: white;
  padding: 10px 0 20px 0;
}
