---
layout: default
title: Become a Craftsperson

---
    
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
      <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({{ site.baseurl }}/assets/custom/img/careers/ourpeople.jpg);"></div>
      <div class="container g-color-white text-center g-py-120">
        <h3 class="h1 g-font-weight-600 text-uppercase mb-2">{% t careers.become_a_craftsperson.title %}</h3>
      </div>
    </section>
    <section class="container u-ns-bg-v1-bottom g-bg-white g-py-100">
      <div class="text-center">
        <h2 class="h5 g-line-height-1_8">
            {% t careers.become_a_craftsperson.what_we_look_for %}
        </h2>
        {% include apply_form.html title="Become a Craftsperson" target="craftsman" %}
      </div>
    </section>
    <section class="g-bg-gray-light-v5">
      <div class="container g-pt-100 g-pb-70">
        <div class="row justify-content-center g-mb-60">
          <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center mb-4">
              <h2 class="h3 text-uppercase mb-3">{% t careers.become_a_craftsperson.projects_title %}</h2>
              <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
              <p class="lead mb-0">{% t careers.become_a_craftsperson.projects_description %}</p>
            </div>
            <!-- End Heading -->
          </div>
        </div>
      </div>
    </section>

    <section >
      <div class="container g-pt-100 g-pb-70">
          
        <div class="row justify-content-center g-mb-60">
          <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center mb-4">
              <h2 class="h3 text-uppercase mb-3">{% t careers.become_a_craftsperson.about_you_title %}</h2>
              <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
            </div>
            <!-- End Heading -->
          </div>
        </div>
            <div class="shortcode-html">
              <!-- Icon Blocks -->
              <div class="row">
                <div class="col-lg-4 g-mb-30">
                  <!-- Icon Blocks -->
                  <div class="u-shadow-v22 g-bg-secondary rounded g-pa-30 h-100">
                    <h3 class="h5 g-color-black mb-20">{% t careers.become_a_craftsperson.mindset_title %}</h3>
                    <div class="g-width-30 g-brd-bottom g-brd-orange g-my-15"></div>
                    <p class="g-color-gray-dark-v4">{%t careers.become_a_craftsperson.mindset_description %}</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Icon Blocks -->
                  <div class="u-shadow-v22 g-bg-secondary rounded g-pa-30 h-100">
                    <h3 class="h5 g-color-black mb-20">{% t careers.become_a_craftsperson.collaboration_title %}</h3>
                    <div class="g-width-30 g-brd-bottom g-brd-orange g-my-15"></div>
                    <p class="g-color-gray-dark-v4">{% t careers.become_a_craftsperson.collaboration_description %}</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                  <!-- Icon Blocks -->
                  <div class="u-shadow-v22 g-bg-secondary rounded g-pa-30 h-100">
                    <h3 class="h5 g-color-black mb-20">{% t careers.become_a_craftsperson.deliberate_learning_title %}</h3>
                    <div class="g-width-30 g-brd-bottom g-brd-orange g-my-15"></div>
                    <p class="g-color-gray-dark-v4">{% t careers.become_a_craftsperson.deliberate_learning_description %}</p>
                  </div>
                  <!-- End Icon Blocks -->
                </div>
              </div>
              <!-- End Icon Blocks -->

      </div>
    </section>

    
<div class="bg-color-light">
    <div class="container content-md">
        <div class="text-center margin-bottom-60">
            <div class="row">
                <div class="col-md-12">
                        <h2 class="title-v2 title-center">{% t careers-become_a_craftsman.title %}</h2>
                </div>
            </div>

            <div class="row">
              <p class="space-lg-hor">Our craftspeople are practitioners, teachers, mentors, and leaders. We will assess your expertise in the following areas to see if you are a fit for us, this will also help you understand if we are a fit for you.</p>

              <a href="#craftsman-form" class="btn btn-md u-btn-orange mx-auto" data-modal-target="#craftsman-form">{% t careers.become_a_craftsman.apply_title_btn %}</a>
            </div>
            
            {% include apply_form.html title="Become a Craftsperson" target="craftsman" %}
        </div>
        
        <div class="row margin-bottom-30">
                <div class="col-lg-6 g-mb-30">
                    <div class="u-shadow-v19 g-bg-white g-pa-30 h-100">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="icon-bubbles u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{% t careers.become_a_craftsman.practices_title %}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-primary-dark-dark-v3 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">{% t careers.become_a_craftsman.practices_description %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 g-mb-30">
                    <div class="u-shadow-v19 g-bg-white g-pa-30 h-100">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="icon-globe u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20"> {% t careers.become_a_craftsman.design_title %}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-primary-dark-dark-v3 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">{% t careers.become_a_craftsman.design_description %}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row margin-bottom-30">
                <div class="col-lg-6 g-mb-30">
                    <div class="u-shadow-v19 g-bg-white g-pa-30 h-100">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="icon-bubbles u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{% t careers.become_a_craftsman.technology_stacks_title %}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-primary-dark-dark-v3 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">{% t careers.become_a_craftsman.technology_stacks_description %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 g-mb-30">
                    <div class="u-shadow-v19 g-bg-white g-pa-30 h-100">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="icon-globe u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20"> {% t careers.become_a_craftsman.personality_title %}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-primary-dark-dark-v3 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">{% t careers.become_a_craftsman.personality_description %}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div>
    <div class="container content-md">

        <div class="margin-bottom-40">
            <h2 class="title-v2 title-center">{% t careers.benefits.title %}</h2>
            <p class="space-lg-hor">{% t careers.benefits.description %}</p>
        </div>

        <div class="row">
            <div class="heading heading-v4">
                <h3>{% t careers.benefits.learning_title%}</h3> 
            </div>
        </div>

        <div> 
            <div class="row content-boxes-v3 margin-bottom-40 margin-top-20">
                <div class="col-sm-4 sm-margin-bottom-40">
                    <i class="icon-custom rounded-x icon-sm icon-bg-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.conf_title%}</span>
                        </h2>
                        <p>{% t careers.benefits.conf_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-bottom-40 bg-grey">
                    <i class="icon-custom rounded-x icon-sm icon-bg-blue fa fa-bullhorn"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.training_title%}</span>
                        </h2>
                        <p>{% t careers.benefits.training_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <i class="icon-custom rounded-x icon-sm icon-bg-red icon-line icon-rocket"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.books_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.books_description %}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="heading heading-v4">
                    <h3>{% t careers.benefits.culture_title %}</h3> 
                </div>
            </div>

            <div class="row content-boxes-v3 margin-bottom-40 margin-top-20">
                <div class="col-sm-4 sm-margin-bottom-40">
                    <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.experts_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.experts_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-bottom-40 bg-grey">
                    <i class="icon-custom rounded-x icon-sm icon-color-blue fa fa-bullhorn"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.transparency_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.transparency_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <i class="icon-custom rounded-x icon-sm icon-color-red icon-line icon-rocket"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.autonomy_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.autonomy_description %}</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="heading heading-v4">
                    <h3>{% t careers.benefits.lifestyle_title %}</h3> 
                </div>
            </div>

            <div class="row content-boxes-v3 margin-bottom-40 margin-top-20">
                <div class="col-sm-4 sm-margin-bottom-40">
                    <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.holidays_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.holidays_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4 sm-margin-bottom-40 bg-grey">
                    <i class="icon-custom rounded-x icon-sm icon-color-blue fa fa-bullhorn"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.pensions_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.pensions_description %}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <i class="icon-custom rounded-x icon-sm icon-color-red icon-line icon-rocket"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">
                            <span>{% t careers.benefits.life_cover_title %}</span>
                        </h2>
                        <p>{% t careers.benefits.life_cover_description %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
          <a href="#craftsman-form" class="btn btn-md u-btn-orange mx-auto" data-modal-target="#craftsman-form">{% t careers.become_a_craftsman.apply_title_btn %}</a>
        </div>

    </div>
</div>
