<div id="{{ include.target }}-form" class="g-max-width-800 g-bg-white g-overflow-y-auto g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40" style="display: none;">
  <button type="button" class="close" onclick="Custombox.modal.close();"> <i class="hs-icon hs-icon-close btn-pointer-cursor"></i> </button>
  <h2 class="modal-title" id="myModalLabel4">Current Positions</h2>
  <div class="small g-color-grey-opacity-0_6">Note: Links below will open in a new tab.</div>
  <hr>
  <script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
  <script type='text/javascript' charset='utf-8'>
    whr(document).ready(function(){
      window.addEventListener('load', function(e) {
        var locations = document.getElementsByClassName('whr-location');
        for (var i = 0; i < locations.length; i++) {
          locations[i].innerText = locations[i].innerText.replace(/(England, |Catalonia, )/, '');
        }
      });

      whr_embed(342253, {detail: 'titles', base: 'jobs', zoom: 'country', grouping: 'locations'});
      whr(document).on('click', 'li.whr-item a', function(e) {
        e.preventDefault(); window.open(this.href, '_blank');
      });
    });
  </script>
  <style>
    .whr-code, .whr-date {
      display: none;
    }
    .whr-group {
      font-weight: bold;
    }
    .whr-items {
      margin-right: 1em;
    }
  </style>
  <div id="whr_embed_hook"></div>
</div>
