<div id="{{ include.target }}-form" class="g-max-width-800 g-bg-white g-overflow-y-auto g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40" style="display: none;">
  <button type="button" class="close" onclick="Custombox.modal.close();"> <i class="hs-icon hs-icon-close"></i> </button>
  <h4 class="modal-title" id="myModalLabel4">Current Positions</h4>
  <hr></hr>

  <div class="small g-color-grey-opacity-0_6">Note: Links bellow will open in a new tab.</div>
  <div class="hire-jobs"></div>
  <script id="hire-embed-loader" async defer src="https://hire.withgoogle.com/s/embed/hire-jobs.js?company=codurancecom"></script>
</div>
