<div class="clients-teaser {{ include.class }}">
  {%- include page_location_anchor.html anchor_id="clients" -%}
  {%- include section_intro.html title=include.title -%}
  <div class="clients-teaser__logo-container">
    {% for client in site.data.clients %}
      {% if include.featured_clients_only and client.featured != true %}{% continue %}{% endif %}
      <img class="clients-teaser__logo" src="{{ client.image | prepend: site.baseurl }}" alt="{{ client.alt-text }}">
    {% endfor %}
  </div>
  {% if include.show_more_clients_cta %}
    {% assign cta_href = '/clients' | prepend: site.baseurl %}
    {% include cta_primary_link.html color='coral' href=cta_href text="See More" class="clients-teaser__cta" %}
  {% endif %}
</div>
