<div class="clients-teaser {{ include.class }}">
  {%- include page_location_anchor.html anchor_id="clients" -%}
  {%- include section_intro.html title=include.title -%}
  <div class="clients-teaser__logo-container">
    {% for client_id in include.client_ids %}
      {% assign client=site.data.clients[client_id]%}
      <img class="clients-teaser__logo" src="{{ client.image | prepend: site.baseurl }}" alt="{{ client.alt-text }}">
    {% endfor %}
  </div>
  {% if include.show_more_clients_cta %}
    {% assign cta_href = '/clients' | prepend: site.baseurl %}
    {% capture see_more_text %}{% t index-clients.see_more-cta %}{% endcapture %}
    {% include cta_primary_link.html color='coral' href=cta_href text=see_more_text class="clients-teaser__cta" %}
  {% endif %}
</div>
