<div class="blog-post-compass-teaser">
  <p class="compass-teaser__description">Measure the level of maturity of your software development organisation across 5 distinct areas.</p>
  {% assign hubspot_cta_id = site.translations[site.lang].compass-teaser.hubspot-cta-id %}
  {% include hubspot_cta.liquid class="hubspot-cta--primary-navy" hubspot-cta-id=hubspot_cta_id %}
</div>
