<div class="compass-teaser compass-teaser--in-blog">
  <p class="compass-teaser__description">Measure the level of maturity of your software development organisation across 5 distinct areas.</p>
  {% assign hubspot_cta_id = "0beb4f4f-b4ee-4bbb-8631-c642fc59155a" %}
  {% include hubspot_cta.liquid class="hubspot-cta--primary-navy" hubspot-cta-id=hubspot_cta_id %}
</div>
