  <!-- Contact Us -->
  <a name="contact-us" class="anchor"></a>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="services-contact-form-title u-heading-v2-3--bottom g-brd-primary g-mb-30">
          <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t services.contact-us.title %}</h2>
          <p>{%t services.contact-us.body %}</p>
        </div>
        <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "3042464",
            formId: "{%t services.contact-us.formid %}",
            cssClass: "",
            onFormSubmit: function() {
                  ga('send', {
                    hitType: 'event',
                    eventCategory: 'saleslead',
                    eventAction: 'submit',
                    eventLabel: 'servicepage'
                  });
            },
            onFormReady: function () {
              addStyleOverridesToHead();
              forceFormEmbedToApplyUpdatedStyles();

              function addStyleOverridesToHead() {
                var head = getHubSpotFormIframeHeadElement();

                var stylesToSetAllFieldsToOpenSans = styleTagFor('* { font-family: "Open Sans", Helvetica, Arial, sans-serif !important; }');
                var stylesToSetAllLinksToCoduranceOrange = styleTagFor('a { text-decoration: none; color: #ef7726; } a:hover { text-decoration: underline }');
                var stylesToSetAllFormFieldBackgroundsToWhite = styleTagFor('.hs-input { background-color: #fff !important; }');
                var stylesToCentreAlignFormSubmittedMessage = styleTagFor('.submitted-message { text-align: center; }');
                var stylesToIncreaseSpacingBetweenRequiredMarkAndField = styleTagFor('.hs-form-required { margin-left: 0.5rem; color: #ef7726; }');
                var stylesToMakeTheButtonsUppercase = styleTagFor('.hs-button { text-transform: uppercase; }');

                head.append(stylesToSetAllFieldsToOpenSans);
                head.append(stylesToSetAllLinksToCoduranceOrange);
                head.append(stylesToSetAllFormFieldBackgroundsToWhite);
                head.append(stylesToCentreAlignFormSubmittedMessage);
                head.append(stylesToIncreaseSpacingBetweenRequiredMarkAndField);
                head.append(stylesToMakeTheButtonsUppercase);
              }

              function getHubSpotFormIframeHeadElement() {
                var hubspotFormIFrame = $("#hs-form-iframe-0");
                return hubspotFormIFrame.contents().find("head");
              }

              function styleTagFor(css) {
                return '<style type="text/css">' + css + '</style>';
              }

              function forceFormEmbedToApplyUpdatedStyles() {
                $('input[name="firstname"]').val('').change();
              }
            }
          });
        </script>
      </div>
    </div>
  </div>
