<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">{% t footer.registration_number %}: 8712584</small>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Youtube">
            <a target="_blank" href="https://www.youtube.com/user/codurance" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-youtube-play"></i>
            </a>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
            <a target="_blank" href="https://www.linkedin.com/company/codurance" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
            <a target="_blank" href="https://twitter.com/codurance" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Instagram">
            <a target="_blank" href="https://www.instagram.com/codurance/" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Podcasts">
            <a target="_blank" href="https://open.spotify.com/show/7DY9af7dP7GUREz4bTPGS4" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-podcast"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Feed">
            <a target="_blank" href="{{ '/atom.xml' | prepend: site.baseurl }}" class="g-color-white-opacity-0_5 g-color-white--hover">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Copyright Footer -->
