<section class="curated-publications">
  <header class="curated-publications--intro section-intro">
    <h2 class="section-intro--title">{{include.title}}</h2>
    <p class="section-intro--description">{{include.description}}</p>
  </header>

  <div class="curated-publications--cards">
    {% assign tag = {{include.tag}} %}
    {% assign articles = site.posts | where: 'tags', tag %}
    {% for post in articles limit: 4 %}
      <article class="curated-publications--card card">
        <a class="card--image-link" href="{{ post.url | prepend: site.baseurl }}">
          <img
            class="card--image"
            src="{{post.image.src | prepend: site.baseurl}}"
            alt="{{post.title}}"
            width="200"
          />
        </a>
        <h3 class="card--title">{{ post.title }}</h3>
        <p class="card--description">{{post.description}}</p>
        <a class="card--cta__text" href="{{ post.url | prepend: site.baseurl }}">
          {% t publications.teaser-cta %}
        </a>
      </article>
    {% endfor %}
  </div>
  <a href="{{site.baseurl}}/{{site.tag_page_dir}}/{{ tag | downcase | replace: ' ','-'}}" class="curated-publications--cta cta__secondary-light">
    {% t publications.view-all %}
  </a>
</section>
