 <!-- JS Global Compulsory -->
  <script src="{{ '/assets/unify-2.4/vendor/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/jquery-migrate/jquery-migrate.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/popper.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/bootstrap/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/appear.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/dzsparallaxer/dzsparallaxer.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/dzsparallaxer/dzsscroller/scroller.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/dzsparallaxer/advancedscroller/plugin.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/slick-carousel/slick/slick.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/masonry/dist/masonry.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/imagesloaded/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/hs-bg-video/hs-bg-video.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/hs-bg-video/vendor/player.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/fancybox/jquery.fancybox.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/gmaps/gmaps.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/hs.core.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/helpers/hs.hamburgers.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.tabs.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.carousel.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/helpers/hs.bg-video.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.popup.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/gmap/hs.map.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.onscroll-animation.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.go-to.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/custom/js/custom.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/custombox/custombox.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/js/components/hs.modal-window.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/masonry/dist/masonry.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/unify-2.4/vendor/imagesloaded/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/lib/js/lunr.min.js' | prepend: site.baseurl }}" type="text/javascript" ></script>
  <script src="{{ '/assets/custom/js/jquery.flexslider.js' | prepend: site.baseurl }}"></script>

  <script src="{{ '/assets/custom/js/externalLinks.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/custom/js/tabber.js' | prepend: site.baseurl }}"></script>
  {% unless page.layout == "single_training" %}
    <script src="{{ '/assets/custom/js/websiteHeader.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/custom/js/websiteNavigation.js' | prepend: site.baseurl }}"></script>
  {% endunless %}
 <!-- JS Plugins Init. -->
  <script>
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      $(document).on('ready', function () {
        $.HSCore.components.HSCarousel.init('.js-carousel');

        $.HSCore.components.HSTabs.init('[role="tablist"]');

        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        $.HSCore.components.HSPopup.init('.js-fancybox');

        $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

        $.HSCore.components.HSGoTo.init('.js-go-to');

        $.HSCore.components.HSModalWindow.init('[data-modal-target]');

        $('[data-toggle="popover"]').popover();

        $('#carousel1').slick('setOption', 'customPaging', function (slider, i) {
          var title = $(slider.$slides[i]).data('title');

          return '<i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm"><span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-transition--ease-in g-transition-0_2"></span></i><span class="g-hidden-sm-down g-color-black g-font-size-15">' + title + '</span>';
        }, true);

        $('#carousel2').slick('setOption', 'customPaging', function (slider, i) {
          var title = $(slider.$slides[i]).data('title');

          return '<i class="u-dot-line-v1 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm"><span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2 g-transition--ease-in g-transition-0_2"></span></i><span class="g-hidden-sm-down g-color-black g-font-size-15">' + title + '</span>';
        }, true);

        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });

        if (typeof onJQueryLoaded === 'function') {
          onJQueryLoaded();
        }
      });
  </script>

  <!--Flexslider Init-->
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>

  <script src="{{ '/assets/custom/js/cookie-message.js' | prepend: site.baseurl }}"></script>

  <!-- Start of HubSpot Embed Code -->
  <script>
      var loadHubsopot = function() {
        var scriptTag = document.createElement('script');
        scriptTag.src = '//js.hs-scripts.com/3042464.js';
        document.head.appendChild(scriptTag);
      };

      var hasConsent = codurance.cookieMessage.hasConsent();
      if(hasConsent) {
        loadHubsopot();
      } else {
        codurance.cookieMessage.onConsent(function(){
          loadHubsopot();
        });
      }
  </script>
  <!-- End of HubSpot Embed Code -->
  <script src="https://codurance.prod.kulea.marketing/k.js"></script>
