<section class="get-in-touch">
  {% include page_location_anchor.html anchor_id="get-in-touch" %}

  <div class="get-in-touch__form">
    {% include section_intro.html description=include.description title=include.title %}

    <div class="sm-enquiry">
      <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3042464",
          formId: "{{ include.hubSpotId }}"
          {% if include.custom_js %}
            ,
            onFormSubmit: function() {
                  ga('send', {
                    hitType: 'event',
                    eventCategory: 'saleslead',
                    eventAction: 'submit',
                    eventLabel: 'servicepage'
                  });

                window.location.hash = 'thankyou';
                ga('send', 'pageview');
            },
            onFormReady: function () {
              addStyleOverridesToHead();
              forceFormEmbedToApplyUpdatedStyles();

              function addStyleOverridesToHead() {
                var head = getHubSpotFormIframeHeadElement();

                var stylesToSetAllFieldsToOpenSans = styleTagFor('* { font-family: "Open Sans", Helvetica, Arial, sans-serif !important; }');
                var stylesToSetAllLinksToCoduranceOrange = styleTagFor('a { text-decoration: none; color: #ef7726; } a:hover { text-decoration: underline }');
                var stylesToSetAllFormFieldBackgroundsToWhite = styleTagFor('.hs-input { background-color: #fff !important; }');
                var stylesToCentreAlignFormSubmittedMessage = styleTagFor('.submitted-message { text-align: center; }');
                var stylesToIncreaseSpacingBetweenRequiredMarkAndField = styleTagFor('.hs-form-required { margin-left: 0.5rem; color: #ef7726; }');
                var stylesToMakeTheButtonsUppercase = styleTagFor('.hs-button { text-transform: uppercase; }');

                head.append(stylesToSetAllFieldsToOpenSans);
                head.append(stylesToSetAllLinksToCoduranceOrange);
                head.append(stylesToSetAllFormFieldBackgroundsToWhite);
                head.append(stylesToCentreAlignFormSubmittedMessage);
                head.append(stylesToIncreaseSpacingBetweenRequiredMarkAndField);
                head.append(stylesToMakeTheButtonsUppercase);
              }

              function getHubSpotFormIframeHeadElement() {
                var hubspotFormIFrame = $("#hs-form-iframe-0");
                return hubspotFormIFrame.contents().find("head");
              }

              function styleTagFor(css) {
                return '<style type="text/css">' + css + '</style>';
              }

              function forceFormEmbedToApplyUpdatedStyles() {
                $('input[name="firstname"]').val('').change();
              }
            }
          {% endif %}
        });
      </script>
    </div>
  </div>
</section>
