{% include page_location_anchor.html anchor_id="get-in-touch" %}
<section class="get-in-touch">
  <div class="get-in-touch__inner">
    {% include section_intro.html description=include.description title=include.title %}

    <div class="get-in-touch__form">
      <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
      <![endif]-->
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3042464",
          formId: "{{ include.hubSpotId }}",
          onFormReady: function () {
            addStyleOverridesToHead();
            forceFormEmbedToApplyUpdatedStyles();

            function addStyleOverridesToHead() {
              var head = getHubSpotFormIframeHeadElement();

              var styleFonts = styleTagFor('* { font-family: proxima-nova, Helvetica, Arial, sans-serif !important; }');
              var styleLinks = styleTagFor('a { text-decoration: none; color: #fb7268; } a:hover { text-decoration: underline }');
              var styleRequiredMarker = styleTagFor('.hs-form-required { margin-left: 0.5rem; color: #fb7268; }');
              var styleButton = styleTagFor('.hs-button.primary { background: #fb7268; border-color: #fb7268;}');

              head.append(styleFonts);
              head.append(styleLinks);
              head.append(styleRequiredMarker);
              head.append(styleButton);
            }

            function getHubSpotFormIframeHeadElement() {
              var hubspotFormIFrame = $("#hs-form-iframe-0");
              return hubspotFormIFrame.contents().find("head");
            }

            function styleTagFor(css) {
              return '<style type="text/css">' + css + '</style>';
            }

            function forceFormEmbedToApplyUpdatedStyles() {
              $('input[name="firstname"]').val('').change();
            }
          }
        });
      </script>
    </div>
  </div>
</section>
