<title>{% if page.title %}{{ page.title }}{% else %}Software Craftsmanship and Agile Development{% endif %} | Codurance | Craft at Heart | London | Barcelona</title>
 <!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Our team of dedicated software craftspeople provide consultancy, software development, and training services to clients seeking high quality development processes and software solutions.">
<meta name="author" content="Codurance Ltd">

<!-- Open Graph Protocol  -->
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Codurance{% endif %}" />
<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Codurance" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Our team of dedicated software craftspeople provides consultancy, software development, and training services to clients seeking high quality development processes and software solutions.{% endif %}" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% if page.image.src %}{{ page.image.src | prepend: site.url }}{% else %}{{ '/assets/custom/img/codurance_open_graph.jpg' | prepend: site.url }}{% endif %}" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
<meta prefix="og: http://ogp.me/ns#" property="fb:app_id" content="1988440268098611" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@codurance" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Codurance{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Our team of dedicated software craftspeople provides consultancy, software development, and training services to clients seeking high quality development processes and software solutions.{% endif %}" />
<meta name="twitter:image" content="{% if page.image.src %}{{ page.image.src | prepend: site.url }}{% else %}{{ '/assets/custom/img/codurance-logo-artwork.png' | prepend: site.url }}{% endif %}" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{ '/assets/custom/img/favicon.ico' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/custom/img/apple-icon-57x57.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/custom/img/apple-icon-60x60.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/custom/img/apple-icon-72x72.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/custom/img/apple-icon-76x76.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/custom/img/apple-icon-114x114.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/custom/img/apple-icon-120x120.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/custom/img/apple-icon-144x144.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/custom/img/apple-icon-152x152.png' | prepend: site.baseurl }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/custom/img/apple-icon-180x180.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/custom/img/android-icon-192x192.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/custom/img/favicon-32x32.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/custom/img/favicon-96x96.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/custom/img/favicon-16x16.png' | prepend: site.baseurl }}">
<link rel="manifest" href="{{ '/assets/custom/img/manifest.json' | prepend: site.baseurl }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ '/assets/custom/img/ms-icon-144x144.png' | prepend: site.baseurl }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS Legacy -->

<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/style.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/timeline.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/blocks.css' | prepend: site.baseurl }}">

<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/app.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/pages/blog.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/pages/page_clients.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/theme-colors/orange.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-1.9/css/custom.css' | prepend: site.baseurl }}">



<!-- CSS Global Icons -->
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/bootstrap/bootstrap.min.css' | prepend: site.baseurl }}">

<link rel="stylesheet" href="{{ '/assets/unify-2.4/plugins/sky-forms-pro/skyforms/css/sky-forms.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/icon-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/icon-line/css/simple-line-icons.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/icon-etlinefont/style.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/icon-line-pro/style.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/icon-hs/style.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/dzsparallaxer/dzsparallaxer.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/dzsparallaxer/dzsscroller/scroller.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/dzsparallaxer/advancedscroller/plugin.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/hs-bg-video/hs-bg-video.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/fancybox/jquery.fancybox.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/slick-carousel/slick/slick.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/animate.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/hs-megamenu/src/hs.megamenu.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/hamburgers/hamburgers.min.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/vendor/custombox/custombox.min.css' | prepend: site.baseurl }}">


<!-- CSS Unify -->
<link rel="stylesheet" href="{{ '/assets/unify-2.4/css/unify-core.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/css/unify-components.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/unify-2.4/css/unify-globals.css' | prepend: site.baseurl }}">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/idea.min.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="{{ '/assets/custom/css/flexslider.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-blocks.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-layout-2.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-home-feature.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-utility-classes.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-media-queries-2.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-global-styles.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-navbar-or-navigation.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-layout-colours.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-layout-buttons.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-softmod-feature.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/custom/css/custom-softmod-tabs.css' | prepend: site.baseurl }}">


<!--fonts -->

<link rel="stylesheet" href="https://use.typekit.net/msw1qsq.css">

{% if page.canonical %}
<link rel="canonical" href="{{ page.canonical.href }}" />
{% endif %}

<script>
    window.codurance = window.codurance || {};

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{% t analytics.google-id %}', 'auto');
    ga('set', 'forceSSL', true);

    window.googleAnalyticsEvents = { environment: {ga:ga}, functions: []};
    // fire all events at onload/resize - see _includes/foot.html
</script>

<script type="text/javascript" src="https://secure.leadforensics.com/js/113763.js" ></script>
<noscript><img alt="" src="https://secure.leadforensics.com/113763.png?trk_user=113763&trk_tit=jsdisabled&trk_ref=jsdisabled&trk_loc=jsdisabled" height="0px" width="0px" style="display:none;" /></noscript>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/haskell.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/kotlin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/dockerfile.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
