{%- capture theme -%}
  {%- if include.theme -%}
    {{ include.theme }}
  {%- else -%}
    light
  {%- endif -%}
{%- endcapture -%}

{%- capture icon -%}{% if include.icon %}{{ include.icon }}{% endif %}{%- endcapture -%}

<section class="hero-teaser--image-position-{{ include.image_position}} hero-teaser--theme-{{ theme }} {{ include.class }}" id="{{ include.id }}">
  <div class="hero-teaser__image" style="background-image: url({{ include.image_src }})"></div>
  <div class="hero-teaser__content">
    <h2 class="hero-teaser__content-type">{{ include.content_type }}</h2>
    <h3 class="hero-teaser__title">{{ icon }}{{ include.title }}</h3>
    <p class="hero-teaser__description">{{ include.description }}</p>
    {% include cta_primary_link.html color='coral' href=include.cta-href text=include.cta %}
  </div>
</section>
