{%- capture classModifier -%}
  {%- if include.split and include.split == "even" -%}
    in-page-banner--even
  {%- elsif include.split and include.split == "right-heavy" -%}
    in-page-banner--right-heavy
  {%- endif -%}

{%- endcapture -%}

<div class="in-page-banner {{ classModifier | default: "in-page-banner--even" }} {{ include.class }}">
  <div class="in_page_banner__image" style="background-image: url({{ site.baseurl }}{{ include.background_image }}); background-position: {{ include.background_position | default: 'center'  }};"></div>
  <div class="in_page_banner__main">
    <div class="in_page_banner__inner">
      {% if include.title and include.title != '' %}
        <h3 class="in_page_banner__title">{{ include.title }}</h3>
      {% endif %}
      <p class="in_page_banner__description">{{ include.description }}</p>
      {%- comment -%} {% include cta_primary_link.html color='navy' href=include.cta_href text=include.cta_text %} {%- endcomment -%}

      {{ include.hubspot-cta}}
    </div>
  </div>
</div>
