<div id="middle-banner" class="closable-with-cookie" data-cookie-name="sc-london-2019-banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 container">
                <div class="media g-my-15">
                    <img class="img-fluid g-width-50 g-mr-15" src="{{ '/assets/custom/img/sc-london19.png' | prepend: site.baseurl}}" alt="SC London"/>
                    <div class="media-body">
                        <h5 class="g-color-white">The place where passionate Software Craftspeople,
                            Community, Experts & Thought Leaders come together</h5>
                        <a class="btn ban-btn-offblack text-uppercase" href="http://sc-london.com/#about" target="_blank">Book
                            your ticket now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
