<div id="middle-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center col-lg-2 text-lg-left align-self-center">
                <img class="img-fluid g-width-50x g-width-auto--lg" src="{{ '/assets/custom/img/sc-london19.png' | prepend: site.baseurl}}" alt="SC London"/>
            </div>
            <div class="col-12 text-center col-lg-8 g-my-25">
                <h4 class="g-font-weight-400 g-color-white">
                    The place where passionate Software Craftspeople, <br/>
                    Community, Experts & Thought Leaders come together
                </h4>
                <br/>
                <a class="btn btn-md ban-btn-offblack text-uppercase" href="http://sc-london.com/#about" target="_blank">Book your ticket now!</a>
            </div>
        </div>
    </div>
</div>
