<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="row no-gutters">
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-10.jpg" data-caption="Codurance">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-10.jpg" alt="Codurance">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-14.jpg" data-caption="Reception Seating">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-14.jpg" alt="Reception Seating">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-7.jpg" data-caption="Reception Area">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-7.jpg" alt="Reception Area">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-11.jpg" data-caption="Meeting Rooms">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-11.jpg" alt="Meeting Rooms">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-12.jpg" data-caption="Breakout Area">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-12.jpg" alt="Breakout Area">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-9.jpg" data-caption="Office Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-9.jpg" alt="Office Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-8.jpg" data-caption="Office Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-8.jpg" alt="Office Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-4.jpg" data-caption="Project Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-4.jpg" alt="Project Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-5.jpg" data-caption="Project Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-5.jpg" alt="Project Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-3.jpg" data-caption="Project Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/office-thumbs/New-Office-Thumb-3.jpg" alt="Project Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-1.jpg" data-caption="Project Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-1.jpg" alt="Project Space">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-main/New-Office-15.jpg" data-caption="Event Meet Up Space">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-08-02-new-london-office/office-thumbs/New-Office-Thumb-15.jpg" alt="Event Meet Up Space">
                </a>
            </div>
        </div>
    </div>
</div>
