{% if post.image.src and post.image.src contains '://' %}
    {% assign postImgUrl = post.image.src %} 
{% elsif post.image.src %} 
    {% assign postImgUrl = post.image.src | prepend: site.baseurl %} 
{% else %} 
    {% assign postImgUrl = site.default_post_image | prepend: site.baseurl %} 
{% endif %}
<div class="masonry-grid-item col-sm-12 col-lg-8 g-mb-30">
    <!-- Blog Grid Modern Blocks -->
    <article class="row align-items-stretch no-gutters u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <div class="col-md-6 g-bg-white g-rounded-left-5">
            <div class="g-pa-60">
                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
                    {% unless post.asset-type == "newsletter" %}
                    <li class="list-inline-item mr-0">{% t publications-post.author_title %} {{ post.author | author_links }}</li>
                    <li class="list-inline-item mx-2">·</li>
                    {% endunless %}
                    <li class="list-inline-item">{% t publications-post.date_title %} {{ post.date | date_to_string }}</li>
                </ul>

                <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p class="g-color-gray-dark-v4 g-line-height-1_8 mb-4">{{ post.content | markdownify | strip_html | truncatewords:45 }}
                </p>
                {% if post.tags.size > 0 %}
                <ul class="list-inline g-font-size-12 mb-0">
                    {% for tag in post.tags %}
                    <li class="list-inline-item g-mb-10">
                        <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15"
                            href="{{site.baseurl}}/{{site.tag_page_dir}}/{{ tag | downcase | replace: ' ','-'}}">{{tag}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="g-bg-white col-md-6 g-bg-size-cover g-bg-pos-center g-min-height-300 g-rounded-right-5"
            data-bg-img-src="{{ postImgUrl }}" style="background-image: url("{{ postImgUrl }}");"></a>
    </article>
    <!-- End Blog Grid Modern Blocks -->
</div>
