<ul class="list-inline posted-info">
  <li>{% t post.author_title  %} {{ page.author | author_links }}</li>
  {% if page.date %}
    <li>{% t post.date_title %} {{ page.date | date_to_string }}</li>
  {% endif %}
  
  {% if page.tags.size > 0 %}
  <li>
    {% for tag in page.tags %}
    <a href="{{site.baseurl}}/{{site.tag_page_dir}}/{{ tag | downcase | replace: ' ','-'}}/"><i class="fa fa-tags"></i><span class="blog-tag-margin"> {{ tag }}</span></a>
    {% endfor %}
  </li>
  {% endif %}
</ul>

