<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="row no-gutters">
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/office-main/New-Office-10.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/sign.jpg" alt="Image Description">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/office-main/New-Office-14.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/welcome.jpg" alt="Image Description">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/workspace.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/workspace.jpg" alt="Image Description">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/kitchen.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/kitchen.jpg" alt="Image Description">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/room1.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/room1.jpg" alt="Image Description">
                </a>
            </div>
            <div class="col-md-2">
                <a class="js-fancybox d-block u-block-hover u-bg-overlay g-bg-black-opacity-0_3--after g-bg-transparent--hover--after" href="javascript:;" data-fancybox="lightbox-gallery--14" data-src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/room2.jpg" data-caption="Lightbox Gallery">
                    <img class="img-fluid u-block-hover__main--zoom-v1" src="{{site.baseurl}}/assets/custom/img/blog/2019-07-01-new-london-office/room2.jpg" alt="Image Description">
                </a>
            </div>
        </div>
    </div>
</div>
