{% if page.image.src and page.image.src contains '://' %}
    {% assign pageImgUrl = page.image.src %}
{% elsif page.image.src %}
    {% assign pageImgUrl = page.image.src | prepend: site.baseurl %}
{% else %}
    {% assign pageImgUrl = site.default_post_image | prepend: site.baseurl %}
{% endif %}
<section class="g-bg-cover g-bg-size-cover g-bg-cover--text-overlay g-pb-30"
         data-bg-img-src="{{ pageImgUrl }}"
         style="background-image: url(&quot;{{ pageImgUrl }}&quot;);">
    <div class="container text-center g-pos-rel g-z-index-1 g-pt-100 g-pb-100">
        <div class="row d-flex justify-content-center align-content-end flex-wrap">
            <div class="col-lg-7 mt-auto">
                <div class="mb-5 mt-5">
                    <h1 class="g-color-white g-font-weight-600 g-mb-10">{{ page.title }}</h1>
                    <p class="lead text-white g-font-weight-600">{{ page.abstract }}</p>
                </div>
            </div>
        </div>
        {% if page.image.attribution.href %}
        <a href="{{ page.image.attribution.href }}" target="_blank">
        {% endif %}
            <span class="g-text-800 g-font-size-10 text-white">{{ page.image.attribution.text }}</span>
        {% if page.image.attribution.href %}
        </a>
        {% endif %}
    </div>
</section>

<section class="container g-mt-20">
    <div class="row">
        <div class="col-lg-9 container">
            <div class="row container--blog-meta">
                <div class="col text-left text-md-left g-mt-15 g-mb-10 col-12 col-md-2 g-font-size-12">
                {{ page.date | date_to_string }}
                </div>  
                <div class="col text-left text-md-right g-mt-10 col-md-10">
                    {% include tags.html tags=page.tags %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container g-mt-20">
    <div class="row">
        <div class="col-lg-9 container">
            <div class="row">
                <div class="col g-my-15 text-left">
                    {% assign author = site.data.team | where: "name", page.author | first %}
                    {% if author and page.asset-type != "newsletter" %}
                        <div class="media">
                            <img class="u-icon-v2 g-rounded-50 g-mr-15" src="{{ author.image  | prepend: site.baseurl }}" alt="{{ author.name }} Image">
                            <div class="media-body">
                                <h5 class="g-color-black g-font-weight-600">{{ author.name | author_links}}</h5>
                                <a class="g-font-weight-600 g-font-size-12"
                                   href="{{site.baseurl}}/publications/author/{{ author.name | downcase | replace: ' ','-' }}/">See author's bio and posts</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="media">
                            <div class="media-body">
                                <h5 class="g-color-black g-font-weight-600">{{ page.author | author_links}}</h5>
                                <a class="g-font-weight-600 g-font-size-12"
                                   href="{{site.baseurl}}/publications/author/{{ page.author | downcase | replace: ' ','-' }}/">See other author's posts</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="w-100 g-hidden-md-up"></div>
                <div class="col g-my-15 text-center text-md-right">
                    <ul class="list-inline my-0">
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 g-rounded-50 g-color-facebook g-color-facebook--hover u-icon-slide-up--hover"
                               href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}">
                                <i class="fa fa-facebook u-icon__elem-regular"></i>
                                <i class="fa fa-facebook u-icon__elem-hover"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 g-rounded-50 g-color-twitter g-color-twitter--hover u-icon-slide-up--hover"
                               href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&hashtags={{ page.tags | join: ',' }}">
                                <i class="fa fa-twitter u-icon__elem-regular"></i>
                                <i class="fa fa-twitter u-icon__elem-hover"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 g-rounded-50 g-color-linkedin g-color-linkedin--hover u-icon-slide-up--hover"
                               href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&summary={{ page.abstract }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
                                <i class="fa fa-linkedin u-icon__elem-regular"></i>
                                <i class="fa fa-linkedin u-icon__elem-hover"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v2 g-rounded-50 g-color-reddit g-color-reddit--hover u-icon-slide-up--hover"
                               href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}">
                                <i class="fa fa-reddit u-icon__elem-regular"></i>
                                <i class="fa fa-reddit u-icon__elem-hover"></i>
                            </a>
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container g-pt-15 blog">
    <div class="row justify-content-center">
        <div class="col-lg-9 g-overflow-y-hidden">
            <div>
                {% if include.widgets contains "video_frame" %}
                <img class="img-fluid d-block full-width">
                    {% if page.video-url contains 'https://www.youtube.com' %}
                        <iframe width="100%" height="413" src="{{ page.video-url | replace: 'https://www.youtube.com', 'https://www.youtube-nocookie.com' }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% else %}
                        <div class="js-iframe-container" js-iframe-url="{{ page.video-url }}">
                            {% include publication_cookie_message.html %}
                        </div>
                    {% endif %}
                </img>
                {% endif %}
                <div id="js-publication-content">
                    {{content}}
                </div>

                {% if page.canonical %}
                <hr/>
                <p class="cross-post"><a href="{{ page.canonical.href }}">This post was cross-posted to {{ page.canonical.name }}.</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if site.data.toggles.feature-sm-blog-in-page-banner == 'on' %}
    {% assign posttags = page.tags %}
    {% for posttag in posttags %}
        {% if page.in_page_banner != 'none' and posttag == 'software modernisation' %}
            {% capture background_image %}/assets/custom/img/softmod/bg-cta.jpg{% endcapture %}
            {% capture description %}{% t software-modernisation.in-page-banner-publications-text %}{% endcapture %}
            {% assign cta_href = "/software-modernisation/" | prepend: site.baseurl %}
            {% capture cta_text %}{% t software-modernisation.in-page-banner-publications-link %}{% endcapture %}
            {% capture title %}{% t software-modernisation.in-page-banner-publications-title %}{% endcapture %}
            {% include in_page_banner.html background_image=background_image class="container section g-pt-200 g-pb-100" cta_href=cta_href cta_text=cta_text description=description title=title %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}

<section class="container g-pt-50 blog">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="js-publication-content">
                {% include series.html %}
            </div>
        </div>
    </div>
</section>

{% include related_publications.html %}

{% include newsletter_banner.html %}
