<div class="float-right g-max-width-250 g-mr-minus-100--lg ml-5">
  <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">{% t post-related_posts.title%}</h3>
  <ul class="list-unstyled g-brd-y g-brd-gray-light-v3 g-font-size-13 py-4">
    <li>
      {% for post in site.related_posts %}
        <article class="media mb-3">
          <div class="media-body align-self-center">
            <span class="g-color-black g-font-weight-600 g-font-size-12 mb-0">
              <a class="u-link-v5 g-color-black g-color-primary--hover" href="{{ post.url | prepend: site.baseurl }}">
                {{post.title}}
              </a>
            </span>
          </div>
        </article>
      {% endfor %}
    </li>
  </ul>
</div>
