<header>
  <div class="services-page-intro__image">
    <div class="service-page-intro__navigation">
      <a href="https://codurance.com/services/software-modernisation/" class="services-page-intro__icon--software-modernisation">
      </a>
      <a href="https://codurance.com/services/software-delivery/" class="services-page-intro__icon--software-delivery">
      </a>
      <a href="https://codurance.com/services/specialist-expertise/" class="services-page-intro__icon--strategic-advice">
      </a>
      <a href="https://codurance.com/services/strategic-advice/" class="services-page-intro__icon--specialist-expertise">
      </a>
    </div>
  </div>
  <div class="services-page-intro__text-container">
    <div class="services-page-intro__text-container-inner">
      <div class="services-page-intro__title-wrapper">
        <h1 class="services-page-intro__title">{%t services.page-intro.title %}</h1>
        <h2 class="services-page-intro__sub-title">{%t services.page-intro.sub-title %}</h2>
      </div>
      <p class="services-page-intro__lead-in">{%t services.page-intro.lead-in %}</p>
    </div>
  </div>
</header>
