{% assign data = site.data.service_lines %}

<section class="service-line-teaser-group">
  {% for service_line in data.service_lines_in_teaser_group %}
    {% assign data-entry = data[service_line] %}
    {% capture title %}{% if site.lang == 'es' %}{{ data-entry.es-title }}{% else %}{{ data-entry.en-title }}{% endif %}{% endcapture %}
    {% capture description %}{% if site.lang == 'es' %}{{ data-entry.es-description }}{% else %}{{ data-entry.en-description }}{% endif %}{% endcapture %}
    <article class="service-line-teaser-group__card">
      <div class="service-line-teaser-group__card-image" style="background-image: url({{ site.baseurl }}{{ data-entry.image-src }})"></div>
      <div class="service-line-teaser-group__card-content" style="background-image: url({{ site.baseurl }}{{ data-entry.image-src }})">
        <h2 class="service-line-teaser-group__card-tag">{{ data-entry.icon }} {{ data-entry.name }}</h2>
        <h3 class="service-line-teaser-group__card-title">{{ title }}</h3>
        <p class="service-line-teaser-group__card-description">{{ description }}</p>
        {% if data-entry.cta-path %}
          {% capture cta-href %}{{ data-entry.cta-path | prepend: site.baseurl }}{% endcapture %}
          {% capture cta-text %}{% t services.learn-more %}{% endcapture %}
          {% include cta_primary_link.html color='coral' href=cta-href text=cta-text %}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
