<section class="service-line__testimonials">
  {%- assign anchor_id = service-line-page-locations.testimonials -%}
  {% include page_location_anchor.html anchor_id=anchor_id %}

  {% capture title %}{% t service-line-testimonials.section-title %}{% endcapture %}
  {% capture description %}{% t service-line-testimonials.section-description %}{% endcapture %}
  {% include section_intro.html class="service-line__testimonials-intro" description=description title=title %}

  <div class="service-line__flexslider-wrapper">
    <div class="flexslider">
      <ul class="flexslider__inner slides">
        <li class="flexslider__item">
          <p class="flexslider__text">{% t software-modernisation.testimonials-bestsecret-p1 %}</p>
          <p class="flexslider__text">{% t software-modernisation.testimonials-bestsecret-p2 %}</p>
          <footer class="flexslider__footnote">{% t software-modernisation.bestsecret-name-and-position %}</footer>
        </li>
        <li class="flexslider__item">
          <p class="flexslider__text">{% t software-modernisation.testimonials-cazoo %}</p>
          <footer class="flexslider__footnote">{% t software-modernisation.cazoo-name-and-position %}</footer>
        </li>
        <li class="flexslider__item">
          <p class="flexslider__text">{% t software-modernisation.testimonials-hedgefund %}</p>
          <footer class="flexslider__footnote">{% t software-modernisation.hedgefund-name-and-position %}</footer>
        </li>
        <li class="flexslider__item">
          <p class="flexslider__text">{% t software-modernisation.testimonials-ecw %}</p>
          <footer class="flexslider__footnote">{% t software-modernisation.ecw-name-and-position %}</footer>
        </li>
      </ul>
    </div>
  </div>
</section>
