<div class="sm-cta-block">
  <div class="sm-cta-block__lh"></div>
  <div class="sm-cta-block__rh bg-coral">
    <div>

      {{page.tags}}
      {{posttags}}

      <h3 class="text-white text-bold g-bp-20 h4">{% t software-modernisation.in-page-banner-publications-title %}</h3>
      <p class="text-center text-white g-bp-20 h5">{% t software-modernisation.in-page-banner-publications-text %}</p>
      <a class="btn btn-more btn--blue btn--wide-mobile text-center" href="{{ '/software-modernisation/' | prepend: site.baseurl }}">
        {% t software-modernisation.in-page-banner-publications-link %}
      </a>
    </div>
  </div>
</div>