{% capture background_image %}/assets/custom/img/softmod/bg-cta.jpg{% endcapture %}
{% capture title %}{% t software-modernisation.in-page-banner-publications-title %}{% endcapture %}
{% capture description %}{% t software-modernisation.home-page-banner-text %}{% endcapture %}
{% assign cta_href = "/services/software-modernisation/" | prepend: site.baseurl %}
{% capture cta_text %}{% t software-modernisation.home-page-banner-link %}{% endcapture %}
{% include in_page_banner_50_50.html background_image=background_image cta_href=cta_href cta_text=cta_text description=description title=title %}
