{%- if site.lang == 'es' -%}
  <span id="hs-cta-wrapper-a4f30da8-3062-4c47-a865-a04a70bfa951">
    <span class="hs-cta-node hs-cta-a4f30da8-3062-4c47-a865-a04a70bfa951" id="hs-cta-a4f30da8-3062-4c47-a865-a04a70bfa951">
      <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
      <a href="https://cta-redirect.hubspot.com/cta/redirect/3042464/a4f30da8-3062-4c47-a865-a04a70bfa951" ></a>
    </span>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
    <script type="text/javascript"> hbspt.cta.load(3042464, '', {}); </script>
  </span>
{%- else -%}
  <span class="hubspot-in-page-banner" id="hs-cta-wrapper-39e3f247-bc43-4085-a52b-73a8d0930da9">
    <span class="hs-cta-node hs-cta-39e3f247-bc43-4085-a52b-73a8d0930da9" id="hs-cta-39e3f247-bc43-4085-a52b-73a8d0930da9">
      <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
      <a href="https://cta-redirect.hubspot.com/cta/redirect/3042464/39e3f247-bc43-4085-a52b-73a8d0930da9" ></a>
    </span>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
    <script type="text/javascript"> hbspt.cta.load(3042464, '', {}); </script>
  </span>
{%- endif -%}
