<div class="container section g-pt-200 g-pb-100">
  <div class="soft-mod-in-page-banner">
    <div class="soft-mod-cheat-sheet-cta-block-image"></div>
    <div class="soft-mod-cta-block__main">
      <div class="soft-mod-cta-block__inner">
        <h3 class="soft-mod-cta-block__title">
          {% t software-modernisation.cheat-sheet-cta-banner-title %}
        </h3>
        <p class="soft-mod-cta-block__description">
          {% t software-modernisation.cheat-sheet-cta-banner-text %}
        </p>
        {% assign href = "/software-modernisation/" | prepend: site.baseurl %}
        {% assign text = site.translations[site.lang].software-modernisation.cheat-sheet-cta-banner-link %}
        {% include cta_primary_link.html color='navy' href=href text=text %}
      </div>
    </div>
  </div>
</div>