{% assign teaser = site.translations[site.lang]software-modernisation.webinar.teaser %}
{% assign title = teaser.title %}
{% assign description = teaser.description %}
{% assign cta = teaser.cta %}
{% assign cta-href = teaser.cta-href %}
{% assign image_position = 'left' %}
{% capture image_src %}{{site.baseurl}}/assets/custom/img/softmod/softmod-in-distributed-worktimes-hero.jpg{% endcapture %}
{% include hero_teaser.html class="soft-mod__webinar-teaser" content_type='Webinar' id="webinar" cta=cta cta-href=cta-href image_position=image_position image_src=image_src title=title description=description %}
