<div class="item-content-grid__item-left bg-blue bg-sustainable-change">
    <span class="h2 text-900 text-white"></span>
</div>
<div class="item-content-grid__item-right bg-white g-pt-35">
    <span class="h4 text-700"></span>
    <ul class="g-pb-15 list-ticks"></ul>
    <span class="h4 text-700 g-mt-25"></span>
</div>
