<div class="container section g-pt-200 g-pb-100">
  <div class="soft-mod-in-page-banner">
    <div class="soft-mod-cta-block__image"></div>
    <div class="soft-mod-cta-block__main">
      <div class="soft-mod-cta-block__inner">
        <h3 class="text-white text-bold g-bp-20 h4">{% t software-modernisation.in-page-banner-publications-title %}
        </h3>
        <p class="text-center text-white g-bp-20 h5">{% t software-modernisation.in-page-banner-publications-text %}
        </p>
        <a class="btn btn-more btn--blue btn--wide-mobile text-center"
          href="{{ '/software-modernisation/' | prepend: site.baseurl }}">
          {% t software-modernisation.in-page-banner-publications-link %}
        </a>
      </div>
    </div>
  </div>
</div>