<div class="tabber">
    <div class="tabbed-content g-pt-50">
        <nav class="tabs">
            <ul>
                <li><a href="#sustainable-change" class="active">{% t software-modernisation.sustainable-change-title %}</a></li>
            </ul>
        </nav>

        <article id="sustainable-change" class="item active" data-title="Sustainable Change">
            <div class="item-content">
                <div class="item-content-grid">
                    <div class="item-content-grid__item-left bg-blue bg-sustainable-change">
                        <span class="h2 text-900 text-white">{% t software-modernisation.sustainable-change-intro %}</span>
                    </div>
                    <div class="item-content-grid__item-right bg-white g-pt-35">
                        <span class="h4 text-700">{% t software-modernisation.what %}</span>
                        <ul class="g-pb-15 list-ticks">
                            <li>{% t software-modernisation.sus-change-li-1 %}</li>
                            <li>{% t software-modernisation.sus-change-li-2 %}</li>
                            <li>{% t software-modernisation.sus-change-li-3 %}</li>
                            <li>{% t software-modernisation.sus-change-li-4 %}</li>
                            <li>{% t software-modernisation.sus-change-li-5 %}</li>
                        </ul>
                        <span class="h4 text-700 g-mt-25">{% t software-modernisation.how %}</span>
                        <p>
                            {% t software-modernisation.sus-change-how-details %}
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
