<section class="teaser-group">
  {% for service in site.data.service_lines %}
    <section class="teaser-group__card">
      <div class="teaser-group__card-image" style="background-image: url({{ service.image-src }})"></div>
      <div class="teaser-group__card-content" style="background-image: url({{ service.image-src }})">
        <h2 class="teaser-group__card-content-type">{{ service.icon }}{{ service.content-type }}</h2>
        <h3 class="teaser-group__card-title">{{ service.title }}</h3>
        <p class="teaser-group__card-description">{{ service.description }}</p>
        {% include cta_primary_link.html color='coral' href=service.cta-href text=service.cta-text %}
      </div>
    </section>
  {% endfor %}
</section>
