{% assign data = include.accordion_data.course-content %}

<h3 class="accordion-panel__sub-title">{{ data.intro }}</h3>
{% include unordered_list.liquid list=data.list %}
{% include unordered_list.liquid list=data.second-list %}
