{% if site.lang == 'es' %}
  {% assign training_data=site.data.trainings_es %}
{% else %}
  {% assign training_data=site.data.trainings_en %}
{% endif %}

{% assign non-featured-training = "" | split: ',' %}
{%- assign number-of-cards-in-carousel = 0 -%}

{%- for training-id in training_data.training-course-ids -%}
  {%- if training_data[training-id].featured != true -%}
    {% assign non-featured-training = non-featured-training | push: training_data[training-id] %}
    {%- assign number-of-cards-in-carousel = number-of-cards-in-carousel | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

<div class="training-card-group--only-featured">
  {%- for training-id in training_data.training-course-ids -%}
    {% assign data-entry = training_data[training-id] %}
    {%- if data-entry.featured -%}
      {% include training_card.liquid training=data-entry %}
    {%- endif -%}
  {%- endfor -%}
</div>

<div class="training-card-group">
  <div class="training-card-group__track" data-nav-track data-position="1" data-number-of-cards="{{ number-of-cards-in-carousel }}">
    {% for training-id in training_data.training-course-ids %}
      {% assign data-entry = training_data[training-id] %}
      {% include training_card.liquid training=data-entry %}
    {% endfor %}
  </div>
  <div class="training-card-group__navigation-container">
    {%- assign counter = 1 -%}
    {%- for training in non-featured-training -%}
      {%- if forloop.first == true -%}{%- assign active-class = "active" -%}{%- else -%}{%- assign active-class = "" -%}{%- endif -%}
        <div class="training-card-group__navigation-item {{active-class}}" data-nav-item data-position="{{counter}}"></div>
      {%- assign counter = counter | plus: 1 -%}
    {%- endfor -%}
  </div>
</div>

<script async src="{{ '/assets/custom/js/training-card-group.js' | prepend: site.baseurl }}"></script>