<section class="training-bio">
  <div class="training-bio__avatar-container">
    <img src="{{ site.baseurl }}{{ page.intro.instructor-avatar }}">
    <span class="training-bio__instructor-title">Course Instructor</span>
    <span class="training-bio__instructor-name">Sandro Mancuso</span>
  </div>
  <div class="training-bio__content-container">
    <p>Software craftsman ................</p>
    <button>read more</button>
  </div>
</section>