{% if site.lang == 'es' %}
  {% assign training_data=site.data.trainings_es %}
{% else %}
  {% assign training_data=site.data.trainings_en %}
{% endif %}

<div class="training-card-group--only-featured">
  {%- for training in training_data -%}
    {%- if training.featured -%}
      {% include training_card.liquid training=training %}
    {%- endif -%}
  {%- endfor -%}
</div>

<div class="training-card-group">
  <div class="training-card-group__track">
    {% for training in training_data %}
      {% include training_card.liquid training=training %}
    {% endfor %}
  </div>
  <div class="training-card-group__navigation-container">
    {%- assign non-featured-training = training_data | where_exp:"item", "item.featured != true" -%}
    {%- for training in non-featured-training -%}
        {%- if forloop.first == true -%}
          <div class="training-card-group__navigation-item active"></div>
        {%- else -%}
          <div class="training-card-group__navigation-item"></div>
        {%- endif -%}
    {%- endfor -%}
  </div>
</div>