<section class="training-hero">
    <div class="training-hero__wrapper">
        <img class="training-hero__background-image" src={{ site.baseurl }}{{ page.intro.background-image }}>
        <div class="training-hero__lower-background-block"></div>
        <div class="training-hero__content-container">
            <div class="training-hero__content-container__top">
                <h1 class="training-hero__title">Crafting Code</h1>
                <p class="training-hero__duration">Duration: 2 days</p>
            </div>
            <div class="training-hero__content-container__middle">
                <img style="width: 80px" src={{ site.baseurl }}{{ page.intro.instructor-avatar }}>
                <div class="training-hero__instructor-info">
                    <p class="training-hero__course-instructor-title">Course Instructor</p>
                    <p class="training-hero__course-instructor">Sandro Mancuso</p>
                </div>
            </div>
            <div class="training-hero__content-container__bottom">
                This course is designed to help developers write code that is well-crafted. Meaning code that is clean, testable, maintainable, and an expression of the business domain. The course is entirely hands-on, designed to teach developers practical techniques they can immediately apply to real-world projects.
            </div>
        </div>
    </div>
</section>