<section class="training-hero">
    <div class="training-hero__wrapper">
        <img class="training-hero__background-image" src={{ site.baseurl }}{{ page.intro.background-image }}>
        <div class="training-hero__lower-block"></div>
    </div>
</section>