{% assign data = include.accordion_data.prerequisites %}

{% if data.intro %}<p class="accordion-panel__intro">{{ data.intro }}</p>{% endif %}
<h3 class="accordion-panel__sub-title">{{ data.required }}</h3>
<ul>
  {% for item in data.list %}
    {% assign positionOfLastCharacter = item | size | minus: 1 %}
    {% assign lastCharacter = item | slice: positionOfLastCharacter %}
    <li>{{ item }}</li>
    {% if lastCharacter == ":" and data.second-list %}
      {% include unordered_list.liquid list=data.second-list %}
    {% endif %}
  {% endfor %}
</ul>
