<section>
    <div class="training-hero__wrapper" style="background-image: url({{ site.baseurl }}{{ page.intro.background-image }})">
        <div class="training-hero__lower-block">

        </div>
    </div>
</section>