<section class="training-bio">
  <div class="training-bio__wrapper">
    <div class="training-bio__instructor-container">
      <span class="training-bio__instructor-avatar" style="background-image: url({{ site.baseurl }}{{ page.intro.instructor-avatar }})"></span>
      <span class="training-bio__instructor-title">Course Instructor</span>
      <span class="training-bio__instructor-name">Sandro Mancuso</span>
    </div>
    <div class="training-bio__content-container">
      <p>Software craftsman, author, and founder of the London Software Craftsmanship Community (LSCC). Sandro has been coding since a very young age but only started his professional career in 1996. He has worked for startups, software houses, product companies, international consultancy companies, and investment banks.</p>
      <button>read more</button>
    </div>
  </div>
</section>