<div class="training">
    <div class="training__content">
        <h2 class="training__title">Train with us</h2>
        <p class="training__description">Introduction text dolor sit amet, consectetur adipiscing elit. Etiam feugiat ligula nec nunc vehicula congue. Nulla turpis diam, rhoncus vitae consequat sit amet Introduction text dolor sit amet, consectetur adipiscing elit. Etiam feugiat ligula nec nunc vehicula congue. Nulla turpis diam, rhoncus vitae consequat sit amet</p>
        {% include cta_primary_link.html color='coral' text='Learn more' %}
    </div>
    <div class="training__image" style="background-image: url('http://placekitten.com/780/590')"></div>
</div>
