{% assign data = include.accordion_data.prerequisites %}

<p class="accordion-panel__intro">{{ data.intro }}</p>
<h3 class="accordion-panel__sub-title">{{ data.required }}</h3>
<ul>
  {% for item in data.list %}
    {% if forloop.index == 3 %}
      <li>{{ item }}</li>
      {% include unordered_list.liquid list=data.second-list %}
    {% else %}
      <li>{{ item }}</li>
    {% endif %}
  {% endfor %}
</ul>
