<section class="training-teaser {{ include.class}}">
  <div class="training-teaser__inner">
    <div class="training-teaser__text-area">
      <h2 class="training-teaser__title">{% t services.training.title %}</h2>
      <p class="training-teaser__description">{% t services.training.description %}</p>
      {% capture hubspot_cta_id %}{% t services.training.hubspot-cta-id %}{% endcapture %}
      {% include hubspot_cta.liquid class="hubspot-cta--primary-coral" hubspot-cta-id=hubspot_cta_id %}
    </div>
    <div class="training-teaser__image-area">
      <div class="training-teaser__image" style="background-image: url({{ '/assets/custom/img/services/training-lighter.jpg' | prepend: site.baseurl }})"></div>
    </div>
  </div>
</section>
