{% if site.lang == 'es' %}
    {% assign training_data=site.data.trainings_es %}
{% else %}
    {% assign training_data=site.data.trainings_en %}
{% endif %}

<div class="training-card-group">
    {% for training in training_data %}
        {% include training_card.liquid training=training %}
    {% endfor %}
</div>



