{% if site.data.toggles.slt-464-hide-reveal-nav == 'on' %}
  <header class="website-header">
    {% include website_navigation.liquid %}
  </header>
{% else %}  
  <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance" data-header-fix-moment="500" data-header-fix-effect="slide">
      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-15" data-header-fix-moment-exclude="g-py-15" data-header-fix-moment-classes="u-shadow-v18 g-py-5">
        {% include website_navigation.liquid %}
      </div>
  </header>
{% endif %}

