<button class="{{ include.class }} website-navigation-menu-toggle" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="website-navigation-menu__list">
  Menu toggle
</button>
