<nav class="website-navigation">
  {% include website_navigation_home_link.liquid %}
  {% include website_navigation_menu_toggle.liquid class="website-navigation__menu-toggle" %}
  {% include website_navigation_menu.liquid class="website-navigation__menu" %}
  {% include website_navigation_languages.liquid class="website-navigation__languages" %}
</nav>
