---
layout: default
permalink: /404.html
---
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Page not found</h1>

      <p>Sorry, we could not find the page you were looking for. You can <a href="/">go to the landing page</a> or use the menu at the top of the page to navigate to a specific area of the site. </p>

      <div id="search-suggestions" style="display:none;">
        <b>Maybe those suggestions help?</b>
        <ul id="search-suggestions-list">
          <li><a href="/">blablablabla</a></li>
          <li><a href="/">blablablabla</a></li>
          <li><a href="/">blablablabla</a></li>
        <ul>
      </div>

    </div>
  </div>
</div>

<!-- send a 404 event to google analytics.
  Source: https://gist.github.com/pwenzel/eb4f04552ef410f60406 -->
  <script>
if(window.googleAnalyticsEvents){
  window.googleAnalyticsEvents.functions.push( function(environment) {
    environment.ga('send', 'event', 'error', '404', 'page: ' + document.location.pathname + document.location.search + ' ref: ' + document.referrer, {'nonInteraction': 1});
  });
}
  </script>

  <script type="text/javascript">
    var index, search_items={};
    var MAX_RESULT_COUNT = 5;
    var jqueryLoaded = false, lunrLoaded = false;

    function addResultsToPage(results){
      $('#search-suggestions-list li').remove();
      results.forEach(function(result){
        $('#search-suggestions-list').append(
            $('<li>')
            .append($('<a>')
              .attr('href',result.url)
              .text(result.title)
            )
        );
      });
      $('#search-suggestions').show();
    }

    function searchMatchingPages(term){
      var results = index.search(term)
                    .map(function(search_result){return {url:search_result.ref, title:search_items[search_result.ref]}})
                    .slice(0, MAX_RESULT_COUNT);

      if(results.length>0){
        addResultsToPage(results);
      }
    }

    function addToSearchItems(url, title){
      if(url && url.trim()!='' && title && title.trim()!=''){
        search_items[url] = title;
        index.add({ url:url, title:title });
      }
    }

    function searchIfReady(){
      if(lunrLoaded && jqueryLoaded){
        searchMatchingPages(window.location.pathname);
      }
    }

    function onLunrLoaded(){
      index = lunr(function () {
        this.field('url', {boost: 10});
        this.field('title');
        this.ref('url');
      });

      {% for page in site.pages %}
      addToSearchItems('{{page.url | replace: "'", "\'" }}','{{page.title | replace: "'", "\'" }}');
      {% endfor %}
      
      {% for post in site.posts %}
      addToSearchItems('{{post.url | replace: "'", "\'" }}','{{post.title | replace: "'", "\'" }}');
      {% endfor %}
     
      lunrLoaded = true;
      searchIfReady(); 
    }

    function onJqueryLoaded(){
      jqueryLoaded = true;
      searchIfReady();
    }
  
  </script>

  <script src='/assets/plugins/jquery/jquery.min.js' type="text/javascript" onload="onJqueryLoaded()" ></script>
  <script src='/assets/js/lunr.min.js' type="text/javascript" onload="onLunrLoaded()" ></script>
