---
layout: default
---
<!-- feature panel -->
<div class="feature-panel">
        <div class="jumbotron">
		<h1>{% t index-banner.title %}</h1>
	    <h3>{% t index-banner.subtitle %}</h3>
	    <a href="/services" role="button" class="btn btn-more btn-more-light">{% t index-banner.link_title %}</a>
        </div>
</div>
<!-- Activity panel -->
<div class="section">
    <div class="container">
        <div class="title-header">
		<h2>{% t index-activity.title %}</h2>
        </div>
	<div class="row blog-boxes margin-bottom-40">
	{% assign blog = site.posts | where:"asset-type","post"  %}
	{% include latest_highlights.html param=blog %}

	{% assign video = site.categories.videos  %}
	{% include latest_highlights.html param=video %}

	{% assign event = site.categories.events  %}
	{% include latest_highlights.html param=event %}
		
	</div>
        <div class="col-md-6 text-center">
		<a href="/publications" role="button" class="btn btn-u btn-more animated">{% t index-activity.publications_link_title %}</a>
        </div>
	<div class="col-md-6 text-center">
		<a href="/events" role="button" class="btn btn-u btn-more animated">{% t index-activity.events_link_title %}</a>
        </div>
    </div>
</div>
<!-- Services panel -->
<div class="section gray-section" id="services">
    <div class="container container-space">
	    <div class="title-header">
		    <h2>{% t index-services.title %}</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
		        <div class="service-card">
		            <div class="service-card-inner bg-dark-red">
			            <img src="/assets/img/custom/home/services/software-creation-icon.png" />
				    <h2 class="white">{% t index-services-software_creation.title %}</h2>
		            </div>
			    <div class="service-card-inner bg-red">
				    <ul class="list-unstyled white">
					    <li>{% t index-services-software_creation.description_line_1 %}</li>
					    <li>{% t index-services-software_creation.description_line_2 %}</li>
					    <li>{% t index-services-software_creation.description_line_3 %}</li>
					    <li>{% t index-services-software_creation.description_line_4 %}</li>
				    </ul>
				    <a href="/services#software-creation"  role="button" class="btn btn-more btn-more-light animated">{% t index-services-software_creation.link_title  %}</a>
			    </div>
		        </div>
	        </div>
            <div class="col-md-4">
		    <div class="service-card">
		        <div class="service-card-inner bg-dark-orange">
			        <img src="/assets/img/custom/home/services/expert-advice-icon.png" />
				<h2 class="white">{% t index-services-expert_advice.title %}</h2>
		        </div>
		        <div class="service-card-inner bg-orange">
				<ul class="list-unstyled white">
					<li>{% t index-services-expert_advice.description_line_1 %}</li>
					<li>{% t index-services-expert_advice.description_line_2 %}</li>
					<li>{% t index-services-expert_advice.description_line_3 %}</li>
					<li>{% t index-services-expert_advice.description_line_4 %}</li>
				</ul>
				<a href="/services#expert-advice" role="button" class="btn btn-more btn-more-light animated">{% t index-services-expert_advice.link_title  %}</a>
		        </div>
		    </div>
	        </div>
            <div class="col-md-4">
		        <div class="service-card">
		            <div class="service-card-inner bg-dark-yellow">
			            <img src="/assets/img/custom/home/services/training-coaching-icon.png" />
				    <h2 class="white">{% t index-services-training.title  %}</h2>
		            </div>
		            <div class="service-card-inner bg-yellow">
				    <ul class="list-unstyled white">
					    <li>{% t index-services-training.description_line_1 %}</li>
					    <li>{% t index-services-training.description_line_2 %}</li>
					    <li>{% t index-services-training.description_line_3 %}</li>
					    <li>{% t index-services-training.description_line_4 %}</li>
				    </ul>
				    <a href="/services#training" role="button" class="btn btn-more btn-more-light animated">{% t index-services-training.link_title  %}</a>
		            </div>
		        </div>
	        </div>
        </div>
    </div>
</div>
<!-- clients panel -->
<div class="section">
    <div class="container">
        <div class="title-header">
		<h2>{% t index-clients.title %}</h2>
        </div>
        <!-- Owl Carousel 2.0 -->
        <div class="custom-owl-carousel owl-theme margin-bottom-20">
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/trinitymirror.png" alt="Trinity Mirror logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/asos-logo.jpg" alt="ASOS logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/tesco.png" alt="Tesco logo">
            </div>
            <div class="jetBrains-logo-carousel">
                <img class="img-responsive" src="/assets/img/custom/home/clients/jetbrainsLogo.png" alt="JetBrains logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/bts-logo.jpeg" alt="Barcelona Technology School logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/coniq.png" alt="Coniq logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/xebia.jpg" alt="Xebia logo">
            </div>
            <div>
                 <img class="img-responsive" src="/assets/img/custom/home/clients/crowdmix.jpg" alt="Crwodmix logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/ubs.png" alt="UBS logo">
            </div>
              <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/valtech.png" alt="Valtech logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/agilityinmind.png" alt="AgilityInMind logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/societygenerale.jpg" alt="Society Generale logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/skillsmatter.jpg" alt="Skills Matter logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/flextrade.png" alt="Flextrade logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/aws.svg" alt="Amazon Web Services logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/satalia.jpg" alt="Satalia logo">
            </div>
        </div>
        <!-- End Owl Carousel -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row jetBrains-blurb">
			<h5>{% t index-clients-footer.title %} <a href="/services/partners/jetbrains">{% t index-clients-footer.link_title  %}</a></h5>.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- skill and practices panel -->
<div class="section gray-section">
    <div class="container">
        <div class="title-header">
		<h2>{% t index-how_we_work.title %}</h2>
		<p>{% t index-how_we_work.subtitle %}</p>
        </div>
		<div class="row">
		    <div class="col-sm-4 col-md-2">
		        <div class="block-centered block-centered-condensed equalheight bg-white">
                    <i class="icon-custom icon-md icon-color-red icon-heart no-border"></i>
		    <h3>{% t index-how_we_work.value1_title %}</h3>
		        </div>
		    </div>
		    <div class="col-sm-4 col-md-2">
		        <div class="block-centered block-centered-condensed equalheight bg-white">
		            <i class="icon-custom icon-md icon-color-red icon-paper-plane no-border"></i>
		            <h3>{% t index-how_we_work.value2_title %}</h3>
		        </div>
		    </div>
		    <div class="col-sm-4 col-md-2">
		        <div class="block-centered block-centered-condensed equalheight bg-white">
		            <i class="icon-custom icon-md icon-color-red icon-reload no-border"></i>
		            <h3>{% t index-how_we_work.value3_title %}</h3>
		        </div>
		    </div>
			<div class="col-sm-4 col-md-2">
			    <div class="block-centered block-centered-condensed equalheight bg-white">
                    <i class="icon-custom icon-md icon-color-red icon-control-forward no-border"></i>
                    <h3>{% t index-how_we_work.value4_title %}</h3>
			    </div>
			</div>
			<div class="col-sm-4 col-md-2">
			    <div class="block-centered block-centered-condensed equalheight bg-white">
                    <i class="icon-custom icon-md icon-color-red icon-settings no-border"></i>
                    <h3>{% t index-how_we_work.value5_title %}</h3>
			    </div>
			</div>
		    <div class="col-sm-4 col-md-2">
		        <div class="block-centered block-centered-condensed equalheight bg-white">
		            <i class="icon-custom icon-md icon-color-red icon-screen-desktop no-border"></i>
		            <h3>{% t index-how_we_work.value6_title %}</h3>
		        </div>
		    </div>
            <div class="col-md-12 text-center">
		    <a href="/company/#howwework" class="btn btn-u btn-more animated">{% t index-how_we_work.link_title %}</a>
            </div>

		</div>
	</div>
</div>

<!-- values panel-->
<div class="section">
    <div class="container">
        <div class="title-header">
		<h2>{% t index-software_craftsmanship.title %}</h2>
		<p>{% t index-software_craftsmanship.subtitle  %}</p>
        </div>
            <div class="row news-v1">
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="/assets/img/custom/home/the-software-craftsman-book.jpg" alt="">
			<h3><a href="https://www.goodreads.com/book/show/23215733-the-software-craftsman">{% t index-software_craftsmanship-book.title %}</a></h3>
			<p>{% t index-software_craftsmanship-book.subtitle%}</p>
                        <ul class="list-inline news-v1-info no-margin-bottom">
				<li><a href="/publications/the-software-craftsman">{% t index-software_craftsmanship-book.link_title  %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="/assets/img/custom/home/socrates-uk.jpg" alt="">
			<h3><a href="http://socratesuk.org/">{% t index-software_craftsmanship-socrates.title %}</a></h3>
                        <p>{% t index-software_craftsmanship-socrates.subtitle %}</p>
                        <ul class="list-inline news-v1-info no-margin-bottom">
                            <li><a href="http://socratesuk.org/">{% t index-software_craftsmanship-socrates.link_title %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="news-v1-in">
                        <img class="img-responsive" src="/assets/img/custom/home/lscc.jpg" alt="">
			<h3><a href="https://www.meetup.com/london-software-craftsmanship">{% t index-software_craftsmanship-lscc.title %}</a></h3>
			<p>{% t index-software_craftsmanship-lscc.subtitle %}</p>
                        <ul class="list-inline news-v1-info no-margin-bottom">
				<li><a href="https://www.meetup.com/london-software-craftsmanship">{% t index-software_craftsmanship-lscc.link_title  %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
