---
layout: default
---
<!-- feature panel -->
<div class="feature-panel">
    <div class="container">
        <div class="jumbotron col-md-6">
            <h1>Pragmatic, <br />Skilled, <br />Transparent.</h1>
	    <h3>At Codurance we constantly deliver value by crafting exceptional software.</h3>
	    <h3>Our Software Craftsmen share their knowledge, inspiring and mentoring your team to help you reach the next level of productivity.</h3>
	    <button class="btn btn-services animated" id="services-button">Discover our services</button>
        </div>
    </div>
</div>
<!-- Activity panel -->
<div class="section">
    <div class="container">
        <div class="title-header">
            <h2>Latest Blogs</h2>
        </div>
        <div class="row blog-boxes margin-bottom-40">
            {% for post in site.posts limit:3 %}
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="blog-box homepage-blog-thumb">
                        {% if post.image.src %}
                            <img class="img-responsive" src="{{ post.image.src }}" alt="{{ post.title }}">
                        {% else %}
                            <img class="img-responsive" src="/assets/img/coduranceLogoBlogThumb.png" alt="{{ post.title }}" alt="{{ post.title }}">
                        {% endif %}
                        <div class="blog-content">
                            <h3><a href="{{ post.url }}">{{ post.title | truncatewords: 8 }}</a></h3>
                            <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                        </div>
                        <ul class="list-inline blog-box-info">
                            <li><span>By</span> {{ post.author | author_links }}</li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> {{ post.date | date_to_string }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a href="/blog" class="btn-u btn-block">View all blog posts...</a>
        </div>
    </div>
</div>
<!-- Services panel -->
<div class="section gray-section" id="services">
    <div class="container container-space">
	<div class="title-header">
            <h2>Our Services</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
		<div class="software-creation service-card">
		    <div class="service-card-top">
			<img src="/assets/img/custom/home/services/software-creation-icon.png" />
			<h2>Software Creation</h2>
		    </div>
		    <div class="service-card-bottom">
			<ul class="list-unstyled">
			    <li>EMBEDDED CRAFTSMAN</li>
			    <li>SELF-CONTAINED TEAMS (on-site & off-site)</li>
			    <li>UX & UI DESIGN</li>
			    <li>AGILE & CONTINUOUS DELIVERY</li>
			</ul>
			<a href="/services/software-creation">
			    <button class="btn btn-services-link">LEARN MORE</button>
			</a>
		    </div>
		</div>
	    </div>
            <div class="col-md-4">
		<div class="expert-advice service-card">
		    <div class="service-card-top">
			<img src="/assets/img/custom/home/services/expert-advice-icon.png" />
			<h2>Expert Advice</h2>
		    </div>
		    <div class="service-card-bottom">
			<ul class="list-unstyled">
			    <li>ENTERPRISE ARCHITECTURE & DESIGN</li>
			    <li>MICROSERVICES & DEVOPS</li>
			    <li>CLOUD SOLUTIONS (Amazon AWS & Azure)</li>
			    <li>BUSINESS & TECHNOLOGY ALIGNMENT</li>
			</ul>
			<a href="/services/expert-advice">
			    <button class="btn btn-services-link">LEARN MORE</button>
			</a>
		    </div>
		</div>
	    </div>
            <div class="col-md-4">
		<div class="training-coaching service-card">
		    <div class="service-card-top">
			<img src="/assets/img/custom/home/services/training-coaching-icon.png" />
			<h2>Training & Coaching</h2>
		    </div>
		    <div class="service-card-bottom">
			<ul class="list-unstyled">
			    <li>TDD, CLEAN CODE & DESIGN</li>
			    <li>CLOUD, ARCHITECTURE & MICROSERVICES</li>
			    <li>MOBILE, JVM, .NET & DEVOPS</li>
			    <li>GROWING A CRAFTSMANSHIP CULTURE</li>
			</ul>
			<a href="/services/training">
			    <button class="btn btn-services-link">LEARN MORE</button>
			</a>
		    </div>
		</div>
	    </div>
        </div>
    </div>
</div>
<!-- clients panel -->
<div class="section">
    <div class="container">
        <div class="title-header">
            <h2>Clients &amp; Partners</h2>
        </div>
        <!-- Owl Carousel 2.0 -->
        <div class="owl-carousel owl-theme margin-bottom-20">
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/trinitymirror.png" alt="Trinity Mirror logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/asos-logo.jpg" alt="ASOS logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/tesco.png" alt="Tesco logo">
            </div>
            <div class="jetBrains-logo-carousel">
                <img class="img-responsive" src="/assets/img/custom/home/clients/jetbrainsLogo.png" alt="JetBrains logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/bts-logo.jpeg" alt="Barcelona Technology School logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/coniq.png" alt="Coniq logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/xebia.jpg" alt="Xebia logo">
            </div>
            <div>
                 <img class="img-responsive" src="/assets/img/custom/home/clients/crowdmix.jpg" alt="Crwodmix logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/ubs.png" alt="UBS logo">
            </div>
              <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/valtech.png" alt="Valtech logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/agilityinmind.png" alt="AgilityInMind logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/societygenerale.jpg" alt="Society Generale logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/skillsmatter.jpg" alt="Skills Matter logo">
            </div>
            <div>
                <img class="img-responsive" src="/assets/img/custom/home/clients/flextrade.png" alt="Flextrade logo">
            </div>
        </div>
        <!-- End Owl Carousel -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row jetBrains-blurb">
                    <h5>We are an official Jetbrains Consulting & Training Partner. <a href="/services/partners/jetbrains">Find out more</a></h5>.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- skill and practices panel -->
<div class="section dark-gray-section">
    <div class="container">
	<div class="title-header">
	    <h2 class="gray-underline">Our skills and practices</h2>
	</div>
	<div class="row">
	    <div class="col-md-4 col-md-offset-2">
		<div class="practice clearfix">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/agile_icn.png" />
		    <div class="practice-text">
			<h3>Agile / Lean</h3>
			<p>Scrum, Kanban</p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-4">
		<div class="practice clearfix">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/continuous_delivery_icn.png" />
		    <div class="practice-text">
			<h3>Continuous Delivery</h3>
			<p>Delivery pipeline, DevOps</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-4 col-md-offset-2">
		<div class="practice clearfix">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/xp_icn.png" />
		    <div class="practice-text">
			<h3>Extreme Programming</h3>
			<p>TDD, Pair Programming, CI</p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-4">
		<div class="practice">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/enterprise_icn.png" />
		    <div class="practice-text">
			<h3>Enterprise</h3>
			<p>Enterprise Achitecture, EPOS Systems</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-4 col-md-offset-2">
		<div class="practice clearfix">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/web_icn.png" />
		    <div class="practice-text">
			<h3>Web</h3>
			<p>Web Applications, Web Services, CMS</p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-4">
		<div class="practice clearfix">
		    <img class="practice-icon" src="/assets/img/custom/home/skillsandpractices/mobile_icn.png" />
		    <div class="practice-text">
			<h3>Mobile</h3>
			<p>Android, iOS</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-centered-120">
		<a href="/aboutus/ourpractices">
		    <button class="btn btn-block btn-practices">LEARN MORE</button>
		</a>
	    </div>
	</div>
    </div>
</div>

<!-- values panel-->
{{ content }}
<div class="section gray-section">
    <div class="container">
        <div class="title-header">
            <h2>Our values</h2>
        </div>
        <div class="row content-boxes">
            <div class="col-md-4 md-margin-bottom-30">
                <i class="fa fa-trophy fa-3x"></i>
                <div class="content-box">
                    <h3 class="heading-sm">QUALITY</h3>
                    <p>We don't negotiate on quality. Software must deliver more value with time and not be a source of increasing pain and cost.</p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <i class="fa fa-exchange fa-3x"></i>
                <div class="content-box">
                    <h3 class="heading-sm">COLLABORATION</h3>
                    <p>Successful software projects are a result of productive partnerships. Collaboration is at the heart of our development practices.</p>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <i class="fa fa-heart fa-3x"></i>
                <div class="content-box">
                    <h3 class="heading-sm">PASSION</h3>
                    <p>Software development is not just a job for us. It's our passion. We are proud of our work and we are constantly improving.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sponsoring panel -->
<div class="section">
    <div class="container">
	<div class="row">
	<div class="col-md-4 col-md-offset-1 margin-top-40">
	    <h2 style="text-align:center;">We are proud organisers of</h2>
	</div>
	<a href="http://www.londonswcraft.com">
	    <div class="col-md-2">
		<img class="img sponsoring-img" src="/assets/img/custom/home/london-software-craftsmanship-community-logo-small.png">
	    </div>
	    <div class="col-md-3 lscc-title">
		<p>London Software <br/>Craftsmanship Community</p>
	    </div>
	</a>
	<div class="col-md-2">
	    <a href="http://socratesuk.org">
		<img class="img sponsoring-img" src="/assets/img/custom/home/socrates-uk-logo-small.png">
	    </a>
	</div>
	</div>
    </div>
</div>

