---
layout: service_line
title: Title of service line | strapline for service line
title-es: Spanish title of service line | Spanish strapline for service line.
description: Description for service line.
description-es: Spanish description for service line.
image:
   src: /assets/custom/img/service-lines/service-line-example/meta-social-image.png
metarobots: noindex,nofollow
sitemap: false

intro:
  background-image-small: /assets/custom/img/service-lines/service-line-example/meta-social-image.png
  background-image-large: /assets/custom/img/service-lines/service-line-example/meta-social-image.png
  foreground-image-large: /assets/custom/img/service-lines/service-line-example/meta-social-image.png

curated_publications:
  location: 'service-line-example-page'

service-line: service-line-example

---

<section class="service-line__our-clients">
  {%- assign anchor_id = "how-we-help-our-clients" -%}
  {% include page_location_anchor.html anchor_id=anchor_id %}
  <div class="container">

    <h2 class="text-center--bp768 text-700 text-white">{% t software-modernisation.clients-title %}</h2>
    <p class="lead text-white text-center--bp768">
      {% t software-modernisation.clients-intro %}
    </p>

    <div class="case-studies__cases-wrapper g-pt-50">
      <div class="case-studies__case">
        <div
          class="case-studies__case-img-container"
          style="background-image: url(https://info.codurance.com/hubfs/thumb-eclinicalworks.png);"
        >
        </div>
        <div class="case-studies__case-text-container">
          <h3 class="h4 text-700">{% t software-modernisation.card-3-heading %}</h3>
          <p>{% t software-modernisation.card-3-subheading %}</p>
          {% assign href = site.translations[site.lang].software-modernisation.card-3-url %}
          {% assign text = site.translations[site.lang].software-modernisation.card-3-button %}
          {% include cta_primary_link.html class="case-studies__case-button" color='coral' target="_blank" href=href text=text %}
        </div>
      </div>
      <div class="case-studies__case">
        <div
          class="case-studies__case-img-container"
          style="background-image: url(https://cdn2.hubspot.net/hubfs/3042464/software-modernisation-lp-files/thumb-asos.png);"
        >
        </div>
        <div class="case-studies__case-text-container">
          <h3 class="h4 text-700">{% t software-modernisation.card-1-heading %}</h3>
          <p>{% t software-modernisation.card-1-subheading %}</p>
          {% assign href = site.translations[site.lang].software-modernisation.card-1-url %}
          {% assign text = site.translations[site.lang].software-modernisation.card-1-button %}
          {% include cta_primary_link.html class="case-studies__case-button" color='coral' target="_blank" href=href text=text %}
        </div>
      </div>
      <div class="wrap-break"></div>
      <div class="case-studies__case">
        <div
          class="case-studies__case-img-container"
          style="background-image: url(https://info.codurance.com/hubfs/thumb-mango.png);"
        >
        </div>
        <div class="case-studies__case-text-container">
          <h3 class="h4 text-700">{% t software-modernisation.card-2-heading %}</h3>
          <p>{% t software-modernisation.card-2-subheading %}</p>
          {% assign href = site.translations[site.lang].software-modernisation.card-2-url %}
          {% assign text = site.translations[site.lang].software-modernisation.card-2-button %}
          {% include cta_primary_link.html class="case-studies__case-button" color='coral' target="_blank" href=href text=text %}
        </div>
      </div>
      <div class="case-studies__case">
        <div
          class="case-studies__case-img-container"
          style="background-image: url(https://cdn2.hubspot.net/hubfs/3042464/software-modernisation-lp-files/thumb-BestSecret.jpg);"
        >
        </div>
        <div class="case-studies__case-text-container">
          <h3 class="h4 text-700">{% t software-modernisation.card-4-heading %}</h3>
          <p>{% t software-modernisation.card-4-subheading %}</p>
          {% assign href = site.translations[site.lang].software-modernisation.card-4-url %}
          {% assign text = site.translations[site.lang].software-modernisation.card-4-button %}
          {% include cta_primary_link.html class="case-studies__case-button" color='coral' target="_blank" href=href text=text %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service-line__testimonials">
  {%- assign anchor_id = "testimonials" -%}
  {% include page_location_anchor.html anchor_id=anchor_id %}

  {% capture title %}{% t software-modernisation.testimonials-heading %}{% endcapture %}
  {% capture description %}{% t software-modernisation.testimonials-subheading %}{% endcapture %}
  {% include section_intro.html class="service-line__testimonials-intro" description=description title=title %}

  <div class="container-slim center">
    <div class="flexslider">
    <ul class="slides box-shadow">
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-bestsecret-p1 %}</p>
        <p>{% t software-modernisation.testimonials-bestsecret-p2 %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.bestsecret-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-cazoo %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.cazoo-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-hedgefund %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.hedgefund-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-ecw %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.ecw-name-and-position %}</span>
      </li>
    </ul>
    </div>
  </div>
</section>
