---
layout: default
title: Services
---

<!-- Hero -->
<section class="bg-gradient-midnight-blue height-is-based-on-content">
  <div class="container g-z-index-1 g-py-100 text-center">
    <h1 class="services-hero-title g-font-weight-900 g-letter-spacing-1 g-mb-15">{%t services.title %}</h1>
    <div class="lead g-font-weight-400 g-line-height-2 g-letter-spacing-0_5">
      <p class="services-hero-sub-title mb-0">{%t services.subtitle %}</p>
    </div>
  </div>
</section>

<div class="section g-pt-0 g-pb-0"> 
  <div>
    {% include soft_mod_in_page_banner.html %}
  </div>
</div>

<!-- We advise, we coach, we deliver  -->
{% include_relative _includes/we_advise_coach_deliver.html %}


<!-- Our Expertise -->
<div class="section bg-gradient-midnight-blue">
  <div class="container">

    <div class="title-header">
      <h2 class="h3 g-color-white">{%t services.our-expertise.title %}</h2>
    </div>

    <div class="lead g-mb-20 text-center g-color-white">
        {%t services.our-expertise.subtitle %}
    </div>

    <div class="row">
      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-bespoke.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">Bespoke Software</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Quality Product Development</li>
            <li class="g-color-white g-py-5">Enterprise Systems Engineering</li>
            <li class="g-color-white g-py-5">Fast Prototyping</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-continuous-delivery.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">Continuous Delivery</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Continuous Delivery Pipeline</li>
            <li class="g-color-white g-py-5">Pragmatic Testing Strategy</li>
            <li class="g-color-white g-py-5">Frequent Low Risk Deployments</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-modernisation.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">Software Modernisation</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Monolith to Microservices</li>
            <li class="g-color-white g-py-5">Reviving EOL to Strategic</li>
            <li class="g-color-white g-py-5">Migration from Legacy</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-cloud.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">Cloud Engineering</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Migration to Cloud</li>
            <li class="g-color-white g-py-5">Serverless Architecture</li>
            <li class="g-color-white g-py-5">Infrastructure as Code</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-ux.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">UX Design</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Lean UX Development</li>
            <li class="g-color-white g-py-5">UX Research</li>
            <li class="g-color-white g-py-5">UI Design</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center g-pa-10 g-px-30--lg g-py-40--lg">
          <img class="icon-md" src="{{ '/assets/custom/img/home/icon-upskill.svg' | prepend: site.baseurl }}">
          <h3 class="h5 g-color-white g-mb-10 g-font-weight-900">Upskill</h3>
          <ul class="list-unstyled g-px-30 g-mb-0">
            <li class="g-color-white g-py-5">Clean Code and Refactoring</li>
            <li class="g-color-white g-py-5">Cloud Deployment Strategies</li>
            <li class="g-color-white g-py-5">Software Design and Testing</li>
          </ul>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>

  </div>
</div>





<!-- Clients panel -->
<div class="section">
  <div class="container">

    <div class="title-header">
      <h2 class="h3">{% t index-clients.title %}</h2>
    </div>

    <div class="row">
      {% for client in site.data.clients %}
      <div class="col-md-2 col-md-2--2up-mobile text-center u-pad-none">
        <img class="index-client-logo g-pa-25 g-mb-0--sm" src="{{ client.image | prepend: site.baseurl }}" alt="{{ client.alt-text }}">
      </div>
      {% endfor %}
    </div>

  </div><!-- end container -->
</div><!-- end section -->





<!-- We advise-->
<div class="services-section">
  <div class="section">
      <!-- Expert Advice -->
      <a name="we-advise" class="anchor"></a>
      <div class="services-expert-advice">
        <div class="container">
          <div class="row no-gutters">
            <div class="g-hidden-md-down col-5"></div>

            <div class="col-12 col-lg-7 g-py-75 g-px-80--lg bg-gradient-midnight-blue">
              <header class="g-mb-25">
                <div class="g-mb-40">
                  <h2 class="h1 g-color-white mb-0 g-font-weight-900">{%t services.we-advise.title %}</h2>
                </div>
              </header>
              <div class="row align-items-stretch">
                <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <!-- Article -->
                  <article
                          class="h-100 g-flex-middle g-transition-0_3">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-advise.high-level-consulting.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-advise.high-level-consulting.body %}</p>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <!-- Article -->
                  <article
                          class="h-100 g-flex-middle g-transition-0_3">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-advise.technical-vision.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-advise.technical-vision.body %}</p>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <!-- Article -->
                  <article
                          class="h-100 g-flex-middle g-transition-0_3">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-advise.discovery-phase.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-advise.discovery-phase.body %}</p>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <!-- <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <article
                          class="h-100 g-flex-middle g-brd-left g-brd-3 g-brd-primary g-brd-white--hover g-transition-0_3 g-px-20">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-advise.technical-coaching.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-advise.technical-coaching.body %}</p>
                    </div>
                  </article>
                </div> -->

                <div class="col-sm-12">
                  {% include button.html href="#get-in-touch" text="services.contact-us.title" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- We coach -->
<a name="we-coach" class="anchor"></a>
<div class="services-section">
    <div class="section">
      <!-- Header Expert Advice -->
      <div class="container g-mb-50">
        <div class="services-two-col-content">
          <div class="row">  
            <div class="col-lg-6 g-mb-50 g-mb-0--lg">
              <header class="g-mb-25">
                <div>
                  <h2 class="h1 mb-0 g-font-weight-900">{%t services.we-coach.title %}</h2>
                </div>
              </header>
              <div class="mb-5">
                  <p class="lead g-mb-20">{%t services.we-coach.subtitle %}</p>
                  <p class="">{%t services.we-coach.body %}</p>
          
                  <ul class="list-unstyled g-font-size-13 mb-0">
                    <li>
                      <i class="d-inline-block g-color-primary mr-2 mb-1 fa fa-check"></i>
                      {%t services.we-coach.trainings.title1 %}
                    </li>
                    <li>
                      <i class="d-inline-block g-color-primary mr-2 mb-1 fa fa-check"></i>
                      {%t services.we-coach.trainings.title2 %}                    
                    </li>
                    <li>
                      <i class="d-inline-block g-color-primary mr-2 mb-1 fa fa-check"></i>
                      {%t services.we-coach.trainings.title3 %}
                    </li>
                  </ul>
              </div>
              <a class="btn btn-more btn-more-light" 
                href="{{ '/services/training/' | prepend: site.baseurl }}"><span>{%t services.learn-more %}</span></a>
            </div>
  
            <div class="col-lg-6 align-self-top">
              <img class="img-fluid" src="{{site.baseurl}}/assets/custom/img/services/advice_delivery_02.jpg" alt="We coach">
            </div>
  
          </div>
        </div>
      </div>
</div>

<!-- We deliver -->
<div class="services-section">
    <div class="section">
      <!-- Effective Delivery -->
      <a name="we-deliver" class="anchor"></a>
      <div class="services-effective-delivery">
        <div class="container">
          <div class="row no-gutters">
            <div class="g-hidden-md-down col-5"></div>
            <div class="col-12 col-lg-7 g-py-75 g-px-80--lg bg-gradient-midnight-blue">
              <header class="g-mb-25">
                <div class="g-mb-40">
                  <h2 class="h1 g-color-white mb-0 g-font-weight-900">{%t services.we-deliver.title %}</h2>
                </div>
              </header>
              <div class="row align-items-stretch">
                <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <!-- Article -->
                  <article
                          class="h-100 g-flex-middle g-transition-0_3">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-deliver.feature-delivery.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-deliver.feature-delivery.body %}</p>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-12 g-mb-25 g-mb-50--md">
                  <!-- Article -->
                  <article
                          class="h-100 g-flex-middle g-transition-0_3">
                    <div class="g-flex-middle-item">
                      <h4 class="h6 g-color-white g-font-weight-600 text-uppercase g-mb-10">{%t services.we-deliver.technical-delivery.title %}</h4>
                      <p class="g-color-white-opacity-0_7 mb-0">{%t services.we-deliver.technical-delivery.body %}</p>
                    </div>
                  </article>
                  <!-- End Article -->
                </div>

                <div class="col-sm-12">
                  {% include button.html href="#get-in-touch" text="services.contact-us.title" %}
                </div>
              </div>
            </div>
            <div class="g-hidden-md-down col-lg-4 col-xl-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include contact_form.html %}
</div>
