.accordion {
  @include lateral-spacing;
  @include max-width;
  max-width: 1000px;
}

.accordion__panel {
  border-bottom: 1px solid $grey--light;

  &:last-of-type {
    border-bottom: none;
  }

  @include small-and-medium {
    min-height: 2em;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.accordion-panel__inner {
  transition: opacity 0.3s ease-in-out;
}

.accordion-panel__header {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  cursor: pointer;

  &::after,
  &::before {
    background-color: $coral;
    content: '';
    height: 2px;
    right: 0;
    position: absolute;
    top: calc(50% - 6px);
    width: 25px;
    transition: transform 500ms ease;
    transform-origin: center;
  }

  .accordion-panel:not(.active) & {
    &::after {
      transform: rotate(-90deg);
    }

    &::before {
      transform: rotate(-180deg);
    }
  }

  .accordion-panel.active & {
    &::after,
    &::before {
      transform: rotate(0);
    }
  }
}

.accordion-panel__main {
  @include small {
    @include base-reg;
  }
  @include medium-large-and-extra-large {
    @include mercer-reg;
  }

  .accordion-panel:not(.active) & {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .accordion-panel.active & {
    height: auto;
    opacity: 1;
    padding-bottom: 40px;
    visibility: visible;
  }
}

.accordion-panel__title {
  @include small {
    @include base-bold;
  }

  @include medium-large-and-extra-large {
    @include freed-bold;
  }

  pointer-events: none;
}
