.announcement-slice {
  background-image: url("#{$site-base-url}/assets/custom/img/services/software-modernisation/bg-announcement-slice-softmod.jpg");
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-size: cover;
  line-height: 1.5em;
  text-align: center;

  @media (min-width: 580px) {
    line-height: 34px;

    a {
      margin-left: 5px;
    }
  }
}

.announcement-slice__inner {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;

  @media (min-width: 1024px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.announcement-slice__icon {
  display: none;
  fill: transparent;
  float: left;
  margin-right: 15px;
  stroke-width: 5px;
  stroke: white;
  width: 30px;

  @media (min-width: 580px) {
    display: block;
  }
}