.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;
  overflow: hidden;
}

.card__image-link {
  display: block;
}

.card__image {
  background-size: cover;
  background-position: center center;
  display: block;
  height: 0;
  padding-top: 230 / 370 * 100%;
}

.card__title {
  @include freed-bold;
  margin-top: 40px;
  margin-bottom: 25px;
  height: 75px;
  overflow: hidden;
}

.card__description {
  background-color: rgba(0, 255, 0, 0.1);
}

.card__cta--text {
  background-color: rgba(0, 255, 0, 0.1);
}
