.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;
  overflow: hidden;
}

.card__image-link {
  display: block;
}

.card__image {
  background-position: center center;
  background-size: cover;
  display: block;
  height: 0;
  margin-bottom: 40px;
  padding-top: 230 / 370 * 100%;
}

$card-lateral-internal-spacing: 30px;

.card__title {
  @include mercer-bold;
  height: 70px;
  margin: 0 $card-lateral-internal-spacing 20px;
  overflow: hidden;
}

.card__description {
  @include base-reg;
  height: 55px;
  margin: 0 $card-lateral-internal-spacing 45px;
  overflow: hidden;
}

.card__cta--text {
  @include base-bold;
  color: $grey-dark;
  height: 25px;
  margin: 0 $card-lateral-internal-spacing 35px;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  .card__cta-decoration {
    left: 10px;
    position: relative;
    top: -5px;
    width: 25px;

    &,
    &:after,
    &:before {
      background-color: $grey-dark;
      height: 2px;
      display: inline-block;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: 9px;
    }

    &:after {
      top: -4px;
      transform: rotate(45deg);
    }
    &:before {
      bottom: -4px;
      transform: rotate(-45deg);
    }
  }
}
