.clients {
  @include small {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  @include medium-large-and-extra-large {
    padding-top: 65px;
    padding-bottom: 2 * $vertical-overlap;
  }
}

.clients__logo-container {
  @include max-width--out-there;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;

  @include small {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.clients__logo {
  @include small {
    flex-basis: 30%;
    max-width: 150px;
  }
  @include medium-large-and-extra-large {
    flex-basis: 115px;
    margin: 10px 30px;
  }
}