.clients-teaser {
  text-align: center;

  .section-intro__title {
    text-align: center;
  }
}

.clients-teaser__logo-container {
  @include max-width--out-there;
  @include lateral-spacing;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.clients-teaser__logo {
  filter: grayscale(100%);
  opacity: 0.8;
  width: 115px;

  @include small {
    flex-basis: calc((100% - (3 * 40px)) / 3);
    margin: 10px 20px;
  }
  @include medium {
    flex-basis: calc((100% - (4 * 50px)) / 4);
    margin: 10px 25px;
  }
  @include large-and-extra-large {
    flex-basis: calc((100% - (6 * 60px)) / 6);
    margin: 10px 30px;
  }
}

.clients-teaser__cta {
  @include small {
    margin: 20px $lateral-space--small;
  }
  @include medium-large-and-extra-large {
    display: inline-block;
    margin-top: 20px;
  }
}
