$coral: #fb7268;
$coral--light: #fb8e86;
$grey--dark: #404040;
$navy: #0e4072;
$navy--light: #26598c;
$slate: #2b3342;

$codurance-orange: #ef7726;
$codurance-red: #d60d47;
$codurance-green: #185466;
$codurance-midnightblue: #0a0b3c;
