$coral--light: #fb8e86;
$coral: #fb7268;
$green: #185466;
$grey--dark: #404040;
$grey--light: #b7b7b7;
$midnightblue: #0a0b3c;
$navy--light: #26598c;
$navy--ultralight: #e6e8eb;
$navy: #0e4072;
$orange: #ef7726;
$off-white: #efefef;
$red: #d60d47;
$slate: #2b3342;
$slate-light: #46515f;
