$coral--light: #fb8e86;
$coral: #fb7268;
$green: #185466;
$grey--dark: #404040;
$midnightblue: #0a0b3c;
$navy--light: #26598c;
$navy: #0e4072;
$off-black: #2B2C2D;
$orange: #ef7726;
$red: #d60d47;
$slate: #2b3342;