$coral--light: #fb8e86;
$coral: #fb7268;
$green: #185466;
$grey--dark: #404040;
$midnightblue: #0a0b3c;
$navy--light: #26598c;
<<<<<<< HEAD
$navy: #0e4072;
$orange: #ef7726;
$red: #d60d47;
$slate: #2b3342;
=======
>>>>>>> parent of 246d70fd... Amend colours to initial items
