.compass-teaser {
  @include max-width--column;
  background-color: $coral;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("#{$site-base-url}/assets/custom/img/softmod/bg-compass-cta.jpg");
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include small {
    padding: 50px 25px;
  }
  @include medium-large-and-extra-large {
    padding: 50px;
    position: relative;
    top: #{-2 * $vertical-overlap};
  }
}

.compass-teaser__description {
  @include mercer-reg;
  color: white;
  margin-bottom: 25px;
}

.blog-post-compass-teaser {
  background-color: $coral;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("#{$site-base-url}/assets/custom/img/softmod/bg-compass-cta.jpg");
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
}
