@mixin cta {
  @include bold;
  font-size: 20px;
  padding: 20px 35px;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include small {
    display: block;
  }

  @include medium-large-and-extra-large {
    display: inline-block;
  }
}

@mixin secondary {
  background: transparent;
  border-style: solid;
  border-width: 2px;
}

@mixin secondary-light {
  &,
  &:hover,
  &:focus {
    color: white;
    border-color: white;
  }
}

@mixin secondary-dark {
  &,
  &:hover,
  &:focus {
    color: $grey-dark;
    border-color: $grey-dark;
  }
}

@mixin cta__secondary-light {
  @include cta;
  @include secondary;
  @include secondary-light;
}

@mixin cta__secondary-dark {
  @include cta;
  @include secondary;
  @include secondary-dark;
}
