.curated-publications {
  padding-top: 50px;
}

.curated-publications__intro {
  padding-bottom: 50px;
}

.curated-publications__hero {
  @include small {
    display: none;
  }
  @include medium-large-and-extra-large {
    margin-bottom: 70px;
  }
}

.curated-publications__cards {
  @include medium-large-and-extra-large {
    margin-bottom: -150px;
  }
}

.curated-publications__cta-space {
  @include lateral-spacing;
  text-align: center;

  @include small {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  @include medium-large-and-extra-large {
    background-color: $slate;
    padding-bottom: 100px;
    padding-top: 165px;
  }

  @include medium {
    padding-top: 165px;
  }

  @include large-and-extra-large {
    padding-top: 210px;
  }
}

.curated-publications__cta {
  @include small {
    @include cta--secondary-dark;
  }
  @include medium-large-and-extra-large {
    @include cta--secondary-light;
  }
}
