.curated-publications {
  background: $sheen;
}

.curated-publications--cards {
  @include medium-large-and-extra-large {
    margin-bottom: -150px;
  }
}

.curated-publications--cta-space {
  @include lateral-spacing;
  text-align: center;

  @include small {
    padding-bottom: 50px;
  }
  @include medium-large-and-extra-large {
    background-color: #1e2631;
    padding-top: 225px;
    padding-bottom: 120px;
  }
}

.curated-publications--cta {
  margin-bottom: 30px;
  margin-top: 30px;

  @include small {
    @include cta__secondary-dark;
  }
  @include medium-large-and-extra-large {
    @include cta__secondary-light;
  }
}
