.curated-publications {
  background-color: rgba(0, 255, 0, 0.1);
}

.curated-publications--intro {
}

.curated-publications--cards {
  background-color: rgba(0, 255, 0, 0.1);
}

.curated-publications--card {
  background-color: rgba(0, 255, 0, 0.1);
}

.curated-publications--cta {
  background-color: rgba(0, 255, 0, 0.1);
}
