.curated-publications {
  padding-top: 50px;
}

.curated-publications__intro {
  padding-bottom: 50px;
}

.curated-publications__hero {
  @include small {
    display: none;
  }
  @include medium-large-and-extra-large {
    margin-bottom: 70px;
  }
}

.curated-publications__cards {
  @include medium-large-and-extra-large {
    margin-bottom: -150px;
  }
}

.curated-publications__cta-space {
  @include lateral-spacing;
  text-align: center;
  padding-bottom: 50px;
  @include medium-large-and-extra-large {
    background-color: $slate;
    padding-top: 200px;
  }
}

.curated-publications__cta {
  margin-bottom: 30px;
  margin-top: 30px;

  @include small {
    @include cta--secondary-dark;
  }
  @include medium-large-and-extra-large {
    @include cta--secondary-light;
  }
}
