@function tint($color, $percentage) {
    @return mix($color, white, $percentage);
}

$codurance-orange: #ef7726;
$codurance-orange-tint-80: tint($codurance-orange, 80%);
$codurance-orange-tint-60: tint($codurance-orange, 60%);
$codurance-orange-tint-40: tint($codurance-orange, 40%);
$codurance-orange-tint-20: tint($codurance-orange, 20%);

$codurance-red: #d60d47;
$codurance-red-tint-80: tint($codurance-red, 80%);
$codurance-red-tint-60: tint($codurance-red, 60%);
$codurance-red-tint-40: tint($codurance-red, 40%);
$codurance-red-tint-20: tint($codurance-red, 20%);

$codurance-yellow: #ffd000;
$codurance-yellow-tint-80: tint($codurance-yellow, 80%);
$codurance-yellow-tint-60: tint($codurance-yellow, 60%);
$codurance-yellow-tint-40: tint($codurance-yellow, 40%);
$codurance-yellow-tint-20: tint($codurance-yellow, 20%);

$codurance-aubergine: #5c64b9;
$codurance-aubergine-tint-80: tint($codurance-aubergine, 80%);
$codurance-aubergine-tint-60: tint($codurance-aubergine, 60%);
$codurance-aubergine-tint-40: tint($codurance-aubergine, 40%);
$codurance-aubergine-tint-20: tint($codurance-aubergine, 20%);

$codurance-green: #185466;
$codurance-green-tint-80: tint($codurance-green, 80%);
$codurance-green-tint-60: tint($codurance-green, 60%);
$codurance-green-tint-40: tint($codurance-green, 40%);
$codurance-green-tint-20: tint($codurance-green, 20%);

$codurance-lightgreen: #61bfbb;
$codurance-lightgreen-tint-80: tint($codurance-lightgreen, 80%);
$codurance-lightgreen-tint-60: tint($codurance-lightgreen, 60%);
$codurance-lightgreen-tint-40: tint($codurance-lightgreen, 40%);
$codurance-lightgreen-tint-20: tint($codurance-lightgreen, 20%);

