.get-in-touch {
  background-color: $slate;

  @include medium-large-and-extra-large {
    padding-top: #{(0.5 * $vertical-overlap)};
  }

  .page-location-anchor {
    @include small {
      top: -30px;
    }

    @include large {
      top: -30px;
    }
  }
}

.get-in-touch__inner {
  @include max-width--column;
  background-color: white;
  padding-bottom: 100px;

  @include small {
    padding-top: 50px;
  }
  @include medium-large-and-extra-large {
    margin-top: #{(-1.5 * $vertical-overlap)};
    padding-top: 60px;
  }
}

.get-in-touch__form {
  @include lateral-spacing;

  @include small {
    padding-top: 40px;
  }
  @include medium-large-and-extra-large {
    padding-top: 50px;
  }

  .hbspt-form,
  .hs-form-iframe {
    width: 100% !important;
  }

  .hs-form-58727484-8758-489d-acfa-9a4956308ce6_6145720f-1db3-4a25-a9e5-3edb3baa1ecf
    .hs-main-font-element,
  .submitted-message.hs-main-font-element {
    border: 1px solid #fb7268 !important;
    text-align: center !important;
    width: 94% !important;
    display: block !important;
    padding: 10px !important;
    margin-bottom: 20px !important;
  }
}
