body {
  color: $off-black;
  font-size: 15px;
  font-family: proxima-nova, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $coral;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin-top: 0;
 margin-bottom: 1rem;
}