body {
  color: $off-black;
  font-size: 15px;
  font-family: proxima-nova, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $coral;
}