.hero-teaser {
  background: $sheen;
}

.hero-teaser__inner {
  @include max-width--out-there;
  position: relative;

  @include medium-large-and-extra-large {
    &::after {
      background-color: #fda09b;
      background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-mountain-texture.jpg");
      background-size: cover;
      content: "";
      position: absolute;
    }
  }
  @include medium {
    padding-bottom: #{100px + 40px};
    padding-left: #{23px};
    padding-right: #{23px + 25px};
    padding-top: #{100px + 40px};

    &::after {
      bottom: #{100px + 15px};
      left: 50%;
      right: 23px;
      top: #{100px + 15px};
    }
  }
  @include large-and-extra-large {
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: #{100px + 40px};

    &::after {
      bottom: #{100px + 25px};
      left: 105px;
      right: 50%;
      top: #{100px + 40px};
    }
  }
}

.hero-teaser__image {
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/SoftMod__Webinar-CTA.png");
  background-size: cover;

  @include small {
    height: 0;
    padding-top: 230 / 360 * 100%;
  }
  @include medium-large-and-extra-large {
    position: absolute;
    z-index: 10;
  }
  @include medium {
    bottom: 100px;
    left: 23px;
    top: 100px;
    width: calc(60% - (2 * 23px));
  }
  @include large-and-extra-large {
    bottom: #{100px + 40px};
    left: 50px;
    top: 100px;
    width: calc(57% - (2 * 50px));
  }
}

.hero-teaser__content {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;

  @include small {
    padding-left: 23px;
    padding-right: 23px;
  }
  @include medium-large-and-extra-large {
    position: relative;
    z-index: 20;
  }
  @include medium {
    margin-left: 40%;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include large-and-extra-large {
    margin-left: 43%;
    padding-left: 56px;
    padding-right: 56px;
  }
}

.hero-teaser__content-type {
  @include ponti-bold;

  @include small {
    color: white;
    right: 16px;
    position: absolute;
    top: 30px;
  }
  @include medium-large-and-extra-large {
    color: $coral;
    margin: 0 0 30px;
  }
}

.hero-teaser__title {
  @include freed-bold;
  color: $grey--dark;

  @include small {
    margin: 0 0 20px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 15px;
  }
}

.hero-teaser__description {
  @include mercer-reg;
  color: $grey--dark;

  @include small {
    margin: 0 0 35px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 25px;
  }
}
