.hero-teaser {
  position: relative;

  @include medium-large-and-extra-large {
    background: $sheen;
    padding: #{100px + 40px} #{23px + 25px};

    &::after {
      background-color: #fda09b;
      bottom: #{100px + 15px};
      content: "";
      position: absolute;
      right: 23px;
      top: #{100px + 15px};
      width: 50%;
    }
  }
}

.hero-teaser__image {
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/SoftMod__Webinar-CTA.png");
  background-size: cover;

  @include small {
    height: 0;
    padding-top: 230 / 360 * 100%;
  }
  @include medium-large-and-extra-large {
    bottom: 100px;
    position: absolute;
    top: 100px;
    width: 50%;
    z-index: 10;
  }
}

.hero-teaser__content {
  background-color: white;
  padding-bottom: 40px;
  padding-top: 40px;

  @include small {
    @include lateral-spacing;
  }
  @include medium-large-and-extra-large {
    margin-left: 50%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 20;
  }
}

.hero-teaser__content-type {
  @include ponti-bold;

  @include small {
    color: white;
    right: 16px;
    position: absolute;
    top: 30px;
  }
  @include medium-large-and-extra-large {
    color: $coral;
    margin: 0 0 30px;
  }
}

.hero-teaser__title {
  @include freed-bold;
  color: $grey--dark;

  @include small {
    margin: 0 0 20px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 15px;
  }
}

.hero-teaser__description {
  @include mercer-reg;
  color: $grey--dark;

  @include small {
    margin: 0 0 35px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 25px;
  }
}
