.hubspot-in-page-banner .cta_button {
  @include cta;
  @include primary;
  @include primary-navy;
}

.hubspot-header-banner-cta .cta_button {
  @include bold;
  border-bottom: 1px solid #ffffff;
  border: none;
  color: white;
  font-size: 15px;
  padding: 0;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}