.hubspot-header-banner-cta .cta_button {
  @include bold;
  border-bottom: 1px solid #ffffff;
  border: none;
  color: white;
  font-size: 15px;
  padding: 0;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.hubspot-cta--primary-navy .cta_button {
  @include cta--primary-navy;
}

.hubspot-cta--primary-coral .cta_button {
  @include cta--primary-coral;
}