.hubspot-header-banner-cta .cta_button {
  @include bold;
  border-bottom: 1px solid $coral;
  color: white;
  font-size: 15px;
  padding: 0;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.hubspot-cta--primary-navy .cta_button {
  @include cta--primary-navy;
}

.hubspot-cta--primary-coral .cta_button {
  @include cta--primary-coral;
}

.hubspot-case-study-cta .cta_button {
  @include cta--primary-coral;
  width: 100%;
}

.hubspot-publications-cta .cta_button {
  @include base-bold;
  color: $grey--dark;
  display: inline-block;
  padding: 0 30px 30px;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &::after {
    background: url("#{$site-base-url}/assets/custom/img/services/learn-more-arrow.svg");
    background-repeat: no-repeat;
    content: "";
    height: 18px;
    position: absolute;
    transform: translateX(10px) translateY(5px);
    width: 190px;
  }
}
