$banner-height: 300px;

.in-page-banner {
  min-height: $banner-height;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}

.in_page_banner__image {
  @include small {
    display: none;
  }

  @include medium-large-and-extra-large {
    background-size: cover;
    float: left;
    height: $banner-height;

    .in-page-banner--even & {
      width: 50%;
    }

    .in-page-banner--right-heavy & {
      width: 30%;
    }
  }
}

.in_page_banner__main {
  @include lateral-spacing;
  align-items: center;
  background-color: $coral;
  display: flex;
  height: $banner-height;
  justify-content: center;
  text-align: center;

  @include medium-large-and-extra-large {
    float: left;

    .in-page-banner--even & {
      width: 50%;
    }

    .in-page-banner--right-heavy & {
      width: 70%;
    }
  }
}

.in_page_banner__inner {
  max-width: 500px;
}

.in_page_banner__title {
  @include mercer-bold;
  color: white;
  margin: 0 0 10px;
}

.in_page_banner__description {
  @include base-reg;
  color: white;
  margin: 0 0 30px;
}
