.section-intro {
  @include lateral-spacing;
  @include max-width--column;
  text-align: left;

  @include medium-large-and-extra-large {
    text-align: center;
  }
}

.section-intro__title {
  @include mercer-bold--responsive;
  margin-top: 0;

  @include small {
    margin-bottom: 25px;
  }
  @include medium-large-and-extra-large {
    margin-bottom: 15px;
  }
}

.section-intro__description {
  @include base-reg--responsive;
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
