.section-intro {
  @include lateral-spacing;
  @include max-width;

  @include small {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  @include medium {
    padding-top: 95px;
    padding-bottom: 65px;
  }
  @include large-and-extra-large {
    padding-top: 145px;
    padding-bottom: 75px;
  }
}

.section-intro__title {
  @include mercer-bold--responsive;
  margin-top: 0;

  @include small {
    margin-bottom: 25px;
  }

  @include medium-large-and-extra-large {
    margin-bottom: 20px;
    text-align: center;
  }
}

.section-intro__description {
  @include base-reg--responsive;

  @include medium-large-and-extra-large {
    text-align: center;
  }
}
