.section-intro {
  background-color: rgba(255, 0, 255, 0.1);
}

.section-intro--title {
  background-color: rgba(255, 0, 255, 0.1);
}

.section-intro--description {
  background-color: rgba(255, 0, 255, 0.1);
}
