.section-intro {
  @include lateral-spacing;
  @include max-width;

  @include small {
    padding-top: 71px;
    padding-bottom: 64px;
  }
  @include medium {
    padding-top: 95px;
    padding-bottom: 66px;
  }
  @include large-and-extra-large {
    padding-top: 145px;
    padding-bottom: 75px;
  }
}

.section-intro--title {
  @include freed__bold;
  @include medium-large-and-extra-large {
    text-align: center;
  }
}

.section-intro--description {
  @include medium-large-and-extra-large {
    text-align: center;
  }
}
