.services-training {
  background-color: $navy;
  background-image: url("#{$site-base-url}/assets/custom/img/services/training-bg.png");
  background-position: center;
  background-size: cover;
  margin-top: -$vertical-overlap * 3;
  padding-bottom: $vertical-overlap;
  padding-top: ($vertical-overlap * 3) + 50px;
}

.services-effective-delivery {
  padding-top: 50px;
}

.services-compass-cta {
  background: $slate;

  @include medium-large-and-extra-large {
    padding-top: $vertical-overlap;
  }
}
