.service-line-teaser-group {
  @include max-width--out-there;

  @include small-and-medium {
    display: flex;
  }
  @include small {
    flex-direction: column;
  }
  @include medium {
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }
  & .service-line-teaser-card:nth-of-type(odd){
      .service-line-teaser-card__image{
        background-position: left center;

        @include large-and-extra-large {
          left: 0;
        }
      }
      .service-line-teaser-card__content{
        @include large-and-extra-large {
          margin-left: 43%;
        }
      }
  }
  & .service-line-teaser-card:nth-of-type(even){
      .service-line-teaser-card__image{
        background-position: right center;

        @include large-and-extra-large {
          left: auto;
          right: 0;
        }
      }
      .service-line-teaser-card__content{
        @include large-and-extra-large {
          margin-left: 0;
          margin-right: 43%;
        }
      }
  }
}
