.services__curated-publications {
  @include small {
    .page-location-anchor {
      top: calc(0px - #{$site-navbar-height-base});
    }
  }
}

.services__curated-publications--one-publication {
  .compass-teaser + & {
    margin-top: -150px;
  }

  @include small {
    display: none;

    .page-location-anchor {
      top: calc(0px - #{$site-navbar-height-base});
    }
  }
}
