.service-line-teaser-group {
  @include max-width--out-there;

  @include small-and-medium {
    display: flex;
  }
  @include small {
    flex-direction: column;
  }
  @include medium {
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.service-line-teaser-group__card {
  position: relative;

  @include medium {
    margin-bottom: 30px;
    width: calc(50% - 15px);
  }
  @include large-and-extra-large {
    margin-bottom: 50px;
    padding-top: 40px;

    &::after {
      background-color: #fda09b;
      background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-mountain-texture.jpg");
      background-size: cover;
      bottom: 25px;
      content: "";
      position: absolute;
      top: 40px;
    }
  }
}

.service-line-teaser-group__card:nth-of-type(odd)::after {
  @include large-and-extra-large {
    left: $lateral-space--large;
    right: 50%;
  }
}

.service-line-teaser-group__card:nth-of-type(even)::after {
  @include large-and-extra-large {
    left: 50%;
    right: $lateral-space--large;
  }
}

.service-line-teaser-group__card-image {
  @include small-and-medium {
    display: none;
  }
  @include large-and-extra-large {
    background-color: #aaa;
    background-size: cover;
    bottom: 40px;
    position: absolute;
    top: 0;
    width: 57%;
    z-index: 10;
  }

  .service-line-teaser-group__card:nth-of-type(odd) & {
    background-position: left center;

    @include large-and-extra-large {
      left: 0;
    }
  }

  .service-line-teaser-group__card:nth-of-type(even) & {
    background-position: right center;

    @include large-and-extra-large {
      left: auto;
      right: 0;
    }
  }
}

.service-line-teaser-group__card-content {
  background-color: $slate;

  &::before {
    background-color: $slate;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  @include small {
    padding-bottom: 65px;
    padding-left: $lateral-space--small;
    padding-right: $lateral-space--small;
    padding-top: 60px;
    text-align: center;
  }
  @include small-and-medium {
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 20;

    &::before {
      mix-blend-mode: multiply;
      opacity: 0.8;
    }
  }
  @include medium {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 35px 40px 50px;
  }
  @include large-and-extra-large {
    @include style-card-box-shadow;
    position: relative;
    z-index: 20;
    padding-bottom: 60px;
    padding-left: $lateral-space--large;
    padding-right: $lateral-space--large;
    padding-top: 60px;
    &::before {
      opacity: 1;
    }
  }

  .service-line-teaser-group__card:nth-of-type(odd) & {
    @include large-and-extra-large {
      margin-left: 43%;
    }
  }

  .service-line-teaser-group__card:nth-of-type(even) & {
    @include large-and-extra-large {
      margin-right: 43%;
    }
  }
}

.service-line-teaser-group__card-content-type {
  @include ponti-bold;
  align-items: center;
  color: $coral;
  display: flex;
  flex-direction: row;

  @include small {
    justify-content: center;
    margin-bottom: 40px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 30px;
  }
}

.service-line-teaser-group__card-title,
.service-line-teaser-group__card-description {
  color: white;
}

.service-line-teaser-group__card-title {
  @include freed-bold;

  @include small {
    margin: 0 0 20px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 15px;
  }
}

.service-line-teaser-group__card-description {
  @include mercer-reg;

  @include small {
    margin: 0 0 35px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 25px;
  }
}
