.service-line-teaser-card {
  position: relative;

  @include medium {
    margin-bottom: 30px;
    width: calc(50% - 15px);
  }
  @include large-and-extra-large {
    margin-bottom: 50px;
    padding-top: 40px;
  }
}

.service-line-teaser-card__image {
  @include small-and-medium {
    display: none;
  }
  @include large-and-extra-large {
    background-color: #aaa;
    background-size: cover;
    bottom: 40px;
    position: absolute;
    top: 0;
    width: 57%;
    z-index: 10;
  }

  .service-line-teaser-card:nth-of-type(odd) & {
    background-position: left center;

    @include large-and-extra-large {
      left: 0;
    }
  }

  .service-line-teaser-card:nth-of-type(even) & {
    background-position: right center;

    @include large-and-extra-large {
      left: auto;
      right: 0;
    }
  }
}

.service-line-teaser-card__content {
  @include small {
    padding-bottom: 65px;
    padding-left: $lateral-space--small;
    padding-right: $lateral-space--small;
    padding-top: 60px;
    text-align: center;
  }
  @include small-and-medium {
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 20;

    &::before {
      background-color: $slate;
      bottom: 0;
      content: "";
      left: 0;
      mix-blend-mode: multiply;
      opacity: 0.8;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  @include medium {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 35px 40px 50px;
  }

  @include large-and-extra-large {
    @include style-card-box-shadow;
    background-image: none !important;
    position: relative;
    z-index: 20;
  }

  .service-line-teaser-card:nth-of-type(odd) & {
    @include large-and-extra-large {
      margin-left: 43%;
    }
  }

  .service-line-teaser-card:nth-of-type(even) & {
    @include large-and-extra-large {
      margin-right: 43%;
    }
  }
}
@include large-and-extra-large {
  .service-line-teaser-card__primary-content,
  .service-line-teaser-card__secondary-content {
    padding-left: $lateral-space--large;
    padding-right: $lateral-space--large;
  }
  .service-line-teaser-card__primary-content {
    background-color: $slate;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .service-line-teaser-card__secondary-content {
    background-color: $slate-light;
    padding-bottom: 60px;
    padding-top: 30px;
  }
}

.service-line-teaser-card__tag {
  @include ponti-bold;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;

  @include small {
    justify-content: center;
    margin-bottom: 40px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 30px;
  }
}

.service-line-teaser-card__title,
.service-line-teaser-card__description {
  color: white;
}

.service-line-teaser-card__title {
  @include freed-bold;

  @include small {
    margin: 0 0 20px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 15px;
  }
}

.service-line-teaser-card__description {
  @include mercer-reg;

  @include small {
    margin: 0 0 35px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 25px;
  }
}
