.service-line-icon {
  fill: white;
  width: 50px;

  .service-line-hero & {
    position: absolute;

    @include small-and-medium {
      fill: #ffffff;
    }
    @include large-and-extra-large {
      fill: #555555;
    }
    @include small {
      left: 0;
      top: -71px;
    }
    @include medium-large-and-extra-large {
      left: -67px;
      top: -3px;
    }
  }

  .service-line-teaser-group & {
    fill: white;
    margin-right: 20px;

    @include small-and-medium {
      width: 35px;
    }
  }
}
