.services-page-intro__image {
  background-color: #474b4a;
  background-position: center center;
  background-size: cover;

  @include small-and-medium {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-small-medium.jpg");
    height: 0;
    padding-top: 200 / 360 * 100%;
  }
  @include large-and-extra-large {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-large-extra-large.jpg");
  }
  @include large {
    height: 0;
    padding-top: 650 / 1820 * 100%;
  }
  @include extra-large {
    @include max-width--framed;
    height: 465px;
  }
}

$icon-image-width--large-extra-large: 180px;
$icon-image-height--large-extra-large: 208px;

.services-page-intro__icon--software-modernisation {
  background-image: url("#{$site-base-url}/assets/custom/img/services/software-modernisation-icon.png");
  width: $icon-image-width--large-extra-large;
  height: $icon-image-height--large-extra-large;
}
.services-page-intro__icon--software-delivery {
  background-image: url("#{$site-base-url}/assets/custom/img/services/software-delivery-icon.png");
}
.services-page-intro__icon--strategic-advice {
  background-image: url("#{$site-base-url}/assets/custom/img/services/strategic-advice-icon.png");
}
.services-page-intro__icon--specialist-expertise {
  background-image: url("#{$site-base-url}/assets/custom/img/services/specialist-expertise-icon.png");
}

.services-page-intro__text-container {
  @include max-width--out-there;
}

.services-page-intro__text-container-inner {
  background-color: white;

  @include small {
    padding: 50px $lateral-space--small;
  }
  @include medium {
    margin: -175px $lateral-space--medium 0;
    padding: 70px 65px;
  }
  @include large-and-extra-large {
    margin-top: -200px;
    padding: 95px 130px 110px;
  }
}

.services-page-intro__title-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include small {
    margin-bottom: 30px;
  }
  @include medium {
    margin-bottom: 40px;
  }
  @include large-and-extra-large {
    margin-bottom: 100px;
  }
}

.services-page-intro__title {
  @include small {
    @include freed-bold;
    margin-bottom: 30px;
  }
  @include medium {
    @include dudler-bold;
    margin-bottom: 35px;
  }
  @include large {
    @include gaudi-bold;
  }
  @include large-and-extra-large {
    width: calc(50% - (#{$lateral-space--large} / 2));
  }
  @include extra-large {
    @include habib-bold;
  }
}

.services-page-intro__sub-title {
  @include mercer-reg--responsive;

  @include large-and-extra-large {
    width: calc(50% - (#{$lateral-space--large} / 2));
  }
}

.services-page-intro__lead-in {
  @include base-reg--responsive;
  margin-bottom: 0;
  margin-top: 0;

  @include large-and-extra-large {
    @include max-width--column;
    clear: both;
    text-align: center;
  }
}
