$header-background-image-height--medium: 300px;
$header-background-image-height--large-and-extra-large: 694px;
$header-background--navigation-image-height--large-and-extra-large: 400px;
$text-container-inner-margin-top: -200px;

.services-page-intro__image {
  background-color: #474b4a;
  background-position: center center;
  background-size: cover;

  @include small-and-medium {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-small-medium-v2.jpg");  
  }

  @include large-and-extra-large {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-large-extra-large-v2.jpg");
  }

  @include extra-large {
    @include max-width--framed;
    width: 100%;
    height: $header-background-image-height--large-and-extra-large;
  }
}

.services-page-intro__navigation {
  @include max-width--out-there;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include small {
    padding: 5% 0;
  }

  @include medium {
    height: $header-background-image-height--medium;
  }

  @include large-and-extra-large {
    height: $header-background--navigation-image-height--large-and-extra-large;
  }
}

.services-page-intro__icon-container {
  @include small {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5%;
  }
}

$icon-image-width--small-medium: 100px;
$icon-image-height--small-medium: 115px;
$icon-image-width--large-extra-large: 130px;
$icon-image-height--large-extra-large: 150px;

.services-page-intro__navigation-link {
  @include small-and-medium {
    width: $icon-image-width--small-medium;
  }

  @include large-and-extra-large {
    width: $icon-image-width--large-extra-large;
  }
}

.services-page-intro__icon--software-modernisation {
  background-image: url("#{$site-base-url}/assets/custom/img/services/software-modernisation-hexagon.png");
}

.services-page-intro__icon--software-delivery {
  background-image: url("#{$site-base-url}/assets/custom/img/services/software-delivery-hexagon.png");
}

.services-page-intro__icon--strategic-advice {
  background-image: url("#{$site-base-url}/assets/custom/img/services/strategic-advice-hexagon.png");
}

.services-page-intro__icon--specialist-expertise {
  background-image: url("#{$site-base-url}/assets/custom/img/services/specialist-expertise-hexagon.png");
}

.services-page-intro__navigation-icon {
  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  @include small {
    width: $icon-image-width--small-medium;
  }

  @include small-and-medium {
    height: $icon-image-height--small-medium
  }

  @include large-and-extra-large {
    height: $icon-image-height--large-extra-large;
  }

  .service-line-icon {
    height: 55%;
  }
}

.services-page-intro__navigation-text {
  @include bold;
  color: white;
  text-align: center;
  
  @include small-and-medium {
    @include base;
    padding-top: 15px;
    width: $icon-image-width--small-medium;
  }

  @include large-and-extra-large {
    @include freed;
    padding-top: 30px;
    width: $icon-image-width--large-extra-large;
  }
}

.services-page-intro__text-container {
  @include max-width--out-there;
}

.services-page-intro__text-container-inner {
  background-color: white;

  @include small {
    padding: 50px $lateral-space--small;
  }
  @include medium {
    margin: 0 $lateral-space--medium;
    padding: 70px 65px;
  }
  @include large {
    padding: 95px 130px 110px;
  }

  @include extra-large {
    margin-top: $text-container-inner-margin-top;
    padding: 95px 130px 110px;
  }
}

.services-page-intro__title-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include small {
    margin-bottom: 30px;
  }
  @include medium {
    margin-bottom: 40px;
  }
  @include large-and-extra-large {
    margin-bottom: 100px;
  }
}

.services-page-intro__title {
  @include small {
    @include freed-bold;
    margin-bottom: 30px;
  }
  @include medium {
    @include dudler-bold;
    margin-bottom: 35px;
  }
  @include large {
    @include gaudi-bold;
  }
  @include large-and-extra-large {
    width: calc(50% - (#{$lateral-space--large} / 2));
  }
  @include extra-large {
    @include habib-bold;
  }
}

.services-page-intro__sub-title {
  @include mercer-reg--responsive;

  @include large-and-extra-large {
    width: calc(50% - (#{$lateral-space--large} / 2));
  }
}

.services-page-intro__lead-in {
  @include base-reg--responsive;
  margin-bottom: 0;
  margin-top: 0;

  @include large-and-extra-large {
    @include max-width--column;
    clear: both;
    text-align: center;
  }
}
