.service-line-icon {
  fill: white;
  width: 50px;

  .service-line-hero & {
    position: absolute;

    @include _DEPRECIATED_large {
      left: -67px;
      fill: #555555;
      top: -14px;
    }
    @include _DEPRECIATED_small {
      left: 0px;
    }
  }

  .teaser-group & {
    fill: white;
    margin-right: 20px;

    @include small-and-medium {
      width: 35px;
    }
  }
}
