.service-line-case-studies__intro {
  .section-intro__title,
  .section-intro__description {
    color: white;
  }
}

.service-line-case-studies__cards-wrapper {
  @include max-width--out-there;
  padding-top: 50px;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  // flex-wrap: wrap;

  @include small{
    flex-direction: column;
    justify-content: center;
  }
  // @include large-and-extra-large {
  //   flex-direction: row;
  // }
}

.service-line-case-studies__card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 10px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @include small {
    text-align: center;
    margin-left: $lateral-space--small;
    margin-right: $lateral-space--small;
    margin-bottom: 40px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  // @include medium {
  //   min-width: 230px;
  //   max-width: 300px;
  // }
  // @include large-and-extra-large {
  //   flex: 1;
  //   margin-left: $lateral-space--small;
  //   margin-right: $lateral-space--small;
  //   &:nth-of-type(1) {
  //     margin-left: 0;
  //   }
  //   &:nth-last-of-type(1) {
  //     margin-right: 0;
  //   }
  // }
}

.case-studies__card-image {
  width: 100%;
  padding-top: 62%;
  background-position: top center;
  background-size: cover;
}

.case-studies__card-text-container {
  padding: 1rem 1rem 5.5rem;
  background: white;
  position: relative;
  height: 100%;
}

.case-studies__card-title {
  @include mercer-bold;
}

.case-studies__card-description {
  @include base;
}

.case-studies__card-button {
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;

  @include small {
    width: 90%;
  }
}

.wrap-break {
  height: 0;

  @include large-and-extra-large {
    width: 0;
    display: none;
  }
  @include medium {
    width: 100%;
    display: block;
  }
}