.service-line-hero {
  @include max-width--out-there;

  @include small-and-medium {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-hero-dark.jpg");
    background-size: cover;
  }
  @include medium-large-and-extra-large {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.service-line-hero__content-container {
  @include small-and-medium {
    padding-left: calc(#{$lateral-space--medium} + 65px);
    padding-right: $lateral-space--medium;
    width: 100%;
  }
  @include large-and-extra-large {
    padding-bottom: 50px;
    padding-left: 65px;
    padding-right: 40px;
    padding-top: 50px;
    width: 50%;
  }
}

.service-line-hero__content-container div p {
  color: #ffffff !important;
}

.service-line-hero__image-container {
  overflow: hidden;

  @include small-and-medium {
    display: none;
    overflow: hidden;
  }
  @include large-and-extra-large {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-hero-light.jpg");
    background-size: cover;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 750px;
    top: 40px;
    max-width: 900px;
  }
}

.service-line-hero__image {
  width: 110%;
  height: auto;
  bottom: 0;
  left: 0;
}

.service-line-hero__title {
  line-height: 1;
  padding-bottom: 10px;
  font-size: 3.5;
}

@include _DEPRECIATED_small {
  .service-line-hero__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@include _DEPRECIATED_large {
  .service-line-hero__title {
    padding-left: 0px;
  }

  .service-line-hero__content-container div,
  .service-line-hero__content-container div p {
    color: #555555 !important;
  }
}
