.services-page-intro__image {
  background-color: $grey--dark;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-top: 200 / 360 * 100%;

  @include small {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-small.png");
  }
  @include medium-large-and-extra-large {
    background-image: url("#{$site-base-url}/assets/custom/img/services/serviceline-page-intro-medium.jpg");
  }
}

.services-page-intro__text-container {
  @include lateral-spacing;
  padding-bottom: 50px;
  padding-top: 50px;
}

.services-page-intro__title {
  @include freed-bold;
  margin-bottom: 30px;
}

.services-page-intro__sub-title {
  @include mercer-reg;
  margin-bottom: 30px;
}

.services-page-intro__lead-in {
  @include base-reg;
  margin-bottom: 0;
  margin-top: 0;
}
