.service-line-case-studies__intro {
  .section-intro__title,
  .section-intro__description {
    color: white;
  }
}

.service-line-case-studies__cards-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .service-line-case-studies__cards-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.service-line-case-studies__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 23%;
  margin: 0 10px 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 230px;
  max-width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.service-line-case-studies__card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 1199px) {
  .service-line-case-studies__card {
    margin: 0 1.5rem 3rem;
    width: 80%;
  }
}
@media (max-width: 587px) {
  .service-line-case-studies__card {
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .service-line-case-studies__card .btn {
    width: 90%;
  }
}

.case-studies__case-img-container {
  width: 100%;
  padding-top: 62%;
  background-position: top center;
  background-size: cover;
}