.service-line-hero {
  @include max-width--out-there;

  @include small-and-medium {
    background-color: #201d2b;
    background-position: center;
    background-size: cover;
  }
  @include large-and-extra-large {
    background-size: 0;
  }
  @include small {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  @include medium-large-and-extra-large {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.service-line-hero__content-container {
  $icon-space: 65px;

  @include small {
    padding-left: $lateral-space--medium;
  }
  @include medium {
    padding-left: calc(#{$lateral-space--medium} + #{$icon-space});
  }
  @include small-and-medium {
    padding-right: $lateral-space--medium;
    width: 100%;
  }
  @include large-and-extra-large {
    padding-bottom: 50px;
    padding-left: $icon-space;
    padding-right: 40px;
    padding-top: 50px;
    width: 50%;
  }
}

.service-line-hero__image-container {
  @include small-and-medium {
    display: none;
  }
  @include large-and-extra-large {
    background-size: cover;
    height: 750px;
    justify-content: center;
    left: 50%;
    max-width: 900px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%;
  }
}

.service-line-hero__image {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.service-line-hero__title {
  @include dudler-bold;
  margin-bottom: 25px;
  position: relative;
}

.service-line-hero__sub-title  {
  @include mercer-bold;
}

.service-line-hero__description {
  @include mercer;
  margin-bottom: 20px;
}

.service-line-hero__title,
.service-line-hero__sub-title,
.service-line-hero__description {
  @include small-and-medium {
    color: white;
  }
}
