$section-top-padding: 50px;

.service-line-hero {
  background-color: orange!important;
  padding-top: $section-top-padding;

  @include small-and-medium {
    background-color: #201d2b;
    background-position: center;
    background-size: cover;
  }
  @include large-and-extra-large {
    background-image: none !important;
  }
  @include small {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  @include medium-large-and-extra-large {
    min-height: 600px;
  }
  @include large-and-extra-large {
    position: relative;
  }
  @include extra-large {
    @include max-width--framed;
  }
}

.service-line-hero__inner {
  @include max-width--out-there;
  background: pink;
}

.service-line-hero__content-container {
  $icon-space: 65px;

  @include small {
    padding-left: $lateral-space--medium;
  }
  @include medium {
    padding-left: calc(#{$lateral-space--medium} + #{$icon-space});
  }
  @include small-and-medium {
    padding-right: $lateral-space--medium;
    width: 100%;
  }
  @include large-and-extra-large {
    padding-bottom: 50px;
    padding-top: 50px;
    width: 50%;
    max-width: 600px;
  }
  @include extra-large {
    padding-bottom: 70px;
  }
}

.service-line-hero__image-container {
  overflow: hidden;

  @include small-and-medium {
    display: none;
  }
  @include large-and-extra-large {
    background-size: cover;
    bottom: -50px;
    left: calc(50% + 100px);
    position: absolute;
    top: $section-top-padding;
    z-index: 1;
  }
  @include large {
    right: 0;
  }
  @include extra-large {
    right: 50px;
  }
}

.service-line-hero__image {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.service-line-hero__title {
  @include ponti-bold;
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}

.service-line-hero__sub-title  {
  @include small {
    @include mercer;
  }
  @include medium-and-large{
    @include freed-bold;
  }
  @include extra-large {
    @include eames-bold;
  }
}

.service-line-hero__description {
  @include small-medium-and-large {
    @include base;
    margin-bottom: 30px;
  }
  @include extra-large {
    @include mercer;
    margin-bottom: 35px;
  }
}

.service-line-hero__title,
.service-line-hero__sub-title,
.service-line-hero__description {
  @include small-and-medium {
    color: white;
  }
}
