.services-page__training-teaser {
  background-color: $navy;
  background-image: url("#{$site-base-url}/assets/custom/img/services/training-bg.png");
  background-position: center;
  background-size: cover;

  @include small {
    padding-bottom: 50px;
  }
  @include medium-large-and-extra-large {
    margin-top: -$vertical-overlap * 3;
    padding-bottom: $vertical-overlap;
    padding-top: ($vertical-overlap * 3) + 50px;
  }
  @include extra-large {
    @include max-width;
    max-width: calc(100% - (2 * #{$lateral-space--large}));
  }
}

.services-page__clients-teaser {
  @include small {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  @include medium-large-and-extra-large {
    padding-top: 65px;
    padding-bottom: 20px + $vertical-overlap;
  }
}

.services-page__compass-cta {
  background: $slate;

  @include medium-large-and-extra-large {
    padding-top: $vertical-overlap;
  }
}
