.single-training__accordion {
  background-color: $off-white;

  @include medium {
    padding-top: 50px;
  }
  @include large-and-extra-large {
    padding-bottom: 50px;
    padding-top: 100px;
  }
  @include extra-large {
    @include max-width--framed;
  }
  &.single-training__accordion--with-bio {
    @include small {
      padding-bottom: $vertical-overlap * 3.5;
    }
    @include large-and-extra-large {
      padding-bottom: $vertical-overlap * 2.5;
    }
  }
}

.single-training__instructor-bio {
  @include small {
    margin-top: -($vertical-overlap * 3);
  }
  @include medium {
    background-color: $navy--ultralight;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @include large-and-extra-large {
    margin-top: -($vertical-overlap + 50px);
  }
}
