$timing-and-ease: 0.3s ease-out;

.site-navbar {
  @include lateral-spacing;
  background: white;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
  padding-bottom: 35px;
  padding-top: 35px;
  width: 100%;
  z-index: 100;
}

.site-navbar--on-scroll {
  @extend .site-navbar;
  position: fixed;
  top: 0;
}


.site-navbar__inner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $global-max-width;
}

.site-navbar__logo {
  margin-top: -5px;
  width: 190px;
}

.site-navbar__main-link-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navbar__main-link {
  @include base-semibold;
  color: $off-black;
  display: inline-block;
  margin-right: 30px;
  transition: color $timing-and-ease;

  &:hover {
    color: $coral;
    text-decoration: none;
  }
}

.site-navbar__main-link--active {
  @extend .site-navbar__main-link;
  color: $coral;
}

.site-navbar__drop-down {
  margin-right: 15px;
  position: relative;

  & > .site-navbar__main-link {
    &::before,
    &::after {
      background: $off-black;
      border-radius: 30px;
      content: '';
      display: inline-block;
      height: 2px;
      position: absolute;
      transform-origin: center;
      transition: all $timing-and-ease;
      width: 10px;
    }
    &::before {
      transform: translate(82px, 14px) rotate(45deg);
    }
    &::after {
      transform: translate(13px, 14px) rotate(-45deg);
    }
  }
}

.site-navbar__drop-down > .site-navbar__main-link:hover {
  &::before,
  &::after{
    background: $coral;
  }
  &::before {
    transform: translate(82px, 14px) rotate(-45deg);
  }
  &::after {
    transform: translate(13px, 14px) rotate(45deg);
  }
}
