.sm-cta-slice {
  background-color: $coral;
  position: absolute;
  width: 100%;
  z-index: 5;
  line-height: 34px;

  a {
    border-bottom: 1px solid #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}

.sm-icon--cta {
  width: 30px;
  float: left;
  margin-right: 15px;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 5px;
}
