.soft-mod__testimonials {
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-testimonials.jpg");
  background-repeat: no-repeat;
  overflow: hidden;

  @include small {
    background-size: cover;
    background-position: center 380px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @include medium {
    background-size: 135% auto;
    background-position: center 370px;
    padding-bottom: 150px;
    padding-top: 80px;
  }
  @include large-and-extra-large {
    background-size: 110% auto;
    background-position: center 310px;
    padding-top: 100px;
    padding-bottom: 200px;
  }
}

.soft-mod__testimonials-intro {
  @include small {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  @include medium-large-and-extra-large {
    padding-bottom: 60px;
  }
}

.soft-mod__sheen-container {
  background: $sheen;

  @include medium-large-and-extra-large {
    padding-top: $vertical-overlap;
  }
}

.soft-mod__sheen-container--one-publication{
  background: $sheen;

  @include medium-large-and-extra-large {
    padding-top: $vertical-overlap;
    padding-bottom: 120px;
  }
}

.soft-mod__webinar-teaser {
  @include small {
    .page-location-anchor {
      top: calc(0px - #{$site-navbar-height-base});
    }
  }
  @include medium-large-and-extra-large {
    margin-bottom: 50px;
    margin-top: -$vertical-overlap;
  }
}

.soft-mod__our-clients {
  background-color: $slate;

  @include small {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @include medium-large-and-extra-large {
    padding-bottom: 50px;
    padding-top: 100px;
  }
}
