.soft-mod__testimonials {
  background: url("#{$site-base-url}/assets/custom/img/softmod/bg-testimonials.jpg");
  background-repeat: no-repeat;
  padding-top: 50px;
  overflow: hidden;

  @include small {
    background-size: cover;
  }
  @include medium-large-and-extra-large {
    background-size: 110% auto;
    background-position-y: 360px;
  }
  @include large-and-extra-large {
    padding-bottom: 200px;
  }
}

.soft-mod__testimonials-intro {
  @include small {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  @include medium-large-and-extra-large {
    padding-bottom: 60px;
  }
}

.soft-mod__sheen-container {
  background: $sheen;

  @include medium-large-and-extra-large {
    margin-top: -100px;
    padding-top: 200px;
    position: relative;
    z-index: 10;
  }
}

.soft-mod__webinar-teaser {
  @include medium-large-and-extra-large {
    margin-bottom: 50px;
  }
}

.soft-mod__our-clients,
.soft-mod__get-in-touch {
  background-color: $slate;

  @include small {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @include medium-large-and-extra-large {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.soft-mod__our-clients {
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-slate-pattern-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
