.soft-mod-cta-block {
  width: 100%;
  min-height: 400px;

  .soft-mod-cta-block__lh {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-cta.jpg");
    background-size: cover;
    background-position: center;
    display: none;
  }

  .soft-mod-cta-block__rh {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    padding: 0 1.5rem;

    div {
      max-width: 500px;
    }
  }
}

@media (min-width: 700px) {
  .soft-mod-cta-block {
    .soft-mod-cta-block__lh {
      display: block !important;
    }

    .soft-mod-cta-block__lh,
    .soft-mod-cta-block__rh {
      width: 50%;
      height: 400px;
      float: left;
    }
  }
}
