/********************************
    Helpers - Text
********************************/

.text-900 {
  font-weight: 900;
}

.text-700 {
  font-weight: 700;
}

.text-navy {
  color: #0e4072;
}

.text-white {
  color: #ffffff;
}

.text-coral {
  color: $coral;
}

.mx-width-600 {
  max-width: 600px;
}

@media (min-width: 768px) {
  .text-center--bp768 {
    text-align: center;
  }
}

/********************************
    Helpers - Shadow
********************************/

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/********************************
    Helpers - Spacing
********************************/

.pad-top-none {
  padding-top: 0 !important;
}

@include _DEPRECIATED_large {
  .g-pt-0--desk {
    padding-top: 0px !important;
  }

  .g-pt-50--desk {
    padding-top: 50px !important;
  }

  .g-pb-25--desk {
    padding-bottom: 25px !important;
  }

  .g-pb-50--desk {
    padding-bottom: 50px !important;
  }

  .g-pb-100--desk {
    padding-bottom: 100px !important;
  }
}

/********************************
    Helpers - Backgrounds
********************************/

.bg-blue {
  background-color: #0f4071;
}

.bg-white {
  background-color: #ffffff;
}

.bg-coral {
  background-color: #fb7268;
}

@media (max-width: 799px) {
  .bg-placeholder,
  .bg-sustainable-change,
  .bg-innovation,
  .bg-technology,
  .bg-business-alignment,
  .bg-people-culture,
  .bg-risk-management {
    background-image: none !important;
  }
}
@media (min-width: 800px) {
  .bg-placeholder {
    background-image: url("#{$site-base-url}/assets/custom/img/placeholders/meta-social-image.png");
    background-position: center bottom 40px;
    background-repeat: no-repeat;
    background-size: 55% auto;
  }

  .bg-sustainable-change {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-sustainable-change.svg");
    background-position: center bottom 40px;
    background-repeat: no-repeat;
    background-size: 55% auto;
  }

  .bg-innovation {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-innovation.svg");
    background-position: center bottom 40px;
    background-repeat: no-repeat;
    background-size: 45% auto;
  }

  .bg-technology {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-technology.svg");
    background-position: center bottom 30px;
    background-repeat: no-repeat;
    background-size: 70% auto;
  }

  .bg-business-alignment {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-business-alignment.svg");
    background-position: center bottom 40px;
    background-repeat: no-repeat;
    background-size: 50% auto;
  }

  .bg-people-culture {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-people-culture.svg");
    background-position: center bottom 50px;
    background-repeat: no-repeat;
    background-size: 60% auto;
  }

  .bg-risk-management {
    background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-risk-management.svg");
    background-position: center bottom 50px;
    background-repeat: no-repeat;
    background-size: 40% auto;
  }
}

/********************************
    Helpers - Positioning
********************************/

.z-index-1 {
  z-index: 1;
  position: relative;
}

.p-relative {
  position: relative;
}

/********************************
    Helpers - Containers
********************************/

.container-slim {
  @include small {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include max-width--column;
}

/********************************
    Component - Lists
********************************/

.list-ticks {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.list-ticks li {
  padding: 0 0 5px 30px;
  position: relative;
  font-weight: 700;
}

.list-ticks li:before {
  content: "";
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/icon-tick.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: 20px;
  left: 0px;
  top: 2px;
}

/********************************
    Module - Case Studies
********************************/

.case-studies {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 4rem;
  position: relative;
}
.case-studies:before {
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 7%;
  background: -o-linear-gradient(
    56deg,
    rgba(252, 249, 241, 1) 52%,
    rgba(252, 244, 244, 1) 100%
  );
  background: linear-gradient(
    34deg,
    rgba(252, 249, 241, 1) 52%,
    rgba(252, 244, 244, 1) 100%
  );
  z-index: -1;
}
.case-studies__cases-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap-break {
  height: 0;
  width: 0;
  display: none;
}
.case-studies__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 23%;
  margin: 0 10px 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 230px;
  max-width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.case-studies__case:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.case-studies__case-img-container {
  width: 100%;
  padding-top: 62%;
  background-position: top center;
  background-size: cover;
}
.case-studies__case-text-container {
  padding: 1rem 1rem 5.5rem;
  background: white;
  position: relative;
  height: 100%;
}
.case-studies__case-button {
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;
}

@media (max-width: 1199px) {
  .wrap-break {
    width: 100%;
    display: block;
  }
  .case-studies__cases-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .case-studies__case {
    margin: 0 1.5rem 3rem;
    width: 80%;
  }
}
@media (max-width: 999px) {
  .case-studies {
    padding-bottom: 3rem;
  }
}
@media (max-width: 700px) {
  .case-studies {
    padding-top: 3rem;
  }
  .case-studies:before {
    right: 0;
  }
}
@media (max-width: 587px) {
  .case-studies__case {
    text-align: center;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .case-studies__case .btn {
    width: 90%;
  }
}

/********************************
    Module - CTA slice
********************************/

.sm-cta-slice {
  position: absolute;
  width: 100%;
  z-index: 5;
  line-height: 34px;

  .sm-icon--cta {
    width: 30px;
    height: auto;
    float: left;
    margin-right: 15px;
  }

  a {
    border-bottom: 1px solid #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}

.sm-icon--cta {
  width: 30px;
  height: auto;
  float: left;
  margin-right: 20px;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 5px;
}
