.soft-mod__form-holder {
  @include medium-large-and-extra-large {
    position: relative;
    z-index: 20;
  }
}

.soft-mod__testimonials {
  padding-top: 50px;
}

.soft-mod__publications {
  background: $sheen;

  @include medium-large-and-extra-large {
    margin-top: -100px;
    padding-top: 200px;
    position: relative;
    z-index: 10;
  }
}

.soft-mod__webinar-teaser {
  @include medium-large-and-extra-large {
    margin-bottom: 50px;
  }
}
