/********************************
    Helpers - Text
********************************/

.text-900 {
  font-weight: 900;
}

.text-700 {
  font-weight: 700;
}

.text-navy {
  color: #0e4072;
}

.text-white {
  color: #ffffff;
}

.text-coral {
  color: $coral;
}

.mx-width-600 {
  max-width: 600px;
}

@media (min-width: 768px) {
  .text-center--bp768 {
    text-align: center;
  }
}

/********************************
    Helpers - Shadow
********************************/

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/********************************
    Helpers - Spacing
********************************/

.pad-top-none {
  padding-top: 0 !important;
}

@include _DEPRECIATED_large {
  .g-pt-0--desk {
    padding-top: 0px !important;
  }

  .g-pt-50--desk {
    padding-top: 50px !important;
  }

  .g-pb-25--desk {
    padding-bottom: 25px !important;
  }

  .g-pb-50--desk {
    padding-bottom: 50px !important;
  }

  .g-pb-100--desk {
    padding-bottom: 100px !important;
  }
}

/********************************
    Helpers - Backgrounds
********************************/

.bg-blue {
  background-color: #0f4071;
}

.bg-white {
  background-color: #ffffff;
}

.bg-coral {
  background-color: #fb7268;
}

@media (max-width: 799px) {
  .bg-placeholder,
  .bg-sustainable-change,
  .bg-innovation,
  .bg-technology,
  .bg-business-alignment,
  .bg-people-and-culture,
  .bg-risk-management {
    background-image: none !important;
  }
}
@media (min-width: 800px) {
  .bg-placeholder,
  .bg-sustainable-change,
  .bg-innovation,
  .bg-technology,
  .bg-business-alignment,
  .bg-people-and-culture,
  .bg-risk-management {
    background-position: center bottom 20px;
    background-repeat: no-repeat;
  }
  .bg-sustainable-change {
    background-image: url("#{$site-base-url}/assets/custom/img/service-lines/software-modernisation/tabber-sustainable-change.svg");
  }
  .bg-innovation {
    background-image: url("#{$site-base-url}/assets/custom/service-lines/software-modernisation/tabber-innovation.svg");
  }
  .bg-technology {
    background-image: url("#{$site-base-url}/assets/custom/service-lines/software-modernisation/tabber-technology.svg");
  }
  .bg-business-alignment {
    background-image: url("#{$site-base-url}/assets/custom/img/service-lines/software-modernisation/tabber-business-alignment.svg");
  }
  .bg-people-and-culture {
    background-image: url("#{$site-base-url}/assets/custom/img/service-lines/software-modernisation/tabber-people-and-culture.svg");
  }
  .bg-risk-management {
    background-image: url("#{$site-base-url}/assets/custom/img/service-lines/software-modernisation/tabber-risk-management.svg");
  }
}

/********************************
    Helpers - Positioning
********************************/

.z-index-1 {
  z-index: 1;
  position: relative;
}

.p-relative {
  position: relative;
}

/********************************
    Helpers - Containers
********************************/

.container-slim {
  @include small {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include max-width--column;
}

/********************************
    Component - Lists
********************************/

.list-ticks {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.list-ticks li {
  padding: 0 0 5px 30px;
  position: relative;
  font-weight: 700;
}

.list-ticks li:before {
  content: "";
  background-image: url("#{$site-base-url}/assets/custom/img/softmod/icon-tick.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-size: 20px;
  left: 0px;
  top: 2px;
}

/********************************
    Module - CTA slice
********************************/

.sm-cta-slice {
  position: absolute;
  width: 100%;
  z-index: 5;
  line-height: 34px;

  .sm-icon--cta {
    width: 30px;
    height: auto;
    float: left;
    margin-right: 15px;
  }

  a {
    border-bottom: 1px solid #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}

.sm-icon--cta {
  width: 30px;
  height: auto;
  float: left;
  margin-right: 20px;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 5px;
}
