.soft-mod__form-holder {
  @include medium-large-and-extra-large {
    position: relative;
    z-index: 20;
  }
}

.soft-mod__publications {
  background: $sheen;

  @include medium-large-and-extra-large {
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    z-index: 10;
  }
}
