.soft-mod-problems {
  position: relative;

  &:before {
    content: "";
    background: $sheen;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  @include small {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  @include medium-and-large {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include extra-large {
    padding-top: 100px;


    &:before {
      right: 100px;
    }
    &:after {
      content: "";
      background-color: #293341;
      background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-slate-pattern-2.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      bottom: 0;
      height: 450px;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 0;
    }
  }
}

.soft-mod-problems__intro {
  position: relative;
  z-index: 10;
}
