@mixin max-width {
  margin-left: auto;
  margin-right: auto;
}

@mixin max-width--out-there {
  @include max-width;
  max-width: 1308px;
}

@mixin max-width--column {
  @include max-width;

  @include small-and-medium {
    max-width: 720px;
  }
  @include large-and-extra-large {
    max-width: 800px;
  }
}

@mixin lateral-spacing {
  @include small {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include medium {
    padding-left: 23px;
    padding-right: 23px;
  }
  @include large-and-extra-large {
    padding-left: 49px;
    padding-right: 49px;
  }
}
