$color__main: transparent;
$color__active: transparent;
$background__active: transparent;
$width__tabs-side: 150px;

@mixin tab-active() {
  background: $color__main;
  color: $background__active;
}

.tabber {
  @include lateral-spacing;
  position: relative;
  z-index: 1;
}

.tabber__inner {
  background: transparent;
  max-width: 900px;
  padding: 0 0 1px 0;
  margin: 0 auto;
  padding-top: 3.57143rem !important;

  .tabber__panel {
    min-height: 2em; // We need a minimum height for each item or else the accordion buttons would dissapear
    &::before {
      content: attr(
        data-title
      ); // Instead of polluting the HTML with a duplicate set of tabs, we get the accordion using the data-title attribute.
      background-color: #ffffff;
      color: #555555;
      background-image: url("{{site.baseurl}}/assets/custom/img/softmod/icon-plus.svg");
      background-size: 25px auto;
      background-position: right 10px center;
      background-repeat: no-repeat;
    }

    .tabber-panel__content {
      // We hide the inactive content with zero opacity instead of "display:none" because this allows us to apply transition effects if we want.
      opacity: 0;
      visibility: hidden;
      height: 0;
    }

    &.active {
      .tabber-panel__content {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
      &::before {
        background-color: #0e4072;
        color: #ffffff;
        background-image: url("{{site.baseurl}}/assets/custom/img/softmod/icon-minus.svg");
      }
    }
  }
}

.tabber_large_screen_controls {
  display: none;
}

.tabber_large_screen_controls-list {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: bold;
}

.tabber_large_screen_controls-item {
  background: $background__active;
  width: calc(100% / 6);
  float: left;
  text-align: center;
  min-height: 60px;
  font-weight: normal;

  padding: 0.3em 2em;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  position: relative;

  &:hover,
  &.active {
    @include tab-active();
    font-weight: 700;
    color: #444444;
    height: 60px;
  }

  &.active {
    &:after {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fb7268;
    }
  }
}

@media all and (min-width: 800px) {
  .tabber__inner {
    .tabber_large_screen_controls {
      display: block;

      li {
        display: inline-block;

        a {
          display: block;
        }
      }
    }

    .tabber__panel {
      min-height: 0;

      &::before {
        display: none;
      }
    }
  }
}

.tabber__panel {
  margin-bottom: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.1);

  &::before {
    cursor: pointer;
    font-weight: bold;
    background: $background__active;
    padding: 0.75em;
    display: block;
    border-radius: 3px;
  }

  &.active {
    &::before {
      @include tab-active();
      border-radius: 0px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .tabber-panel__content {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.tabber-panel__content-grid__item-left,
.tabber-panel__content-grid__item-right {
  padding: 15px 15px 30px 15px;
}

@media (min-width: 990px) {
  .tabber_large_screen_controls ul li a {
    font-size: 16px;
    line-height: 19px;
  }
}

@media all and (min-width: 800px) {
  .tabber__panel {
    box-shadow: none;
    margin-bottom: 0;
    &.active {
      .tabber-panel__content {
        padding-top: 0;
      }
    }
  }

  .tabber_large_screen_controls-side {
    .tabber_large_screen_controls {
      li {
        margin-bottom: 2px;
      }
    }
  }

  .tabber-panel__content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
      0 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  }

  .tabber-panel__content-grid__item-left,
  .tabber-panel__content-grid__item-right {
    padding: 30px;
  }
}
