.teaser-group {
  @include small-and-medium {
    display: flex;
  }
  @include small {
    flex-direction: column;
  }
  @include medium {
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.teaser-group__card {
  @include max-width--out-there;
  position: relative;

  @include medium {
    margin-bottom: 30px;
    padding-top: 40px;
    width: calc(50% - 25px);
  }
  @include large-and-extra-large {
    padding-left: $lateral-space--large;
    padding-right: $lateral-space--large;
    padding-top: 40px;
    margin-bottom: 50px;

    &::after {
      background-color: #fda09b;
      background-image: url("#{$site-base-url}/assets/custom/img/softmod/bg-mountain-texture.jpg");
      background-size: cover;
      bottom: 25px;
      content: "";
      position: absolute;
      top: 40px;
    }
  }
}

.teaser-group__card:nth-of-type(odd) {
  @include large-and-extra-large {
    &::after {
      left: 2 * $lateral-space--large;
      right: 50%;
    }
  }
}

.teaser-group__card:nth-of-type(even) {
  @include large-and-extra-large {
    &::after {
      left: 50%;
      right: 2 * $lateral-space--large;
    }
  }
}

.teaser-group__card-image {
  background-color: #aaa;
  background-size: cover;

  @include small-and-medium {
    display: none;
  }
  @include medium-large-and-extra-large {
    position: absolute;
    z-index: 10;
  }
  @include large-and-extra-large {
    bottom: 40px;
    top: 0;
    width: calc(57% - #{2 * $lateral-space--large});
  }

  .teaser-group__card:nth-of-type(odd) & {
    background-position: left center;

    @include large-and-extra-large {
      left: $lateral-space--large;
    }
  }
  .teaser-group__card:nth-of-type(even) & {
    background-position: right center;

    @include large-and-extra-large {
      left: auto;
      right: $lateral-space--large;
    }
  }
}

.teaser-group__card-content {
  background-color: $slate;

  &::before {
    background-color: $slate;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  @include small {
    padding-bottom: 65px;
    padding-top: 60px;
    padding-left: $lateral-space--small;
    padding-right: $lateral-space--small;
  }
  @include small-and-medium {
    &::before {
      mix-blend-mode: multiply;
      opacity: 0.8;
    }
  }
  @include medium {
    padding: 35px 40px 50px;
    position: relative;
  }
  @include large-and-extra-large {
    @include style-card-box-shadow;
    position: relative;
    z-index: 20;
    padding-bottom: 60px;
    padding-left: $lateral-space--large;
    padding-right: $lateral-space--large;
    padding-top: 60px;
    &::before {
      opacity: 1;
    }
  }

  .teaser-group__card:nth-of-type(odd) & {
    @include large-and-extra-large {
      margin-left: 43%;
    }
  }
  .teaser-group__card:nth-of-type(even) & {
    @include large-and-extra-large {
      margin-right: 43%;
    }
  }
}

.teaser-group__card-content-type {
  @include ponti-bold;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  @include small {
    color: white;
    right: $lateral-space--small;
    position: absolute;
    top: 30px;
  }
  @include medium-large-and-extra-large {
    color: $coral;
    margin: 0 0 30px;
  }
}

.teaser-group__card-title,
.teaser-group__card-description {
  color: white;
}

.teaser-group__card-title {
  @include freed-bold;

  @include small {
    margin: 0 0 20px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 15px;
  }
}

.teaser-group__card-description {
  @include mercer-reg;

  @include small {
    margin: 0 0 35px;
  }
  @include medium-large-and-extra-large {
    margin: 0 0 25px;
  }
}
