.training-overview-hero-wrapper {
  @include extra-large {
    &::before {
      background-image: url("#{$site-base-url}/assets/custom/img/training-overview/training-backgrounds_bg-training-courses.svg");
      background-repeat: no-repeat;
      content: "";
      height: 400px;
      position: absolute;
      right: 15%;
      top: -60px;
      width: 400px;
    }
  }
}

.training-overview-hero-image-container {
  @include large-and-extra-large {
    background-color: transparent;
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -100px;
  }
}

.training-overview-content {
  background-color: $navy--ultralight;

  @include medium {
    padding-top: $vertical-overlap;
  }
  @include medium-large-and-extra-large {
    padding-bottom: calc(#{$vertical-overlap} * 2);
  }
  @include large-and-extra-large {
    padding-top: calc(#{$vertical-overlap} * 1.5);
    position: relative;
  }
  @include extra-large {
    @include max-width--framed;
    &::before {
      background-image: url("#{$site-base-url}/assets/custom/img/training-overview/training-backgrounds_bg-training-courses.svg");
      background-repeat: no-repeat;
      content: "";
      height: 500px;
      left: 20%;
      opacity: 0.4;
      position: absolute;
      top: -40px;
      transform: translateX(-50%);
      width: 400px;
    }
  }
}

.training-overview-content__cards-wrapper {
  @include max-width--out-there;
  @include medium-large-and-extra-large {
    @include lateral-spacing;
  }
}

.get-in-touch {
  .training-overview-form & {
    position: relative;
  }
}