.training-teaser {
  background-color: #f5f6fa;
  background-image: url("#{$site-base-url}/assets/custom/img/services/training-background.jpg");
  background-position: center;
  background-size: cover;

  @include extra-large {
    @include max-width--framed;
  }
}

.training-teaser__inner {
  @include max-width--out-there;
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include small {
    flex-direction: column-reverse;
  }
  @include medium {
    padding-left: $lateral-space--medium;
    padding-right: $lateral-space--medium;
  }
  @include large-and-extra-large {
    padding-left: $lateral-space--large;
    padding-right: $lateral-space--large;
  }
}

.training-teaser__avatar {
  height: auto;
  margin-right: 20px;
  @include small-and-medium {
    width: 35px;
  }
  @include large-and-extra-large {
    width: 50px;
  }
}

.training-teaser__course-length {
  @include ponti-bold;
  color: white;
  margin-left: 15px;
  padding-left: 15px;
  position: relative;

  &::before {
    border-left: 1px solid white;
    content: "";
    height: 45px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.training-teaser__text-area {
  @include small {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    width: 100%;
  }
  @include medium-large-and-extra-large {
    padding-left: 10px;
    padding-right: 30px;
  }
}

.training-teaser__image-area {
  @include small {
    margin-bottom: 50px;
    width: 100%;
  }
  @include medium-large-and-extra-large {
    flex-shrink: 0;
    width: 43%;
  }
}

.training-teaser__title {
  @include small {
    @include freed-bold;
    margin-bottom: 15px;
  }
  @include medium {
    @include dudler-bold;
    margin-bottom: 35px;
  }
  @include large {
    @include eames-bold;
    margin-bottom: 35px;
  }
  @include extra-large {
    @include gaudi-bold;
    margin-bottom: 35px;
  }
}

.training-teaser__description {
  @include mercer-reg;
  margin-bottom: 25px;
}

.training-teaser__image {
  background-color: #d4eaff;
  background-position: center;
  background-size: cover;

  @include small {
    padding-top: 5 / 9 * 100%;
  }
  @include medium-large-and-extra-large {
    padding-top: 600 / 524 * 100%;
  }
}
