.training-hero {
  @include max-width--out-there;
}

.training-hero__wrapper {
  background-color: $navy;
}

.training-hero__background-image {
  margin-top: -210px;
  opacity: 0.3;
  width: 100%;
}

.training-hero__lower-background-block {
  background-color: $slate;
  height: 210px;
  margin-top: -210px;
  position: relative;
}

.training-hero__content-container {
  max-width: 450px;
  margin-left: 150px;
  margin-top: -360px;
  position: relative;
  color: white;
}

.training-hero__title {
  @include habib-bold;
}

.training-hero__duration {
  @include base-bold;
  color: white;
}

.training-hero__course-instructor-title {
  @include ponti-bold;
  color: white;
}

.training-hero__course-instructor {
  @include mercer-bold;
  color: white;
}

.training-hero__content-container__bottom {
  @include freed;
}