.training-card{
  @include medium-large-and-extra-large{
    max-width: 350px;
  }
}

.training-card__primary-content,
.training-card__secondary-content {
  padding-left: $lateral-space--small;
  padding-right: $lateral-space--small;
}

.training-card__primary-content {
  background-color: $slate;
  padding-bottom: 30px;
  padding-top: 60px;
}
.training-card__secondary-content {
  background-color: $slate-light;
  padding-bottom: 60px;
  padding-top: 30px;
}


.training-card__tag {
  @include ponti-bold;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0 0 30px;
}

.training-card__title,
.training-card__description {
  color: white;
}

.training-card__title {
  @include freed-bold;
  margin: 0 0 20px;
}

.training-card__description {
  @include mercer-reg;
  margin: 0 0 35px;
}
