.training-hero-details__form {
    & .hs-form-iframe {
        width: 100%;
        height: 100%;
    }

    & .hbspt-form {
        height: auto !important;
    }

    & .hs-form-c6f53551-f730-4bfa-ad76-ff01b4b0bab4 .hs-form-field label:not(.hs-error-msg) {
        @include base;
        position: relative !important;
    }
    
    & .hs-custom-style fieldset input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]),
      .hs-custom-style fieldset>div:last-of-type .hs-input:not([type=checkbox]):not([type=radio]) {
        @include base;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #AEAEAE;
        opacity: 1;
    }

    & .legal-consent-container {
        display: none;
    }

    & .hs_submit {
        display: none;
    }
}
