.training-bio {
  @include lateral-spacing;

  @include medium-large-and-extra-large {
    @include max-width--out-there;
  }
}

.training-bio__inner {
  @include style-card-box-shadow;
  display: flex;
  @include small {
    flex-direction: column;
  }
  @include medium-large-and-extra-large {
    flex-direction: row;
  }
}

.training-bio__instructor-container {
  background-color: $navy--ultralight;
  padding: 15px 25px;
}

.training-bio__instructor-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 180px;
  margin: 15px;
  width: 164px;
}

.training-bio__instructor-title,
.training-bio__instructor-name {
  color: black;
  display: block;
  margin-left: 6px;
}

.training-bio__instructor-title {
  @extend .training-hero__instructor-title;
}

.training-bio__instructor-name {
  @extend .training-hero__instructor-name;
}

.training-bio__content-container {
  padding: 25px 35px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 287px;

  &.training-bio__content-container--open {
    height: 500px;
  }
}

.training-bio__content-wrapper {
  transition: all 0.5s ease;
  flex: 1;
  overflow: hidden;
  position: relative;

  &::after {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%);
    content: "";
    height: 210px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.training-bio__content {
  @include mercer;
}

.training-bio__read-more-button {
  background: none;
  border: none;
  cursor: pointer;
  @include ponti-bold;

  &::after {
    border-color: #fb7268;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    margin: 12px;
    padding: 4.5px;
    position: relative;
    top: 9px;
    transform: rotate(45deg);
    transition: transform 0.5s, top 0.5s;
  }
}
