.training-bio {
  @include lateral-spacing;

  @include medium-large-and-extra-large {
    @include max-width--out-there;
  }
}

.training-bio__inner {
  @include style-card-box-shadow;
  display: flex;
  @include small {
    flex-direction: column;
  }
  @include medium-large-and-extra-large {
    flex-direction: row;
  }
}

.training-bio__instructor-container {
  background-color: $navy--ultralight;
  padding: 15px 25px;
}

.training-bio__instructor-avatar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 180px;
  margin: 15px;
  width: 164px;
}

.training-bio__instructor-title,
.training-bio__instructor-name {
  color: black;
  display: block;
  margin-left: 6px;
}

.training-bio__instructor-title {
  @extend .training-hero__instructor-title;
}

.training-bio__instructor-name {
  @extend .training-hero__instructor-name;
}

.training-bio__content-container {
  padding: 20px;
}

.training-bio__content-wrapper {
  &:not(.training-bio__content-wrapper--open) {
    height: 210px;
    overflow: hidden;
  }

  &.training-bio__content-wrapper--open {

  }
}

.training-bio__content {
  @include mercer;
}

.training-bio__read-more-button {
  background: none;
  border: none;
  @include ponti-bold;

  &::after {
    border-color: #fb7268;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    margin: 12px;
    padding: 4.5px;
    position: relative;
    top: 9px;
    transform: rotate(45deg);
    transition: border-color 0.5s, transform 0.5s, top 0.5s;
  }
}
