.training-hero__wrapper {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  padding-top: 100px;
}

.training-hero__lower-block {
  background-color: $slate;
  height: 220px;
  margin-top: 160px;
}