.training-card {
  display: flex;
  flex-direction: column;
}

.training-card__primary-content {
  background-color: $slate;
  padding-left: $lateral-space--medium;
  padding-right: $lateral-space--medium;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 80%;

  .training-card:not(.training-card--featured) & {
    padding-bottom: 16px;
    padding-top: 30px;
  }

  .training-card--featured & {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.training-card__secondary-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px $lateral-space--medium 40px;

  @include medium-large-and-extra-large{
    align-items: flex-start;
  }
}

.training-card__avatar {
  width: 40px;
  margin-right: 15px;
}

.training-card__tag {
  @include foster-bold;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
}

.training-card__title {
  color: white;

  .training-card:not(.training-card--featured) & {
    @include small {
      @include mercer-bold;
    }
    @include medium-large-and-extra-large {
      @include freed-bold;
    }
  }

  .training-card--featured & {
    @include freed-bold;
  }
}

.training-card__description {
  margin: 0 0 50px;
  @include base;
}

.training-card__course-length {
  @include foster-bold;
  color: white;

  .training-card:not(.training-card--featured) & {
    margin-bottom: 5px;
  }

  .training-card--featured & {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;

    &::before {
      border-left: 1px solid $grey--light;
      content: "";
      height: 25px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
