.training-overview-content {
  @include large-and-extra-large{
    background-color: $navy--ultralight;
    margin-top: -$vertical-overlap ;
    padding-top: calc(2 * #{$vertical-overlap});
  }
}

.training-overview-content__cards-wrapper {
  @include max-width--out-there;
  @include medium-large-and-extra-large {
    @include lateral-spacing;
  }
}

.training-overview__flexslider-wrapper {
  @include medium-large-and-extra-large {
    display: none;
  }
}