.training {
    display: flex;
    align-items: center;
    @include max-width--out-there;

    @include large-and-extra-large {
        padding-left: $lateral-space--large;
        padding-right: $lateral-space--large;
    }
}

.training__title {
    @include freed-bold;
    color: white;
}

.training__description {
    @include mercer-reg;
    color: white;
}

.training__content {
    @include lateral-spacing;
    width: 50%;
}

.training__image {
    background-color: $navy;
    background-position: center;
    background-size: cover;
    max-width: 585px;
    padding-top: 35%;
    width: 50%;
}