@mixin habib {
  font-size: 70px;
  line-height: 88px;
}

@mixin gaudi {
  font-size: 55px;
  line-height: 69px;
}

@mixin eames {
  font-size: 45px;
  line-height: 56px;
}

@mixin dudler {
  font-size: 35px;
  line-height: 50px;
}

@mixin freed {
  font-size: 28px;
  line-height: 38px;
}

@mixin mercer {
  font-size: 21px;
  line-height: 33px;
}

@mixin base {
  font-size: 18px;
  line-height: 28px;
}

@mixin ponti {
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

@mixin foster {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

@mixin bold {
  font-family: proxima-nova;
  font-weight: 700;
}

@mixin reg {
  font-family: proxima-nova;
  font-weight: 400;
}

@mixin habib-bold {
  @include bold;
  @include habib;
}

@mixin gaudi-bold {
  @include bold;
  @include gaudi;
}

@mixin eames-bold {
  @include bold;
  @include eames;
}

@mixin dudler-reg {
  @include reg;
  @include dudler;
}

@mixin dudler-bold {
  @include bold;
  @include dudler;
}

@mixin freed--responsive {
  @include small {
    @include freed;
  }
  @include medium-large-and-extra-large {
    @include dudler;
  }
}

@mixin freed-reg {
  @include reg;
  @include freed;
}

@mixin freed-bold {
  @include bold;
  @include freed;
}

@mixin freed-bold--responsive {
  @include bold;
  @include freed--responsive;
}

@mixin mercer-responsive {
  @include mercer;

  @include medium-large-and-extra-large {
    @include freed;
  }
}

@mixin mercer-bold {
  @include bold;
  @include mercer;
}

@mixin mercer-bold--responsive {
  @include bold;
  @include mercer-responsive;
}

@mixin mercer-reg--responsive {
  @include reg;
  @include mercer-responsive;
}

@mixin mercer-reg {
  @include reg;
  @include mercer;
}

@mixin base--responsive {
  @include base;

  @include medium-large-and-extra-large {
    @include mercer;
  }
}

@mixin base-bold {
  @include base;
  @include bold;
}

@mixin base-bold--responsive {
  @include base--responsive;
  @include bold;

  @include medium-large-and-extra-large {
    @include mercer;
  }
}

@mixin base-reg {
  @include base;
  @include reg;
}

@mixin base-reg--responsive {
  @include base--responsive;
  @include reg;
}

@mixin ponti-bold {
  @include ponti;
  @include bold;
}

@mixin foster-bold {
  @include foster;
  @include bold;
}
