@mixin bold {
  font-family: "Proxima Nova";
  font-weight: 700;
}

@mixin reg {
  font-family: "Proxima Nova";
  font-weight: 400;
}

@mixin freed-bold {
  @include bold;
  font-size: 28px;
  line-height: 38px;
}

@mixin freed-bold--responsive {
  @include freed-bold;

  @include medium-large-and-extra-large {
    font-size: 44px;
    line-height: 1.25;
  }
}
