body:not(.toggle--slt-397-website-header-updates) .website-header {
  background-color: white;
  font-size: 13px;
}
body:not(.toggle--slt-397-website-header-updates) .website-header,
.website-header--revealed {
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 100;
}

.toggle--slt-397-website-header-updates {
  .website-header {
    background-color: white;
  }
}
