$header-veritical-space: 25px;

.website-navigation {
  background-color: white;

  body:not(.toggle--slt-397-website-header-updates) & {
    padding: $header-veritical-space 20px;
  }
  body.toggle--slt-397-website-header-updates & {
    @include lateral-spacing;
    @include max-width--out-there;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $header-veritical-space;
    padding-bottom: $header-veritical-space;
    position: relative;
  }
}

.website-navigation__home-link {
  height: 20px;
}

.website-navigation__menu-toggle {
  @include small-and-medium {
    position: absolute;
    top: 15px;
  }
  @include small {
    right: $lateral-space--small - $website-navigation-menu-toggle-spacing;
  }
  @include medium {
    right: $lateral-space--medium - $website-navigation-menu-toggle-spacing;
  }
  @include large-and-extra-large {
    display: none;
  }
}

.website-navigation__menu {
  @include small-and-medium {
    &:not(.website-navigation__menu--open) {
      display: none;
    }
  }
}
.website-navigation__menu--open {
  @include small-and-medium {
    flex-basis: 100%;
  }

.website-navigation__languages {
  display: none;
}
