.website-navigation-menu {
  list-style-type: none;
  padding: 0;
}

.website-navigation-menu__item {
  @include small-and-medium {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  @include large-and-extra-large {
    display: inline-block;
  }
  @include extra-large {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.website-navigation-menu__link,
.website-navigation-menu__sub-menu-toggle {
  @include shared-navigation-link-styles;
}

.website-navigation-menu__link--active:focus,
.website-navigation-menu__link--active:hover {
  cursor: default;
  color: $grey--dark;
}

.website-navigation-menu__sub-menu-toggle {
  &::after {
    content: "";
    display: inline-block;
    padding: 4.5px;
    border-style: solid;

    @include small-and-medium {
      border-color: $coral;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
    }

    @include large-and-extra-large {
      border-width: 0 2px 2px 0;
      border-color: $grey--dark;
      margin: 3px;
      transform: rotate(45deg);
      transition: border-color 0.5s;
    }
  }
  &:hover::after,
  &:focus::after {
    @include large-and-extra-large {
      border-color: $coral;
    }
  }
}

.website-navigation-menu__sub-menu {
  display: none;
}
