.website-navigation {
  body:not(.toggle--slt-397-website-header-updates) & {
    background-color: white;
    padding: $header-veritical-space 20px;
  }

  body.toggle--slt-397-website-header-updates & {
    @include lateral-spacing;
    @include max-width--out-there;
    padding-top: $header-veritical-space;
    padding-bottom: $header-veritical-space;
  }
}

.website-navigation__main {
  @include large-and-extra-large {
    align-items: top;
    display: flex;
    justify-content: space-between;
  }
}

.website-navigation__home-link,
.website-navigation__menu,
.website-navigation__languages {
  height: 20px;
}
.website-navigation__home-link {
  @include small-and-medium {
    display: block;
  }
}

.website-navigation__menu-toggle {
  @include small-and-medium {
    position: absolute;
    top: 15px;
  }
  @include small {
    right: $lateral-space--small - $website-navigation-menu-toggle-spacing;
  }
  @include medium {
    right: $lateral-space--medium - $website-navigation-menu-toggle-spacing;
  }
  @include large-and-extra-large {
    display: none;
  }
}

.website-navigation__menu {
  @include small-and-medium {
    margin: 0;
    position: absolute;
    top: $header-height;
    transition: height 0.5s, padding-top 0.5s, border-top-color 0.5s;

    &:not(.website-navigation__menu--open) {
      height: 0;
      overflow: hidden;
      padding-top: 0;
    }
    &.website-navigation__menu--open {
      height: calc(100vh - #{$header-height});
      overflow: scroll;
      padding-top: 30px;
    }
  }
  @include small {
    left: $lateral-space--small;
    right: $lateral-space--small;
  }
  @include medium {
    left: $lateral-space--medium;
    right: $lateral-space--medium;
  }
  @include large {
    margin: 0 25px;
  }
  @include extra-large {
    margin: 0 30px 0 45px;
  }
}

.website-navigation__languages {
  margin: 0;

  @include small-and-medium {
    position: absolute;
    right: 78px;
    top: $header-veritical-space;
    transition: opacity 0.5s;

    .website-header:not(.website-header--open) & {
      opacity: 1;
    }
    .website-header.website-header--open & {
      opacity: 0;
    }
  }
}

.website-navigation__submenus {
}
