.website-navigation-sub-menus {
  @include small-and-medium {
    .website-header:not(.website-header--open) & {
      display: none;
    }
  }
}

.website-navigation-sub-menus__menu {
  @include shared-navigation-menu-spacing;
  list-style-type: none;

  @include small-and-medium {
    margin: 0;
    transform: translateX(0);
    transition: transform 0.5s;

    &.website-navigation-sub-menus__menu--open {
      transform: translateX(-100%);
    }
  }
  @include large-and-extra-large {
    min-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
    transition: min-height 0.5s, margin-top 0.5s, opacity 0.5s;

    &.website-navigation-sub-menus__menu--open {
      margin-top: $header-vertical-spacing;
      opacity: 1;
    }
    &:not(.website-navigation-sub-menus__menu--open) {
      opacity: 0;
    }
  }
}

.website-navigation-sub-menu__item {
  @include small-and-medium {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  @include large {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include extra-large {
    margin-left: 10px;
    margin-right: 10px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.website-navigation-sub-menu__toggle-proxy,
.website-navigation-sub-menu__link {
  @include shared-navigation-link-styles;

  @include small-and-medium {
    color: white;
  }
}

.website-navigation-sub-menu__link {
  @include small-and-medium {
    padding-left: 25px;
    padding-right: 25px;

    &--active {
      &::after {
        left: 25px;
        right: 25px;
      }
    }
  }
  @include large-and-extra-large {
    color: $grey--dark;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: $coral;
    }

    &--active {
      &::after {
        left: 0;
        right: 0;
      }
      &:focus,
      &:hover {
        cursor: default;
        color: $grey--dark;
      }
    }
  }
}

.website-navigation-sub-menu__toggle-proxy {
  @include small-and-medium {
    margin-bottom: 15px;

    &::before {
      border-color: $coral;
      border-style: solid;
      border-width: 2px 0 0 2px;
      content: "";
      display: inline-block;
      margin-right: 5px;
      padding: 4.5px;
      transform: rotate(-45deg);
    }
  }
  @include large-and-extra-large {
    display: none;
  }
}
