body:not(.toggle--slt-397-website-header-updates)
  .website-navigation-home-link__logo {
  fill: #010101;
  height: 20px;
  width: auto;
}

body.toggle--slt-397-website-header-updates {
  .website-navigation-home-link__logo {
    height: 100%;
    width: auto;
  }

  .website-header:not(.website-header--open)
    .website-navigation-home-link__logo {
    fill: $grey--dark;
  }
  .website-header.website-header--open .website-navigation-home-link__logo {
    fill: white;
  }
}
