.website-navigation-menu {
  list-style-type: none;
  padding-left: 30px;
}

.website-navigation-menu__item {
  color: $grey--dark;
  font-size: 18px;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $coral;
    text-decoration: none;
  }

  &.website-navigation-menu__item--active {
    border: solid $coral;
    border-width: 0 0 2px 0;
  }

  .website-navigation-menu__list-item--has-sub-menu > &::after {
    content: "";
    display: inline-block;
    padding: 4.5px;

    @include small-and-medium {
      transform: rotate(-45deg);
      border: solid $coral;
      border-width: 0 2px 2px 0;
    }

    @include large-and-extra-large {
      transform: rotate(45deg);
      border: solid $grey--dark;
      border-width: 0 2px 2px 0;
      margin: 3px;
    }
  }
}
