$website-navigation-menu-toggle-spacing: 15px;
$website-navigation-menu-toggle-width: 25px;
$website-navigation-menu-toggle-height: 10px;

.website-navigation-menu-toggle {
  background: none;
  border: 0 none;
  cursor: pointer;
  height: $website-navigation-menu-toggle-height +
    (2 * $website-navigation-menu-toggle-spacing);
  width: $website-navigation-menu-toggle-width +
    (2 * $website-navigation-menu-toggle-spacing);

  &::after,
  &::before {
    content: "";
    background-color: $grey--dark;
    height: 1.5px;
    position: absolute;
    width: $website-navigation-menu-toggle-width;
    transition: transform 0.5s, bottom 0.5s;
  }
  &[aria-expanded="false"]::after,
  &[aria-expanded="false"]::before {
    left: $website-navigation-menu-toggle-spacing;
  }
  &[aria-expanded="false"]::before {
    bottom: $website-navigation-menu-toggle-spacing +
      $website-navigation-menu-toggle-height;
  }
  &[aria-expanded="false"]::after {
    bottom: $website-navigation-menu-toggle-spacing;
  }
  &[aria-expanded="true"]::after,
  &[aria-expanded="true"]::before {
    left: 15px;
    bottom: 20px;
  }
  &[aria-expanded="true"]::before {
    transform: rotate(45deg);
  }
  &[aria-expanded="true"]::after {
    transform: rotate(-45deg);
  }
}

.website-navigation-menu-toggle__screen-reader-text {
  display: block;
  height: 1px;
  overflow: hidden;
  text-indent: 3px;
  width: 1px;
}
