@mixin navigation-text {
  font-family: proxima-nova;
  font-weight: 600;

  @include small-and-medium {
    font-size: 21px;
    line-height: 25px;
  }
  @include large-and-extra-large {
    font-size: 18px;
    line-height: 23px;
  }
}

.website-navigation-menu {
  list-style-type: none;
  padding-left: 30px;
}

.website-navigation-menu__item {
  @include small-and-medium {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  @include large-and-extra-large {
    display: inline-block;
  }
  @include extra-large {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.website-navigation-menu__link,
.website-navigation-menu__sub-menu-toggle {
  @include navigation-text;
  background: none;
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  transition: color 0.5s;

  &:hover,
  &:focus {
    color: $coral;
    text-decoration: none;
  }

  &--active {
    position: relative;

    &::after {
      background-color: $coral;
      content: "";
      height: 2px;
      position: absolute;
    }
  }

  @include small {
    padding-left: 25px;
    padding-right: 25px;

    &--active {
      &::after {
        left: 25px;
        right: 25px;
      }
    }
  }
  @include medium {
    padding-left: 0;
    padding-right: 0;

    &--active {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }
  @include small-and-medium {
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    &--active {
      &::after {
        bottom: 5px;
      }
    }
    .website-header:not(.website-header--open) & {
      color: rgba(255, 255, 255, 0);
    }
    .website-header.website-header--open & {
      color: white;
    }
  }
  @include large-and-extra-large {
    color: $grey--dark;
    padding: 0 10px;

    &--active {
      &::after {
        bottom: -2px;
        left: 10px;
        right: 10px;
      }
    }
  }
}

.website-navigation-menu__link--active:focus,
.website-navigation-menu__link--active:hover {
  cursor: default;
  color: $grey--dark;
}

.website-navigation-menu__sub-menu-toggle {
  &::after {
    content: "";
    display: inline-block;
    padding: 4.5px;
    border-style: solid;

    @include small-and-medium {
      border-color: $coral;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
    }

    @include large-and-extra-large {
      border-width: 0 2px 2px 0;
      border-color: $grey--dark;
      margin: 3px;
      transform: rotate(45deg);
      transition: border-color 0.5s;
    }
  }
  &:hover::after,
  &:focus::after {
    @include large-and-extra-large {
      border-color: $coral;
    }
  }
}

.website-navigation-menu__sub-menu {
  display: none;
}
