.website-navigation-home-link__logo {
  height: 100%;
  fill: $grey--dark;
  transition: fill 0.5s;
  width: auto;
}

.website-header.website-header--open .website-navigation-home-link__logo {
  @include small-and-medium {
    fill: white;
  }
}
