.website-navigation {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 22px 20px;
  position: relative;
}

.website-navigation__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.website-navigation__menu-toggle {
  .toggle--slt-397-website-header-updates & {
    right: -8px;
    top: -10px;
  }

  body:not(.toggle--slt-397-website-header-updates) & {
    right: 0;
    top: 0;
    position: absolute;
  }
}

.website-navigation__home-link {
  line-height: 1;
  margin-top: 2px;
}

.website-navigation__logo {
  fill: #010101;
  width: 175px;
}

.website-navigation__language-picker {
  z-index: 10;

  @include _DEPRECIATED_small {
    margin-top: 5px;
  }
}

@include small-and-medium {
  .website-navigation__menu:not(.website-navigation__menu--expanded) {
    display: none;
  }
  .website-navigation__menu--expanded {
    flex-basis: 100%;
  }
}

.website-navigation__menu-list {
  list-style-type: none;
  padding-left: 30px;
}

.website-navigation__menu-item {
  color: $grey--dark;
  font-size: 18px;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $coral;
    text-decoration: none;
  }

  .active > & {
    border: solid $coral;
    border-width: 0 0 2px 0;
  }

  .website-navigation__dropdown-item & {
    font-weight: 400;
  }

  .has-sub-menu > &::after {
    content: "";
    display: inline-block;
    padding: 4.5px;

    @include small-and-medium {
      transform: rotate(-45deg);
      border: solid $coral;
      border-width: 0 2px 2px 0;
    }

    @include large-and-extra-large {
      transform: rotate(45deg);
      border: solid $grey--dark;
      border-width: 0 2px 2px 0;
      margin: 3px;
    }
  }

  .has-sub-menu:hover > &::after {
    transform: rotate(225deg);
    position: relative;
    top: 7px;
  }
}

.sub-menu {
  display: none;

  .has-sub-menu:hover > & {
    background-color: white;
    display: block;
    position: absolute;
  }
}

.website-navigation__dropdown-item {
  padding-left: 15px;
}

.hamburger-is-active {
  .website-navigation__menu-item {
    color: white;
  }

  .website-navigation__logo {
    fill: white;
    width: 175px;
  }
}
