$header-veritical-space: 25px;

.website-navigation {
  body:not(.toggle--slt-397-website-header-updates) & {
    background-color: white;
    padding: $header-veritical-space 20px;
  }
  body.toggle--slt-397-website-header-updates & {
    @include lateral-spacing;
    @include max-width--out-there;
    padding-top: $header-veritical-space;
    padding-bottom: $header-veritical-space;
    position: relative;
  }

  @include large-and-extra-large {
    align-items: top;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      background-color: #808080;
      bottom: 0;
      content: "";
      height: 1px;
      left: 50px;
      position: absolute;
      right: 50px;
    }
  }
}

.website-navigation__home-link {
  display: block;
  height: 20px;
}

.website-navigation__menu-toggle {
  @include small-and-medium {
    position: absolute;
    top: 15px;
  }
  @include small {
    right: $lateral-space--small - $website-navigation-menu-toggle-spacing;
  }
  @include medium {
    right: $lateral-space--medium - $website-navigation-menu-toggle-spacing;
  }
  @include large-and-extra-large {
    display: none;
  }
}

.website-navigation__menu {
  @include small-and-medium {
    border-top: 1px solid rgba(255, 255, 255, 0);
    margin: $header-veritical-space 0 0;
    transition: height 0.5s, padding-top 0.5s, border-top-color 0.5s;

    &:not(.website-navigation__menu--open) {
      height: 0;
      padding-top: 0;
      overflow: hidden;
    }
    &.website-navigation__menu--open {
      $header-height: 70px;
      border-top-color: rgba(128, 128, 128, 1);
      height: calc(100vh - #{$header-height});
      overflow: scroll;
      padding-top: 30px;
    }
  }
  @include large {
    margin: 0 25px;
  }
  @include extra-large {
    margin: 0 30px 0 45px;
  }
}

.website-navigation__languages {
  margin: 0;
}
