$header-height: 70px;
$header-border-height: 1px;

body:not(.toggle--slt-397-website-header-updates) .website-header {
  background-color: white;
  font-size: 13px;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 100;
}

.toggle--slt-397-website-header-updates {
  .website-header {
    left: 0;
    position: sticky;
    width: 100%;
    z-index: 100;

    &.website-header--revealed {
      top: 0;
    }

    @include small-and-medium {
      overflow: hidden;
      transition: background-color 0.5s, height 0.5s;
      z-index: 100;

      &:not(.website-header--open) {
        background-color: white;
        height: $header-height + $header-border-height;
      }
      &.website-header--open {
        background-color: $slate;
        height: 100vh;
        top: 0;
      }
    }
    @include large-and-extra-large {
      background-color: white;

      &.website-header--has-open-submenu {
        top: 0;
      }
    }

    &::after {
      background-color: $grey--light;
      content: "";
      height: $header-border-height;

      @include small-and-medium {
        position: absolute;
        top: $header-height;
      }
      @include small {
        left: $lateral-space--small;
        right: $lateral-space--small;
      }
      @include medium {
        left: $lateral-space--medium;
        right: $lateral-space--medium;
      }
      @include large-and-extra-large {
        @include max-width--framed;
        display: block;
      }
    }
  }
}
