$website-navigation-menu-toggle-spacing: 15px;
$website-navigation-menu-toggle-width: 25px;
$website-navigation-menu-toggle-height: 10px;

.website-navigation-menu-toggle {
  background: none;
  border: 0 none;
  cursor: pointer;
  height: $website-navigation-menu-toggle-height +
    (2 * $website-navigation-menu-toggle-spacing);
  width: $website-navigation-menu-toggle-width +
    (2 * $website-navigation-menu-toggle-spacing);

  &::after,
  &::before {
    content: "";
    height: 1.5px;
    left: $website-navigation-menu-toggle-spacing;
    position: absolute;
    width: $website-navigation-menu-toggle-width;
    transition: transform 0.5s, bottom 0.5s, background-color 0.5s;
  }
  &[aria-expanded="false"]::after,
  &[aria-expanded="false"]::before {
    background-color: $grey--dark;
  }
  &[aria-expanded="false"]::before {
    bottom: $website-navigation-menu-toggle-spacing +
      $website-navigation-menu-toggle-height;
  }
  &[aria-expanded="false"]::after {
    bottom: $website-navigation-menu-toggle-spacing;
  }
  &[aria-expanded="true"]::after,
  &[aria-expanded="true"]::before {
    background-color: white;
    bottom: 20px;
  }
  &[aria-expanded="true"]::before {
    transform: rotate(45deg);
  }
  &[aria-expanded="true"]::after {
    transform: rotate(-45deg);
  }
}
