{% if include.author %}
{% for member in site.data.team %}
{% if include.author == member.name %}
<div class = "blog-author bg-color-white margin-bottom-30">
  <div class="headline headline-md margin-bottom-30">
    <h2>{% t post-about_the_author.title %}</h2>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-4 pull-left">
      <img class="img-responsive"  id="author-img" src="{{ member.image  | prepend: site.baseurl  | prepend: site.baseurl }}">
    </div>
    <div class="col-sm-9 pull-left">
      <div class="blog-author-desc">
        <div class="overflow-h">
          <h4>{{ page.author | author_links}}</h4>
          {% if member.twitter %}
          <ul class="list-inline">
            <li><a href="https://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a></li>
        </ul>
          {% endif %}
        </div>
        <p>{{ member.fullDescription }}</p>
      </div>
    </div>
  </div>
</div>
{% break %}
{% endif %}
{% endfor %}
{% endif %}
