<div id="{{ include.target }}-form" class="g-max-width-800 g-bg-white g-overflow-y-auto g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40" style="display: none;">
  <button type="button" class="close" onclick="Custombox.modal.close();"> <i class="hs-icon hs-icon-close"></i> </button>
  <h4 class="modal-title" id="myModalLabel4">{{ include.title }}</h4>
  <hr></hr>
  <form action="#">  
    <div id="{{ include.target }}-fields"> 
      <sup>(*) Mandatory fields</sup>
      <div class="row">
        <div class="col-md-6 margin-bottom-20">
          <label>First Name (*)</label><input name="{{ include.target }}-firstname" class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label>Last Name (*)</label><input name="{{ include.target }}-lastname" class="form-control" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 margin-bottom-20">
          <label>Email (*)</label><input name="{{ include.target }}-email" class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label>Phone Number (*)</label><input name="{{ include.target }}-phone" class="form-control" type="text" />
        </div>
      </div>
      <div class ="row">
        <div class="col-md-12 margin-bottom-20">
          <label>Where do you want to work?</label>
          <select name="{{ include.target }}-location" class="form-control" id="location">
            <option value="London">London</option>
            <option value="Barcelona">Barcelona</option>
          </select>
        </div>
      </div>
      <div class="row bg-color-light">
        <div class="col-md-6 margin-bottom-20">
          <label>GitHub Account</label><input name="{{ include.target }}-github" class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label>Linkedin Account</label><input name="{{ include.target }}-linkedin" class="form-control" type="text" />
        </div>
      </div>
      <div class="row bg-color-light">
        <div class="col-md-6 margin-bottom-20">
          <label>StackOverFlow Account</label><input name="{{ include.target }}-stackoverflow" class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label>Blog</label><input name="{{ include.target }}-blog" class="form-control" type="text" />
        </div>
      </div>
      <div class ="row">
        <div class="col-md-12 margin-bottom-20">
          <label>What does Software Craftsmanship mean to you? (*)</label>
          <textarea name="{{ include.target }}-craftmanship" class="form-control" rows="10" id="craftmanship"></textarea>
        </div>
      </div>
      <div class ="row">
        <div class="col-md-12 margin-bottom-20">
          <label>Tell us about you (technologies that you have used, projects you have worked on) (*)</label>
          <textarea name="{{ include.target }}-message" class="form-control" rows="10" id="message"></textarea>
        </div>
      </div>
      <div class ="row">
        <div class="col-md-12 margin-bottom-20">
          <label class="form-check-inline u-check g-pl-25">
            <input  name="{{include.target}}-consent" id="consent" class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
            <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
              <i class="fa" data-check-icon=""></i>
            </div>
            I Accept
          </label>
          <small class="form-text text-muted g-font-size-default g-mt-10">By filling the "I Accept" checkbox and submitting this form you expressly consent to <a href="https://codurance.com/policies/privacy" target="_blank">our privacy policy</a> </small>
        </div>
      </div>
    </div>
    
    <div id="input-error-msg-{{ include.target }}" class="row" style="display: none;" >
      <div class="col-md-12 ">
        <div class="alert alert-danger">
          <div id="fields-{{ include.target }}">
          </div>
        </div>
      </div>
    </div>
    <div  id="error-msg-{{ include.target }}" class="row" style="display: none;">
      <div class="col-md-12 margin-bottom-20">
        <div class="alert alert-danger">
          <strong>Ops something went wrong: </strong> please try later or email us at <a href="mailto:hello@codurance.com">hello@codurance.com</a>.
        </div>
      </div>
    </div>
    <div id="success-msg-{{include.target}}" class="row" style="display: none;">
      <div class="col-md-12 margin-bottom-20">
        <div  class="alert alert-success">
          <strong>Thank you: </strong> we will be in touch with you shortly.
        </div>
      </div>
    </div>

    <hr></hr>
    
    <button type="button" class="btn-u btn-u-default" onclick="Custombox.modal.close();">Close</button>
    <button id="{{ include.target }}-apply-btn" type="button" class="btn-u btn-u-primary" onclick="submitApplication('{{ include.title }}', '{{ include.target }}');" >Apply</button>
    <hr></hr>
    
  </form>
</div>
