<div class="container content-md">
  <div class="row margin-bottom-20">
    <div class="col-md-9 bg-orange"> 
      <div class="contact-us vertical-alignment-parent">
		<div class="vertical-alignment-child">
		    <h3 class="reset-margin margin-right-20">
		        <span class="margin-right-20">Interested in deeper learning?</span>
		        <a href="/services/training" class="btn btn-more btn-more-light animated margin-left-10">BROWSE OUR COURSES</a>
		    </h3> 
		</div>
      </div> 
    </div> 
  </div>
  <div class="row">
	<div class="col-md-9 cta-contact-blog-box">
		<h3>Send us questions, comments or a simple hello:</h3> 
		<br />
		<form class="sky-form" action="http://formspree.io/hello@codurance.com" method="POST">
			<input type="hidden" name="_next" value="/aboutus/thanks" />
			<input type="hidden" name="_subject" value="Codurance Contact" />
			<label class="cta-label cta-label-left">Name/organisation
				<input class="form-control" type="text" name="name" required>
			</label>
			<label class="cta-label cta-label-right">Your e-mail
				<input class="form-control" type="email" name="_replyto" required>
			</label>
			<br />
			<label>Message
				<textarea class="form-control" rows="10" name="body" required></textarea>
			</label>
			<br />
			<button id="Send" value="Send" class="btn btn-u btn-more animated pull-right" type="submit">SUBMIT</button>
		</form>
	</div>
  </div>
</div>