<!-- Call to action -->
<div class="section orange-section">
    <div class="contact-us">
	<h3>Interested in learning deeper?
	    <span class="browse-courses">
		<a href="/services/training">BROWSE OUR COURSES</a>
	    </span>
	</h3>
    </div>
</div>
<div class="section gray-section">
    <div class="container">
	<h3>Send us questions, comments or a simple hello:</h3>
	<br />

	<form class="sky-form" action="http://formspree.io/hello@codurance.com" method="POST">
            <input type="hidden" name="_next" value="/aboutus/thanks" />
            <input type="hidden" name="_subject" value="Codurance Contact" />
            <label>Name/organisation</label>
            <input class="form-control" type="text" name="name" required>
            <br />
            <label>Your e-mail</label>
            <input class="form-control" type="email" name="_replyto" required>
            <br />
            <label>Message</label>
            <textarea class="form-control" rows="10" name="body" required></textarea>
            <br />
            <button id="Send" value="Send" class="btn-send-message" type="submit">SUBMIT</button>
	</form>
    </div>
</div>
