<div class="container content-md">
  <div class="row">
    <div class="col-md-9 orange-section"> 
      <div class="contact-us"> 
        <h3>Interested in deeper learning? 
			<span class="browse-courses">
				<a href="/services/training">BROWSE OUR COURSES</a> 
			</span>
		</h3> 
      </div> 
    </div> 
  </div>
  <div class="row">
	<div class="col-md-9 cat-contact-blog-box">
		<h3>Send us questions, comments or a simple hello:</h3> 
		<br />
		<form class="sky-form" action="http://formspree.io/hello@codurance.com" method="POST">
			<input type="hidden" name="_next" value="/aboutus/thanks" />
			<input type="hidden" name="_subject" value="Codurance Contact" />
			<label class="cat-label cat-label-left">Name/organisation
				<input class="form-control" type="text" name="name" required>
			</label>
			<label class="cat-label cat-label-right">Your e-mail
				<input class="form-control" type="email" name="_replyto" required>
			</label>
			
			<br />
			<label>Message
				<textarea class="form-control" rows="10" name="body" required></textarea>
			</label>
			
			<br />
			<button id="Send" value="Send" class="btn-send-message" type="submit">SUBMIT</button>
		</form>
	</div>
  </div>
</div>
