{% if page.title %}
    <div class="breadcrumbs margin-bottom-10">
        <div class="container">
            <h2 class="pull-left">{% if page.tag %}{{ page.tag }} {% else %}{{ page.title }}{% endif %}</h2>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                {% if page.parent and page.title != page.parent.title %}
                    <li><a href="{{ page.parent.link }}">{{ page.parent.title }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
