{% if page.title or page.tag %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{% if page.tag %}{{ page.tag }} {% else %}{{ page.section }}{% endif %}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
                {% if page.group and page.title != page.group.title %}
                    <li>
                    {% if page.group.link %}
                        <a href="{{ page.group.link }}">{{ page.group.title }}</a>
                    {% else %}
                        {{ page.group.title }}
                    {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
