<div class="row" style="margin-bottom: 35px; margin-top: -20px; padding: 10px; background-color: #555;">
    <div class="col-md-8">
        <h2 style="margin-top: 0; color: #fff;">CAREER OPEN HOUSE | 31st Jan, 7pm</h2>
        <p style="margin-bottom: 0; color: #ddd;">We’re hiring Java and .NET Craftspeople in London &amp; Barcelona. Come and meet us at our Career Open House on 31st January to learn more.</p>
    </div>
    <div class="col-md-4" style="text-align: right; margin-top:12px;">
        <a href="https://www.eventbrite.co.uk/e/codurance-london-career-open-house-tickets-41817012811" role="button" class="btn btn-u btn-more animated">Learn more ></a>
    </div>
</div>