<!-- This was obtained from https://github.com/studio24/cookie-message-->

<!-- Cookie Message -->
<div id="cookie-message" class="g-pb-20 g-pt-20 g-bg-black-opacity-0_9 g-color-white-opacity-0_8" style="display: none;">
  <div class="row">
    <div class="col-lg-10 g-pl-50 g-pt-20">
        Codurance uses cookies to ensure we give you the best experience on our website.
        <a href="{{ '/policies/cookie' | prepend: site.baseurl }}" target="_blank" title="View our Cookie Policy">View our Cookie Policy</a>
    </div>
    <div class="col-lg-2 g-pr-50">
      <a id="cookie-message-accept" class="btn btn-u btn-more pull-right"> Accept</a>
    </div>
  </div>
</div>