<!-- This was obtained from https://github.com/studio24/cookie-message-->

<!-- Cookie Message -->
<div class = "text-center g-py-20" id="cookie-message" data-cookie-expiry="60" style="display: none; margin: 0 auto; background-color: #d5e6ed;">
  <p class = "g-mb-0">
      Codurance uses cookies to ensure we give you the best experience on our website.
      <a href="{{ '/policies/cookie' | prepend: site.baseurl }}" target="_blank" title="View our Cookie Policy">View our Cookie Policy</a>
  </p>
</div>