<div class="row blog-boxes margin-bottom-40">
  {% assign events = site.events | reverse %}
	{% for post in events | limit:3 %}
	<div class="col-md-4 md-margin-bottom-40">
		<div class="blog-box homepage-blog-thumb">
			<a href="{{ post.event-page-url }}">
        <img class="img-responsive bordered" src="{% if post.image.src %} {{ post.image.src | prepend: site.baseurl }} {% else %} {{ site.default_post_image | prepend: site.baseurl }} {% endif %}" alt="{{ post.title }}">
			</a>
			<div class="blog-content">
				<h3><a href="{{post.event-page-url}}">{{post.title}}</a></h3>
				<h4>{{post.location}}</h4>
				{% if post.event-dates.starts == post.event-dates.ends %}
					<p>{{ post.event-dates.starts | date_to_string }}</p>
				{% else %}
					<p>{{ post.event-dates.starts | date_to_string }} - {{ post.event-dates.ends | date_to_string }}</p>
				{% endif %}	
				<p>{{ post.content | strip_html | truncatewords:30 }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
