<!-- JS Global Compulsory -->
<script src="{{ "/assets/plugins/jquery/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/plugins/jquery/jquery-migrate.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/plugins/back-to-top.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/plugins/jquery.parallax.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<!-- JS Implementing Plugins -->
<script src="{{ "/assets/plugins/owl-carousel2/owl.carousel.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/handlebars.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<!-- JS Customization -->
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<!-- JS Page Level -->
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/pages/index.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initParallaxBg();
        var gaEvents = window.googleAnalyticsEvents;
        gaEvents.functions.forEach(function(fireEvent){
            fireEvent(gaEvents.environment);
        });
	if (typeof onJQueryLoaded === 'function') {
	   onJQueryLoaded();
	}
    });
</script>

<!-- begin olark code -->
<script type=“text/javascript” async> ;(function(o,l,a,r,k,y){if(o.olark)return; r=“script”;y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src=“//“+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y(“extend”,i,j)}; y.identify=function(i){y(“identify”,k.i=i)}; y.configure=function(i,j){y(“configure”,i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,“static.olark.com/jsclient/loader.js”);
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify(‘5995-724-10-9967’);</script>
<!-- end olark code -->
