<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/owl.carousel.2.0.0/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/handlebars.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        var gaEvents = window.googleAnalyticsEvents;
        gaEvents.functions.forEach(function(fireEvent){
            fireEvent(gaEvents.environment);
        });
	if (typeof onJQueryLoaded === 'function') {
	   onJQueryLoaded();
	}
    });
</script>
