<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2013 &copy; Codurance LTD.
                     | Contact us: <a href="mailto:hello@codurance.com" class="">hello@codurance.com</a>
                </p>
            </div>
            <div class="col-md-6">
                <a href="/">
                    <img id="logo-footer" src="/assets/img/logo1-orange.png" height="40" class="pull-right" alt=""/>
                </a>
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</div><!--/copyright-->
