<title>{% if page.title %}{{ page.title }} | Codurance {% else %}Software Craftsmanship and Agile Development | Codurance | London{% endif %}</title>
 <!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Our team of dedicated software craftsmen provides consultancy, software development, and training services to clients seeking high quality development processes and software solutions.">
<meta name="author" content="Codurance Ltd">

<!-- Open Graph tags - Used when publishing on Facebook -->
<meta property="og:site_name" content="Codurance"/>
<meta property="og:description" content="Our team of dedicated software craftsmen provides consultancy, software development, and training services to clients seeking high quality development processes and software solutions."/>
<meta property="og:url" content="http://codurance.com"/>
<meta property="og:image" content="http://codurance.com/assets/img/codurance.png"/>

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/img/favicon.ico">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/blocks.css">
<link rel="stylesheet" href="/assets/css/blog.style.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/plugins/owl.carousel.2.0.0/assets/owl.carousel.css">

<!-- CSS Theme -->
<link rel="stylesheet" href="/assets/css/plugins.css">
<link rel="stylesheet" href="/assets/css/app.css">
<link rel="stylesheet" href="/assets/css/pages/blog.css">
<link rel="stylesheet" href="/assets/css/theme-colors/orange.css">
<link rel="stylesheet" href="/assets/css/headers/header-default.css">
<link rel="stylesheet" href="/assets/css/footers/footer-v1.css">


<!-- CSS Customization -->
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/idea.min.css">
<!--fonts -->
<link href='http://fonts.googleapis.com/css?family=Oxygen:700,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

{% if page.canonical %}
<link rel="canonical" href="{{ page.canonical.href }}" />
{% endif %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{site.googleanalytics.account}}', 'codurance.com');
    ga('send', 'pageview');
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- ShareThis -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8b795ed1-9577-43d1-9e4e-55c54306336b", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>