<div class="header-v3 header-sticky">
        <!-- Topbar -->
        <!-- <div class="topbar">
            <div class="container"></div>
        </div> -->
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="logo-header" src="/assets/img/codurance.png" height="45px;" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        {% navlink Services @ /services %}
                        {% navlink Case Studies @ /casestudies %}
                        {% navlink Videos @ /videos %}
                        {% navlink Blog @ /blog %}
                        {% navlink Careers @ /careers/craftsman %}
                        {% navgroup About Us %}
                            {% navlink Our Team @ /aboutus/ourteam %}
                            {% navlink Our Company @ /aboutus/ourcompany %}
                            {% navlink Our Practices @ /aboutus/ourpractices %}
                        {% endnavgroup %}
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===--> 