{% for post in include.param limit:1 %}
	{% if post.image.src %}
		{% assign imageSrc = post.image.src %}
	{% else %}
		{% assign imageSrc = site.default_post_image %}
	{% endif %}
	{% if post.abstract %}
		{% assign introductionToPost = post.abstract %}
	{% else %}
		{% assign introductionToPost = post.content %}
	{% endif %}
	{% if post.event-page-url %}
		{% assign linkUrl = post.event-page-url %}
	{% else %}
		{% assign linkUrl = post.url | prepend: site.baseurl %}
	{% endif %}
	{% if post.event-dates %}
		{% assign date = post.event-dates.starts %}
	{% else %}
		{% assign date = post.date %}
	{% endif %}
      <div class="col-sm-6 col-lg-4 g-mb-30">
					<article class="homepage-blog-thumb">
							<img class="img-fluid w-100" src="{{ imageSrc  | prepend: site.baseurl }}" alt="Image Description">
				
							<div class="g-bg-white g-pa-30-30-20">
								<p class="small g-mb-10">
									<time>{{ date | date_to_string }}</time>
								</p>
				
								<h3 class="h6 text-uppercase g-font-weight-600 g-mb-10">
									<a class="g-color-gray-dark-v2 g-text-underline--none--hover" href="{{ linkUrl }}">{{ post.title | truncatewords: 8 }}</a>
								</h3>
				
								<div class="small g-mb-10">
									{% t publications-post.author_title %} {{ post.author | author_links }}
								</div>
				
								<p>{{ introductionToPost | markdownify | strip_html | truncatewords:30 }}</p>
							</div>
						</article>
        </div>
{% endfor %}