{% if include.publication == 'videos' %}
{% capture title %} {% t latest-publications.videos %} {% endcapture %}
{% assign publications = site.videos | reverse %}
{% elsif include.publication == 'posts' %}
{% capture title %} {% t latest-publications.posts %} {% endcapture %}
{% assign publications = site.posts %}
{% endif %}

<div class="latest-publications margin-bottom-40">

  <div class="headline-v2 bg-color-light">
    <h2>{{ title }}</h2>
  </div>

  {% for publication in publications | limit: 3 %}

  <div class="bg-color-light item" >			
    <img class="img-responsive" src="{{ publication.image.src }}" alt="{{ publication.title }}">
    <h4><a href="{{ publication.url }}">{{ publication.title }}</a></h4>
  </div>

  {% endfor %}

</div>
