{% assign post = include.param[0] %}
{% assign title = post.title | truncatewords: include.truncated_title %}
{% assign date = post.date %}
{% assign author = post.author %}
{% assign imgSrc = post.image.src %}
{% assign postUrl = post.url | prepend: site.baseUrl %}
{% assign abstract = post.content | strip_html | truncatewords:include.truncated_abstract %}

<div class="col-md-4 md-margin-bottom-40">
    <div class="blog-box homepage-blog-thumb">
        <img class="img-responsive bordered" alt="{{ title }}" src={{ imgSrc }}>
        <div class="blog-content">
            <h3><a href={{ postUrl }}>{{ title }}</a></h3>
            <p>{{ abstract }}</p>
        </div>
        <ul class="list-inline blog-box-info">
            <li>{% t publications-post.author_title %} {{ author | author_links }} </li>
            <li>|</li>
            <li><i class="fa fa-clock-o"></i> {{ date | date_to_string }}</li>
        </ul>
    </div>
</div>
