<div class="panel panel-profile">
<div class="panel-heading overflow-h">
<h2 class="panel-title heading-sm pull-left"><i class="fa fa-mortar-board"></i> LSCC Meetup</h2>
</div>
<div class="panel-body">
	<ul id="lssc_events" class="timeline-v2 timeline-me" >	
	</ul>
</div>
</div>
<script id="entry-template" type="text/x-handlebars-template">
	<li>
		<time datetime="" class="cbp_tmtime"><span>Meetup</span> <span>&#123;&#123;time&#125;&#125;</span></time>
			<i class="cbp_tmicon rounded-x hidden-xs"></i>
				<div class="cbp_tmlabel">
					<h2>&#123;&#123;name&#125;&#125;</h2>
				<p>&#123;&#123;description&#125;&#125;</p>
			<a href="&#123;&#123;link&#125;&#125;" role="button" class="btn btn-u btn-more btn-timeline right" >{% t events-lscc.More_link_title  %}</a>
		</div>
	</li>
</script>

