<section class="g-pa-30 g-mt-50 g-mb-50" style="margin: 0 calc(50% - 50vw); background-color: #2D2D2D">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="g-width-220" src="/assets/custom/img/sc-london18_white.png" alt="SC London" />
                    </div>
                    <div class="col-md-9 g-flex-middle-item text-right">
                        <h4 class="g-font-weight-400 g-color-white text-left" style="color: #fff!important; font-size: 12pt;">Join us at SC London 2018 and celebrate the 10 year anniversary of the Software Craftsmanship Movement. Featuring <b>Uncle Bob Martin, Michael Feathers, Sandro Mancuso</b> and many more!</h4>
                        <a class="btn btn-md ban-btn-offblack text-uppercase" href="http://sc-london.com/"> Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>