<div class="funny-boxes">
    <div class="row">
        <div class="col-md-4 funny-boxes-img">
            <a href="{{ post.url }}"><img class="img-responsive" src="{{post.image.src}}" alt="{{post.title}}"></a>
            <ul class="list-unstyled">
               <li><h5><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</h5></li>
                <li><h5><i class="fa fa-pencil"></i> {{ post.author | author_links }}</h5></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {% if post.tags.size > 0 %}
            <div class="blog-post-tags">
              <ul class="list-unstyled list-inline blog-tags">
                <li>
                    {% for tag in post.tags %}
                        <i class="fa fa-tags"></i><a href="/blog/tag/{{ tag }}/">{{ tag }} </a>
                    {% endfor %}
                </li>
              </ul>
            </div>
            {% endif %}
            <p>{{ post.content | strip_html | truncatewords:50}}</p>
        </div>
    </div>                            
</div>
