    <section class="container g-pt-100 g-pb-60">
      <!-- Heading -->
      <div class="row justify-content-center text-center g-mb-50">
        <div class="col-lg-9">
          <h2 class="h2 g-color-black g-font-weight-600 mb-2">Follow the Latest News</h2>
          <div class="d-inline-block g-width-30 g-height-2 g-bg-primary mb-2"></div>
          <p class="lead mb-0">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
        </div>
      </div>
      <!-- End Heading -->

      <div class="row">
        <div class="col-sm-6 col-lg-4 g-mb-30">
          <!-- Blog Grid Overlap Blocks -->
          <article>
            <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description">
            <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
              <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">31 May 2017</span>
              <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Announcing a free plan for small teams</a>
                </h2>
              <p class="g-color-gray-dark-v4 g-line-height-1_8">At Wake, our mission has always been focused on bringing openness and transparency.</p>
              <a class="g-font-size-13" href="#!">Read more...</a>
            </div>
          </article>
          <!-- End Blog Grid Overlap Blocks -->
        </div>

        <div class="col-sm-6 col-lg-4 g-mb-30">
          <!-- Blog Grid Overlap Blocks -->
          <article>
            <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description">
            <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
              <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">1 June 2017</span>
              <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Exclusive interview with InVision's CEO</a>
                </h2>
              <p class="g-color-gray-dark-v4 g-line-height-1_8">Clark Valberg is the founder and CEO of InVision. If you are a designer...</p>
              <a class="g-font-size-13" href="#!">Read more...</a>
            </div>
          </article>
          <!-- End Blog Grid Overlap Blocks -->
        </div>

        <div class="col-sm-6 col-lg-4 g-mb-30">
          <!-- Blog Grid Overlap Blocks -->
          <article>
            <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img2.jpg" alt="Image Description">
            <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
              <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-12 text-uppercase mb-2">31 May 2017</span>
              <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                  <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">A UX strategy for the Ultimate Product Launch</a>
                </h2>
              <p class="g-color-gray-dark-v4 g-line-height-1_8">In an attempt to answer those questions, I poured over the biggest collections of design.</p>
              <a class="g-font-size-13" href="#!">Read more...</a>
            </div>
          </article>
          <!-- End Blog Grid Overlap Blocks -->
        </div>
      </div>
    </section>



<div class="container content-md">

  <ul class="breadcrumb">
    <li {% if include.filter == '' %} class="active" {% endif %}><a href="{{ '/publications' | prepend: site.baseurl }}">{% t publications-all.title %}</a></li>
    <li {% if include.filter == 'posts' %} class="active" {% endif %}><a href="{{ '/publications/posts' | prepend: site.baseurl }}">{% t publications-posts.title %}</a></li>
    <li {% if include.filter == 'videos' %} class="active" {% endif %}><a href="{{ '/publications/videos' | prepend: site.baseurl }}">{% t publications-videos.title %}</a></li>
    <li {% if include.filter == 'newsletters' %} class="active" {% endif %}><a href="{{ '/publications/newsletters' | prepend: site.baseurl }}">Newsletters</a></li>
  </ul>

    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-md-9">
            {% for post in paginator.posts %}
                {% include post.html post=post %}
            {% endfor %}

            <!--Pagination-->
            {% if paginator.total_pages > 1 %}
            <div class="text-center">
                <ul class="pagination">

                    {% if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">«</a>
                    </li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    <li {% if page == paginator.page %} class="active" {% endif %}>
                    {% assign pageUrl = '/publications/:filter' | replace: ':filter', include.filter | prepend: site.baseurl %}
                    {% if page == 1 %}
                        <a href="{{ pageUrl }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ pageUrl | append: '/page:num' | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!--End Pagination-->

        </div>
        <!-- Right sidebar -->
        <div class="col-md-3">
		        {% include newsletter_form.html bg="bg-color-light" %}
            {% unless include.filter == "newsletters" %}
            <div class="posts margin-bottom-40">
              {% include latest_publications.html publication=include.latest_publications_type %}
            </div>
            <div class="posts margin-bottom-40">
              <div class="headline-v2 bg-color-light">
                <h2>{% t publications-books.title  %}</h2>
              </div>
              <div>
                <img src="{{ '/assets/custom/img/home/the-software-craftsman-book.jpg' | prepend: site.baseurl }}" class="img-responsive" alt="the software craftsman book">
                <h3><a href="https://www.goodreads.com/book/show/23215733-the-software-craftsman">{% t publications-books.subtitle %}</a></h3>
              </div>
            </div>
            {% endunless %}
        </div>
         <!-- End right sidebar -->
    </div>
</div>
