<div class="bg-color-light">
  <div class="container content-sm">
    <div class="row blog-page blog-item">
      <!-- Left Sidebar -->
      <div class="col-md-9">
        <!--Blog Post-->
        <div class="news-v3 bg-color-white margin-bottom-30">
          <div class="news-v3-in shareThisButtons">
            
            {% include careers_banner.html %}

            <h1>{{ page.title }}</h1>
           
						{% if page.asset-type == "newsletter" %}
        			{% include newsletter_info.html %}
            {% else %}
        			{% include post_info.html %}
            {% endif %}
 
						{% if include.widgets contains "video_frame" %}
            <img class="img-responsive full-width">
            <iframe style="height: 400px; width: 100%;" src="{{ page.video-url }}"></iframe>
            </img>

            {% endif %}
            {{ content }}

            <div id="sharethisButtons">
              <span class='pull-right st_twitter_large' displayText='Tweet' st_url='{{ site.url }}{{ site.baseurl }}{{ page.url }}'></span>
              <span class='pull-right st_linkedin_large' displayText='LinkedIn' st_url='{{ site.url }}{{ site.baseurl }}{{ page.url }}'></span>
              <span class='pull-right st_email_large' displayText='Email' st_url='{{ site.url }}{{ site.baseurl }}{{ page.url }}'></span>
              <span class='pull-right st_sharethis_large' displayText='ShareThis' st_url='{{ site.url }}{{ site.baseurl }}{{ page.url }}'></span>
            </div>

          </div>
        </div>
        <!--End Blog Post-->

        {% if include.widgets contains "about_the_author" %}
        {% include about_the_author.html author=page.author %}
        {% endif %}
      </div>
      <!-- End Left Sidebar -->
      <!-- Right Sidebar -->
      <div class="col-md-3">
        {% include search_form.html %}

        {% if include.widgets contains "newsletter_form" %}
        {% include newsletter_form.html bg=""%}
        {% endif %}
        
        {% if include.widgets contains "recent_newsletters" %}
        {% include recent_publications.html type="newsletters" publication=page %}
        {% endif %}

        {% if include.widgets contains "related_posts" %}
        {% include related_publications.html tags=page.tags %}
        {% endif %}

        {% if include.widgets contains "recent_posts" %}
        {% include recent_publications.html type="posts" publication=page %}
        {% endif %}

        {% if include.widgets contains "recent_videos" %}
        {% include recent_publications.html type="videos" publication=page %}
        {% endif %}
      </div>
      <!--/row-->
    </div>
    <!--/container-->
  </div>
  <!-- background color -->
</div>
<script>
function onJQueryLoaded(){
  $('.row.blog-page img').addClass("img-responsive");
};
</script>
