<div class="container content-md">

  <ul class="breadcrumb">
    <li {% if include.filter == '' %} class="active" {% endif %}><a href="{{ '/publications' | prepend: site.baseurl }}">{% t publications-all.title %}</a></li>
    <li {% if include.filter == 'posts' %} class="active" {% endif %}><a href="{{ '/publications/posts' | prepend: site.baseurl }}">{% t publications-posts.title %}</a></li>
    <li {% if include.filter == 'videos' %} class="active" {% endif %}><a href="{{ '/publications/videos' | prepend: site.baseurl }}">{% t publications-videos.title %}</a></li>
    <li {% if include.filter == 'newsletters' %} class="active" {% endif %}><a href="{{ '/publications/newsletters' | prepend: site.baseurl }}">Newsletters</a></li>
  </ul>

    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-md-9">
            {% for post in paginator.posts %}
                {% include post.html post=post %}
            {% endfor %}

            <!--Pagination-->
            {% if paginator.total_pages > 1 %}
            <div class="text-center">
                <ul class="pagination">

                    {% if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">«</a>
                    </li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    <li {% if page == paginator.page %} class="active" {% endif %}>
                    {% assign pageUrl = '/publications/:filter' | replace: ':filter', include.filter | prepend: site.baseurl %}
                    {% if page == 1 %}
                        <a href="{{ pageUrl }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ pageUrl | append: '/page:num' | replace: ':num', page | replace: '//', '/' }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!--End Pagination-->

        </div>
        <!-- Right sidebar -->
        <div class="col-md-3">
		        {% include newsletter_form.html bg="bg-color-light" %}
            {% unless include.filter == "newsletters" %}
            <div class="posts margin-bottom-40">
              {% include latest_publications.html publication=include.latest_publications_type %}
            </div>
            <div class="posts margin-bottom-40">
              <div class="headline-v2 bg-color-light">
                <h2>{% t publications-books.title  %}</h2>
              </div>
              <div>
                <img src="{{ '/assets/custom/img/home/the-software-craftsman-book.jpg' | prepend: site.baseurl }}" class="img-responsive" alt="the software craftsman book">
                <h3><a href="https://www.goodreads.com/book/show/23215733-the-software-craftsman">{% t publications-books.subtitle %}</a></h3>
              </div>
            </div>
            {% endunless %}
        </div>
         <!-- End right sidebar -->
    </div>
</div>
