<div class="posts margin-bottom-40">
  <div class="headline-v2"><h2>{% t post-recent_posts.title %}</h2></div>
  {% for post in site.posts limit: 7 %}
  <div class="blog-thumb blog-thumb-circle margin-bottom-15">
    <div class="blog-thumb-hover">
      <a href="{{ post.url }}">
        <img class="rounded-x" src="{% if post.image.src %} {{ post.image.src }} {% else %} {{ site.default_post_image }} {% endif %}" alt="{{ post.title }}"></img>
      </a>
      <a class="hover-grad" href="{{ post.url }}">
        <i class="fa fa-hand-spock-o"></i>
      </a>
    </div>
    <div class="blog-thumb-desc">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> 
      <ul class="blog-thumb-info">
        <li>
          {{ post.author }}
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

