<div class="posts margin-bottom-40">

  {% if include.type == "posts" %}
  {% assign publications = site.posts %}
  <div class="headline-v2"><h2>{% t recent-publications.posts-title %}</h2></div>
  {% elsif include.type =="videos" %}
  <div class="headline-v2"><h2>{% t recent-publications.videos-title %}</h2></div>
  {% assign publications= site.videos | reverse %}
  {% elsif include.type =="newsletters" and site.newsletters.size > 1 %}
  <div class="headline-v2"><h2>Recent Newsletters</h2></div>
  {% assign publications= site.newsletters | reverse %}
  {% endif %}

  {% comment %} Couldn't find a way to filter out an item from an array, so doing it manually.{% endcomment %}
  {% assign latest_publications = "" | split: "" %}
  {% for post in publications | limit: 8 %}
  {% if post != include.publication %}
  {% assign latest_publications = latest_publications | push: post %}
  {% endif %}
  {% endfor %}

  {% for post in latest_publications limit: 7 %}

  {% if post.image.src == empty %}
  {% assign postImgUrl = site.default_post_image | prepend: site.baseurl %}
  {% elsif post.image.src contains '://' %}
  {% assign postImgUrl = post.image.src %}
  {% else %}
  {% assign postImgUrl = post.image.src | prepend: site.baseurl %}
  {% endif %}

  <div class="blog-thumb blog-thumb-circle margin-bottom-15">
    <div class="blog-thumb-hover">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <img class="rounded-x" src="{{postImgUrl}}" alt="{{ post.title }}"></img>
      </a>
      <a class="hover-grad" href="{{ post.url | prepend: site.baseurl }}">
        <i class="fa fa-hand-spock-o"></i>
      </a>
    </div>
    <div class="blog-thumb-desc">
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3> 
      <ul class="blog-thumb-info">
        <li>
          {{ post.author }}
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

