<div class="section " >
<!--Related Blog Posts-->
<div class="container">

	    	{% assign posts = site.posts | where: "layout", "post" %}
		{% assign relatedPosts = ""  %}
			  
		{% for post in posts %}
			{% assign rank = "" %}
			{% for otherPostCategory in post.categories %}
				{% for pageCategory in page.category %}
					{% assign otherPostCatLowerCase =  otherPostCategory | downcase %}
					{% assign pageCatLowerCase =  pageCategory | downcase %}
					{% if otherPostCatLowerCase == pageCatLowerCase %}
						{% assign rank = rank | append:"I" %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% if rank.size > 0 %}
				{% assign relatedPosts = relatedPosts | append:rank %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.url %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:site.url %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.title %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.image.src %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.author %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.content %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.date %}              
				{% assign relatedPosts = relatedPosts | append:"#|" %}
			{% endif %}
		{% endfor %}
			
		{% if relatedPosts.size > 0 %}
			{% assign relatedPostsArray = relatedPosts | split:"#|" | sort | reverse %}
			<div class="title-header">
				<h2>Read Related Posts from our Blog</h2>
			</div>
			<div class="row blog-boxes margin-bottom-40">
				{% for relatedPost in relatedPostsArray limit: 3 %}
					{% assign relevantPostAttributes = relatedPost | split:"$" %}
					{% assign postUrl = relevantPostAttributes[1] %}
					{% assign siteUrl = relevantPostAttributes[2] %}
					{% assign postTitle = relevantPostAttributes[3] %}
					{% assign postImageUrl = relevantPostAttributes[4] %}
					{% assign author = relevantPostAttributes[5] %}
					{% assign postContent = relevantPostAttributes[6] %}
					{% assign postDate = relevantPostAttributes[7] %}

					<div class="col-md-4 md-margin-bottom-40">
						<div class="blog-box homepage-blog-thumb">
							<a href="{{ postUrl }}">
							{% if postImageUrl %}
								<img class="img-responsive" src="{{ postImageUrl }}" alt="{{ postTitle }}">
							{% else %}
								<img class="img-responsive" src="/assets/img/coduranceLogoBlogThumb.png" alt="{{ postTitle }}" alt="{{ postTitle }}">
							{% endif %}
							</a>
							<div class="blog-content">
								<h3><a href="{{ postUrl }}">{{ postTitle | truncatewords: 8 }}</a></h3>
								<p>{{ postContent | strip_html | truncatewords:30 }}</p>
							</div>
							<ul class="list-inline blog-box-info">
								<li><span>By</span> {{ author | author_links }}</li>
								<li>|</li>
								<li><i class="fa fa-clock-o"></i> {{ postDate | date_to_string }}</li>
							</ul>
						</div>
					</div>
				{% endfor %} 
			</div>
		{% endif %}
	
</div>
<!--End Related Blog Posts-->
</div>
