  {% assign posts = site.posts %}
  {% assign relatedPosts = ""  %}

  {% for post in posts %}
  {% assign rank = "" %}
  {% for otherPostTag in post.tags %}
  {% for currentTag in include.tags %}
  {% if otherPostTag == currentTag and page.title != post.title %}
  {% assign rank = rank | append:"I" %}
  {% endif %}
  {% endfor %}
  {% endfor %}

  {% if rank.size > 0 %}
  {% assign relatedPosts = relatedPosts | append:rank %}
  {% assign relatedPosts = relatedPosts | append:"$" %}
  {% assign relatedPosts = relatedPosts | append:post.url %}
  {% assign relatedPosts = relatedPosts | append:"$" %}
  {% assign relatedPosts = relatedPosts | append:post.title %}
  {% assign relatedPosts = relatedPosts | append:"$" %}
  {% assign relatedPosts = relatedPosts | append:post.image.src %}
  {% assign relatedPosts = relatedPosts | append:"$" %}
  {% assign relatedPosts = relatedPosts | append:post.author %}
  {% assign relatedPosts = relatedPosts | append:"|" %}
  {% endif %}
  {% endfor %}

  {% if relatedPosts.size > 0 %}

  <div class="posts margin-bottom-40">
    <div class="headline-v2">
      <h2>{% t post-related_posts.title%}</h2>
    </div>

  {% assign relatedPostsArray = relatedPosts | split:"|" | sort | reverse %}
  {% for relatedPost in relatedPostsArray limit: 7 %}
  {% assign relevantPostAttributes = relatedPost | split:"$" %}
  {% assign postUrl = relevantPostAttributes[1] %}
  {% assign postTitle = relevantPostAttributes[2] %}
  {% assign postImageUrl = relevantPostAttributes[3] %}
  {% assign author = relevantPostAttributes[4] %}

  <div class="blog-thumb blog-thumb-circle margin-bottom-15">
    <div class="blog-thumb-hover">
      <a href="{{ postUrl }}">
        <img class="rounded-x" src="{% if postImageUrl != empty %} {{ postImageUrl }} {% else %} {{ site.default_post_image }} {% endif %}" alt="{{ post.title }}"></img>
      </a>
      <a class="hover-grad" href="{{ postUrl }}">
        <i class="fa fa-hand-spock-o"></i>
      </a>
    </div>
    <div class="blog-thumb-desc">
      <h3><a href="{{ postUrl }}">{{ postTitle }}</a></h3>
      <ul class="blog-thumb-info">
        <li>
          {{ author }}
        </li>
      </ul>
    </div>
  </div>
  {% endfor %} 
  </div>
  {% endif %}
