<div class="section g-color-white bg-slate">
  <div class="container">
    <div class="row">
      <div class="col-md-9 align-self-center">
        <h3 class="h1 g-font-weight-800">{% t our-people.we-are-hiring.title %}</h3>
        <p class="g-pt-20 g-pb-40 h4 g-mb-0--md g-color-white">{% t our-people.we-are-hiring.subtitle %}</p>
        <a class="g-font-weight-600 btn btn-md u-btn-primary w-100 g-width-auto--lg btn-codurance-color"
           href="{{ '/careers/' | prepend: site.baseurl }}">{% t our-people.we-are-hiring.learn-more %}</a>     
      </div>
    </div>
  </div>
</div>