---
layout: default
---
{% assign tag = "life at codurance" %}

<div class="g-bg-gray-light-v5">
  {% for post in site.posts %}
    {% if post.tags contains tag %}
  <!--  TODO: Get correct url for the post-->
      {% assign postUrl = '/publications/:post' | replace: ':post'| prepend: site.baseurl %}
      <div>
        <a href="{{ postUrl }}">
          <img src="{{post.image.src | prepend: site.baseurl}}" alt="{{ post.title }}" width=100>
        </a>
        <h2>
          <a href="{{ postUrl }}">
            {{ post.title }}
          </a>
        </h2>
        <div>
          {{post.description}}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
