---
layout: default
group:
  title: Blog
  link: /blog
---
<div class="container content-sm">
  <div class="blog-author bg-color-white margin-bottom-30">
  <!--About the author-->
    {% for member in site.data.team %}
      {% if page.author == member.name %}
        <div class="row">
          <div class="col-sm-3 pull-left">
            <img class="img-fluid" id="author-img" src="{{ member.image | prepend: site.baseurl }}">
          </div>
          <div class="col-sm-9">
            <div class="blog-author-desc">
              <div class="overflow-h">
                <h4>{{ member.name }}</h4>
                <ul class="list-inline mb-0">
                  {% if member.github != null %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://github.com/{{member.github}}">
                      <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-github"></i>
                      <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-github"></i>
                    </a>
                  </li>
                  {% endif %}
                  {% if member.twitter != null %}
                  <li class="list-inline-item g-mx-2">
                    <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/{{member.twitter}}">
                      <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                      <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
              <p>{{ member.fullDescription }}</p>
            </div>
          </div>
        </div>
      {% break %}
      {% endif %}
    {% endfor %}
  </div>
  <hr/>

  <!-- Merging two collections as {% assign publications = site.posts | concat: site.videos %} is not supported -->
  {% assign publications = site.posts %}
  {% for video in site.videos %}
    {% assign publications = publications | push: video %}
  {% endfor %}

  {% assign author_publications = publications | where: 'author', page.author | sort: 'date' | reverse %}
  {% if author_publications.size > 0 %}
  <div class="g-bg-gray-light-v5">    
    <h2 class="margin-bottom-20">{% t author.publications-title %}</h2>
    <div class="container">
        <div class="masonry-grid row g-mb-70">
            <div class="masonry-grid-sizer col-sm-1"></div>
                {% for post in author_publications %}
                     {% include post.html post=post %}
                {% endfor %}
        </div>
    </div>
</div>
  {% endif %}
</div>
