---
layout: default
---

<!-- Hero -->
<section class="services-hero height-is-based-on-content">
    <div class="container g-z-index-1 g-py-100 text-center">
        <h1 class="g-color-white g-font-weight-300 g-letter-spacing-1 g-mb-15">{{ page.company-name }} & Codurance</h1>
        <div class="lead g-font-weight-400 g-line-height-2 g-letter-spacing-0_5">
        <p class="g-color-white mb-0">{% t projects.{{ page.identifier }}.short_description %}</p>
        </div>
    </div>
</section>

<section class="container g-pt-100 g-pb-70">
    <div class="row">

        <div class="col-md-8 g-mb-30">

            <span class="h4 d-block g-font-weight-600 mb-2">Our work</span>
            <p class="h2 g-color-primary g-color-primary--before g-color-primary--after g-font-weight-600 g-line-height-1_8 mb-5">
                {% t projects.{{ page.identifier }}.long_description%}
            </p>

            <span class="h4 d-block g-font-weight-600 mb-2">The Project</span>
            <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">The Challenge</h2>
            <p class="lead">{% t projects.{{ page.identifier }}.the_challenge %}</p>    
            
            <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Approach</h2>
            <p>{% t projects.{{ page.identifier }}.our_sc_approach %}</p>

            <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Outcome</h2>
            <p>{% t projects.{{ page.identifier }}.outcome %}</p>

        </div>

        <div class="col-md-4 g-mb-30">
            <div class="mb-5">
                <img class="img-fluid bordered" src="{{ site.baseurl }}/assets/custom/img/case-study/{{ page.image-name }}.png" alt="{{ page.identifier }} logo"/>
            </div>

            <div class="mb-5">
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">About {{ page.company-name }}</h3>
                <p class="lead">{% t projects.{{ page.identifier }}.client_description %}</p>
            </div>

            <div class="mb-5">
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Services:</h3>
                <ul class="list-unstyled">
                    {% assign client=site.data.clients[page.client-id]%}
                    {% for service in client.services %}
                    <li class="my-3">
                        <i class="align-middle g-color-primary g-font-size-15 mr-2 icon-education-009 u-line-icon-pro"></i>
                        <span class="g-color-gray-dark-v4 g-text-underline--none--hover">{% t clients.{{service}}_title %}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="mb-5">
                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Want to know more:</h3>
                <span class="d-block">
                        <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" 
                        href="{{ '/services/#get-in-touch' | prepend: site.baseurl }}"> {% t partners-jetbrains-partnership.link_title %}</a>
                </span>
            </div>
        </div>

    </div>
</section>
