---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="include-website-header {{toggles_classnames}}">

{% include google_tag_manager_noscript.html %}

<div class="wrapper">
<!--=== Header ===-->
{% unless page.layout == "single_training" %}
  {% include header.html %}
{% endunless %}
<!--=== End Header ===-->
{{ content }}
<!--=== Copyright ===-->
{% unless page.layout == "single_training" %}
  {% include footer.html %}
{% endunless %}
<!-- Cookie Message-->
{% include cookie_message.html %}
<!-- End Cookie Message -->
<!--=== End Copyright ===-->
</div>

{% include foot.html %}

</body>
</html>
