---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>

{%- capture toggles_classnames -%}
  {% if site.data.toggles.crafting-code-and-crafted-design-hero == 'on' %}toggle--crafting-code-and-crafted-design-hero{% endif %}
{%- endcapture -%}

<body class="include-website-header {{toggles_classnames}}">

{% include google_tag_manager_noscript.html %}

<div class="wrapper">
<!--=== Header ===-->
{% include header.html %}
<!--=== End Header ===-->
{{ content }}
<!--=== Copyright ===-->
{% include footer.html %}
<!--=== End Copyright ===-->
</div>

{% include foot.html %}

</body>
</html>
