---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>

{% unless page.layout == "single_training" %}
  {% assign website_header_class = "include-website-header" %}
{% endunless %}

<body class={{website_header_class}}>

{% include google_tag_manager_noscript.html %}

<div class="wrapper">

{% unless page.layout == "single_training" %}
  <!--=== Header ===-->
  {% include header.html %}
  <!--=== End Header ===-->
{% endunless %}

{{ content }}

<!--=== Copyright ===-->
{% unless page.layout == "single_training" %}
  {% include footer.html %}
{% endunless %}
{% include copyright_footer.html %}
<!-- Cookie Message-->
{% include cookie_message.html %}
<!-- End Cookie Message -->
<!--=== End Copyright ===-->
</div>

{% include foot.html %}

</body>
</html>
