---
layout: default
---

{% assign translations = site.translations[site.lang].[page.service-line] %}

<script async src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>

<section class="service-line-hero">
  <div class="service-line-hero__content-container">
    <h1 class="service-line-hero__title">
      {{ site.data.service_lines[page.service-line].icon }}
      {% t software-modernisation.hero-title %}
    </h1>
    <p class="service-line-hero__sub-title">
      {% t software-modernisation.hero-sub-title %}
    </p>
    <p class="service-line-hero__description">
      {% t software-modernisation.hero-introduction %}
    </p>
    {% assign href = "#get-in-touch" %}
    {% assign text = site.translations[site.lang].software-modernisation.hero-cta %}
    {% include cta_primary_link.html color='coral' href=href text=text %}
  </div>
  <div class="service-line-hero__image-container">
    <img class="service-line-hero__image" src="{{ '/assets/custom/img/softmod/img-hero.png' | prepend: site.baseurl }}">
  </div>
</section>

{{ content }}

{%- include service_line_media_section.liquid -%}

{% include services_contact_form.liquid %}
