---
layout: default
---

{% assign translations = site.translations[site.lang].[page.service-line] %}

<script async src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.2.0/dist/simpleParallax.min.js"></script>

<section class="service-line-hero">
  <div class="container service-line-hero__inner">
    <div class="service-line-hero__grid-item service-line-hero__grid-item--intro">
      <div>
        <h1 class="text-900 position-relative">
          {{ site.data.service_lines[0].icon }}
          {% t software-modernisation.hero-title %}
        </h1>
        <p class="h4 text-700">
          {% t software-modernisation.hero-sub-title %}
        </p>
        <p class="g-pt-10">
          {% t software-modernisation.hero-introduction %}
        </p>
        {% assign href = "#get-in-touch" %}
        {% assign text = site.translations[site.lang].software-modernisation.hero-cta %}
        {% include cta_primary_link.html color='coral' href=href text=text %}
      </div>
    </div>
    <div class="service-line-hero__image">
      <img class="img-parallax" src="{{ '/assets/custom/img/softmod/img-hero.png' | prepend: site.baseurl }}">
    </div>
  </div>
</section>

{{ content }}

{%- include service_line_media_section.liquid -%}

{% include services_contact_form.liquid %}

<script>
  var image = document.getElementsByClassName('img-parallax');
  new simpleParallax(image, {
    scale: 1.15,
    orientation: 'up',
  });
</script>
