---
layout: default
title: Work with us 
---
<!--=== Content Part ===-->
<div class="careers page container content">
    <div class="row">
        <!--Begin Sidebar Menu-->
        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1">
                <li class="list-group-item{% if page.role == 'Craftsman' %} active{% endif %}">
                    <a href="{{ '/work-with-us/craftsman' | prepend: site.baseurl }}">Craftsman</a>
                </li>
                <li class="list-group-item{% if page.role == 'Apprentice' %} active{% endif %}">
                    <a href="{{ '/work-with-us/apprentice' | prepend: site.baseurl }}">Apprentice</a>
                </li>
            </ul>
        </div>
        <!--End Sidebar Menu-->

        <!--Begin Content-->
        <div class="col-md-9 careers">
            {{ content }}
        </div>
    </div>
</div>
