---
layout: service_line
title: Software Modernisation | Evolve your strategic systems
title-es: Software Modernisation | Aumenta la escalabilidad de tu negocio
description: Evolve your strategic systems to enable technical and cultural change, enhance business agility, and make innovation possible through software modernisation.
description-es: Moderniza los sistemas legacy para mejorar el rendimiento de los sistemas, reducir el time to market e impulsar un cambio cultural.
image:
   src: /assets/custom/img/softmod/metaimgs/softmod-opengraph-card-linkedIn.jpg
metarobots: index,follow
redirect_from: /software-modernisation/

intro:
  background-image-small: /assets/custom/img/softmod/bg-hero-dark.jpg
  background-image-large: /assets/custom/img/softmod/bg-hero-light.jpg
  foreground-image-large: /assets/custom/img/softmod/img-hero.png

curated_publications:
  location: 'soft-mod'
  tag: 'software modernisation'

service-line: software-modernisation
---

{%- assign translations = site.translations[site.lang].[page.service-line] -%}
{%- assign service-line-page-locations = site.data.service_line_page_section_anchors[site.lang] -%}

<section class="service-line__testimonials">
  {%- assign anchor_id = service-line-page-locations.testimonials -%}
  {% include page_location_anchor.html anchor_id=anchor_id %}

  {% capture title %}{% t software-modernisation.testimonials-heading %}{% endcapture %}
  {% capture description %}{% t software-modernisation.testimonials-subheading %}{% endcapture %}
  {% include section_intro.html class="service-line__testimonials-intro" description=description title=title %}

  <div class="container-slim center">
    <div class="flexslider">
    <ul class="slides box-shadow">
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-bestsecret-p1 %}</p>
        <p>{% t software-modernisation.testimonials-bestsecret-p2 %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.bestsecret-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-cazoo %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.cazoo-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-hedgefund %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.hedgefund-name-and-position %}</span>
      </li>
      <li class="g-px-50 g-py-30 text-center">
        <p>{% t software-modernisation.testimonials-ecw %}</p>
        <span class="small text-navy text-700">{% t software-modernisation.ecw-name-and-position %}</span>
      </li>
    </ul>
    </div>
  </div>
</section>
