---
layout: default
title: Training 
---

<div class="container content">
   <div class="row">
          <div class="col-md-6">
              <h2 class="title-v2">{% t services-training_coaching.title %}</h2>
              {% t services-training_coaching.subtitle %}
              <br/>
              <a href="#" class="btn-u">{% t company-contact.title %} ...</a>
          </div>
          <div class="col-md-6">
              <img class="img-responsive" src="/assets/img/custom/services/training/node-js-session.jpg" alt="">
          </div>
    </div>

    <h2 class="title-v2">Our Courses</h2>
    
       {% for training in site.data.trainings %}
         {% assign loopindex = forloop.index | modulo: 3 %}
         {% if loopindex == 1 %}
          <div class="row news-v1"> 
         {% endif %}
 
          <div class="col-md-4">
              <div class="news-v1-in margin-bottom-20">
                <h3><a class="hover-effect" href="{{training.page}}">{{training.name}}</a></h3>
                <p>{{training.description}}</p>
                <ul class="list-inline news-v1-info">
                  <li><span>By</span> <strong>{{training.author}}</strong></li>
                </ul>
              </div>
          </div>

         {% if loopindex == 0 %}
          </div>
         {% endif %}

      {% endfor %}
      </div>
    </div>
</div>
