---
layout: default
title: Clients

---

<div class="breadcrumbs-v3 ourclients">
  <div class="container text-center">
    <h1>{% t clients.header %}</h1>
  </div><!--/end container-->
</div>

<div class="section" style="padding-bottom: 0px">
  <div class="container">
    {% for client in site.data.clients %}
    <div class="d-flex justify-content-between">
      <div class="d-block mr-5">
        <img class="g-width-120" src="{{ client.image }}" alt="{{ client.alt-text }}">
      </div>
      <div class="d-block">
        <h2 class="h4 g-color-black g-font-weight-600">{{ client.name }}</h2>
        <ul class="list-inline g-font-size-13">
          <li class="list-inline-item mr-4">
            <i class="align-middle g-color-primary g-font-size-15 mr-2 icon-communication-101 u-line-icon-pro"></i>
            <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="https://{{ client.website }}">
              {{ client.website }}
            </a>
          </li>
        
          {% for service in client.services %}
          <li class="list-inline-item">
            <i class="align-middle g-color-primary g-font-size-15 mr-2 icon-education-009 u-line-icon-pro"></i>
            {% capture service-category %}clients.{{service}}_title{% endcapture %}
            <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">{% t {{service-category}} %}</a>
          </li>
          {% endfor %}
        </ul>
        {% capture description %}clients.{{client.id}}_description{% endcapture %}
        <p>{% t {{ description }} %}</p>
      </div>
    </div>
    <hr class="g-my-50">
    {% endfor %}
  </div>
</div>
