/* Add here all your css styles (customizations) */

body {
	font-size: 14px;
}

@media (min-width: 1000px) {
	.header .navbar-default .navbar-nav > li > a {
		padding: 9px 20px 9px 20px;
	}
}

@media (min-width: 992px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		border-bottom: solid 2px #e67e22;
	}
}

/* Navigation */
.breadcrumbs h2 {
	margin-top: 10px;
}

.header-v3 .navbar-brand {
	top: 6px;
}

/* Home Page */

.feature-panel {
	background: url("/assets/img/custom/home/codurance-pair-programming.jpg") no-repeat center center;
	height: 550px;
	background-size: cover;
	width: auto;
	z-index: -1;
}

@media (max-width: 768px) {
    .feature-panel, .jumbotron {
	    height: 300px;
	    background-position: center, top;
	    padding-top: 0px;
	    margin-bottom: 0px;
    }
    .feature-panel .jumbotron h1 {
	line-height:40px;
    }
    .feature-panel .jumbotron h3 {
	font-size: 14px;
	line-height: 17px;
    }
    .feature-panel .jumbotron .btn-services {
	font-size: 12px;
    }
}

.feature-panel .jumbotron {
    background: transparent;
    color: white;
    text-align: left;
}

.feature-panel .jumbotron h3 {
    color:white;
}

.feature-panel .jumbotron .btn-services {
    background-color: black;
    color: white;
    margin-top: 10px;
}

.feature-panel .jumbotron .btn-services:hover {
    background-color: white;
    color: black;
}

.feature-panel .highlight {
	color: white;
	text-shadow: 1px 1px 1px #7f8c8d;
}

.feature-panel h1{
	font-family:'Oxygen', sans-serif;
	color: white;
	line-height:70px;
}

.btn-hire {
   border: 0;
   color: #fff;
   font-size: 25px;
   cursor: pointer;
   font-weight: 400;
   padding: 9px 20px;
   position: relative;
   top: 20px;
   left: 0;
   background: #72c02c;
   white-space: nowrap;
   display: inline-block;
   text-decoration: none;
   text-shadow: none;
   width: 300px;
}

.btn-hire.btn-u-orange {
   background: #e67e22;
}
.btn-hire.btn-u-orange:hover, 
.btn-hire.btn-u-orange:focus, 
.btn-hire.btn-u-orange:active, 
.btn-hire.btn-u-orange.active, 
.open .dropdown-toggle.btn-hire.btn-u-orange {
   background: #d35400;
   color: #fff;
   text-decoration: none;
}

.btn-hire.btn-brd.btn-u-orange {
  border-color: #e67e22;
}
.btn-hire.btn-brd.btn-u-orange:hover {
  color: #d35400;
  border-color: #d35400;
}
.btn-hire.btn-brd.btn-u-orange.btn-brd-hover:hover {
   background: #d35400;
}

@media screen and (min-width: 768px) {
	.btn-hire {
		top: 0;
		font-size: 20px;
		width: 200px;
	}
}

@media screen and (min-width: 800px) {
	.btn-hire {
		top: 5px;
		font-size: 35px;
		width: 350px;
	}
}

@media (max-width: 600px){
	.btn-hire {
		top: 0;
		font-size: 20px;
		width: 200px;
	}
}

@media (max-width: 320px){
	.btn-hire {
		top: 0;
		font-size: 20px;
		width: 200px;
	}
}

body:last-child .btn-u, x:-moz-any-link {
	margin: 0;
}

/*  Heading Titles - Home Page */

.block-header {
	padding: 50px 0;
}

.title-header {
	z-index: 1;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}

.title-header h1,
.title-header h2 {
	color: #333;
	font-size: 28px;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.title-header h1:after,
.title-header h2:after {
	bottom: 0;
	left: 50%;
	height: 1px;
	width: 70px;
	content: " ";
	margin-left: -35px;
	position: absolute;
	background: #e67e22;
}

.title-header p {
	font-size: 17px;
	font-weight: 200;
}
/* Grey backround for section */
.gray-section {
	background: #fafafa;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Sandro's Book image special */
.sandroBookImage {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	box-shadow: 0 10px 10px 0px gray;
}

/* Blog panel */
.homepage-blog-thumb img {
	height: 240px;
	width: 350px;
}

/*Content Boxes*/
.content-boxes {
  margin-bottom: 15px;
}

.content-boxes i {
  top: 8px;
  margin-right: 8px;
  float: left;
  position: relative;
}

.content-boxes .content-box {
  padding: 0 10px;
  color: #333;
  overflow: hidden;
}

.content-boxes .content-box h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.content-boxes .content-box h3.heading-sm {
  color:#333;
}

.content-boxes .content-box h3 a {
  color: #333;
}

.content-boxes h2 {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Blog */

.blog-thumb {
	max-height: 225px;
}

.blog-thumb a .img-responsive {
	display: block;
    width: 335px;
    height: 225px;
}

.blog-img-attribution {
	font-size: 11px;
}

#sharethisButtons {
	padding-bottom: 30px;
}

.headline-v2 {
	border-left: 2px solid #e67e22 !important;
}

.blog-tag-margin {
	margin-right: 10px;
}

.news-v3-in h1 {
	font-size: 32px;
    font-weight: 200;
    margin: 0 0 20px;
    line-height: 45px;
    text-transform: uppercase;
}

.news-v3-in h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 35px;
    text-transform: none;
}

/* Author */
#author-img {
	width: 100%;
}

/* Videos */

.video-post {
	margin-bottom: 20px;
}

.videos .time-place {
	font-weight: bold;
	font-size: 80%;
}

/* Team */

.profile-window .profile-image {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

.profile-window-grow {
	cursor: pointer;
	-webkit-transition:all 0.2s ease-out;
 	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
 	-o-transition:all 0.2s ease-out;
 	transition:all 0.2s ease-out;
}

.profile-window-grow:hover {
 	-webkit-transform:scale(1.03);
 	-moz-transform:scale(1.03);
 	-ms-transform:scale(1.03);
 	-o-transform:scale(1.03);
 	transform:scale(1.03);
}

/* Services */
.services .services-top-row {
	margin-top: 40px;
}

.services .client-descriptions {
	margin-bottom: 50px;
	margin-top: 50px;
}

.services .introduction {
	margin-top: 50px;

}

.services .service-icon:hover {
	background: #e67e22;
}

.services .service-descriptions {
	margin-top: 50px;
}

.services .service-description-box {
	padding: 20px 40px;
	border-top: solid 2px #e67e22;
}

.services .service-boxes {
	margin-bottom: 40px;
}

.services .services-box {
	padding: 20px 20px;
	border: solid 1px #eee;
}

.services .services-box:hover {
	padding: 20px 20px;
	border: solid 1px #eee;
	box-shadow: 0 0 8px #eee;
}

.services .scenario {
	margin: 20px 0px;
}

/* Services - Skills */

.services .skills-block {
	margin-bottom: 50px;
}

.services .dividing-line {
	border-top: solid 1px #eee;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.services .skills-box {
	padding: 0px;
	margin: 0px;
}

.services .service-block {
	padding: 20px;
	margin: 0px;
}

.services .service-descriptions .introduction {
	margin: 20px 0px
}

/* Consultancy */
.introduction .service-header {
    color: #e67e22 !important;
    font-size: 40px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.orange {
    color: #e67e22;
}

.scenario-lead-text {
    font-family: 'Helvetica', serif;
}

.service-descriptions .funny-boxes {
    padding-left: 50px;
    padding-right: 50px;
}


/* Training */

.training-link-btn {
    width: 150px;
    color: #e67e22 !important;
}

.training-description {
    font-size: 17px;
    font-weight: 200;
}



.btn-u.btn-brd.btn-u-orange:hover {
    color: white !important;
    background-color: #e67e22;
}

/* Case Studies */

.case-study {
	margin: 35px 0px;
}

.case-studies .dividing-line {
	border-top: solid 1px #eee;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* Training */

.training-slideshow {
	margin-bottom: 20px;
}

.training-slideshow iframe {
	border:1px solid #CCC;
	border-width:1px;
	margin-bottom:5px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.training-download {
	width: 100%;
	text-align: right;
}

/* Careers */

.careers h3 {
	color: #e67e22;
}

/* Nav bar */
	.header .navbar-nav > li > a:hover,
	.header .navbar-nav > .active > a {
		bottom: -2px;
		position: relative;
		border-bottom: solid 2px #e67e22 !important;
	}

	.header .navbar-nav > li > a,
	.header .navbar-nav > li > a:hover,
	.header .navbar-nav > li > a:focus,
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
		background: none;
	}

	.header .navbar-nav > .open > a,
	.header .navbar-nav > .open > a:hover,
	.header .navbar-nav > .open > a:focus {
		color: #e67e22 !important;
	}

	.header .navbar-nav > li:hover > a {
        color: #e67e22 !important;
    }

/* Pedro's Command Prompt Envy blog */

.style-screengrab {
	margin: 20px 0px 40px 0px;
}

/* Partners */
.jetbrains-logo-partners {
	height: 120px;
}

.jetBrains-blurb {
	text-align: center;
}

.jetBrains-logo-carousel img {
	height: 70%;
	width: 70% !important;
	margin-left: 30px
}

.img-center{
	display: block; 
	margin: 0 auto;
}

/* Sponsoring section */
.margin-top-40 {
    margin-top: 40px;
}

.lscc-title {
    margin-left:-50px;
    margin-top:40px;
}
.sponsoring-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width: 992px) {
    .lscc-title {
	margin-top:0px;
	margin-bottom:20px;
	margin-left:0px;
	text-align:center;
    }
}
