/* Add here all your css styles (customizations) */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

@media (min-width: 1000px) {
	.header .navbar-default .navbar-nav > li > a {
		padding: 9px 20px 9px 20px;
	}
}

@media (min-width: 992px) {
	.header .navbar-default .navbar-nav > li > a:hover {
		border-bottom: solid 2px #e67e22;
	}
}

/* Navigation */
.breadcrumbs h2 {
	margin-top: 10px;
}
.header-v3 .navbar-brand {
	top: 6px;
}

/* Home Page */

.feature-panel {
	background: url("/assets/img/custom/home/computerdesk_original_opt.jpg") no-repeat center center;
	height: 550px;
	background-size: cover;
	width: auto
	z-index: -1;
}

@media (max-width: 768px) {
	.feature-panel {
		height: 250px;
		background-position: center, top;
	}
}

.feature-panel .jumbotron {
	height: 550px;
	background: transparent;
	color: white;
	text-align: center;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.feature-panel .highlight {
	color: white;
	text-shadow: 1px 1px 1px #7f8c8d;
}

.feature-panel h1{
	font-family:'Oxygen', sans-serif;
	color: #e67e22;
	line-height:70px;
}

#client-carousel .item{
  margin: 45px;
}
#client-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

/*  Heading Titles - Home Page */

.block-header {
	padding: 50px 0;
}

.title-header {
	z-index: 1;
	position: relative;
	text-align: center;
	margin-bottom: 60px;
}

.title-header h1,
.title-header h2 {
	color: #333;
	font-size: 28px;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.title-header h1:after,
.title-header h2:after {
	bottom: 0;
	left: 50%;
	height: 1px;
	width: 70px;
	content: " ";
	margin-left: -35px;
	position: absolute;
	background: #e67e22;
}

.title-header p {
	font-size: 17px;
	font-weight: 200;
}
/* Grey backround for section */
.gray-section {
	background: #fafafa;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Sandro's Book image special */
.sandroBookImage {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	box-shadow: 0 10px 10px 0px gray;
}

/*Content Boxes*/
.content-boxes {
  margin-bottom: 15px;
}

.content-boxes i {
  top: 8px;
  margin-right: 8px;
  float: left;
  position: relative;
}

.content-boxes .content-box {
  padding: 0 10px;
  color: #333;
  overflow: hidden;
}

.content-boxes .content-box h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.content-boxes .content-box h3.heading-sm {
  color:#333;
}

.content-boxes .content-box h3 a {
  color: #333;
}

.content-boxes h2 {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

/* Blog boxes */

.blog-boxes .blog-content {
	min-height: 170px;
	max-height: 170px;
}

.blog-boxes .blog-box {
	background: #fff;
	max-height: 505px;
	min-height: 505px;
	padding-top: 10px;
}

.blog-boxes img {
	max-height: 250px;
	min-height: 250px;
	margin-right: auto;
	margin-left: auto;
}

.blog-boxes h3 {
	margin-bottom: 0;
	font-weight: 200;
	line-height: 28px;
	padding: 10px 15px 15px;
}

.blog-boxes h3 a {
	color: #555;
}

.blog-boxes h3 a:hover {
	color: #e67e22;
}

.blog-boxes p {
	color: #555;
	padding: 0 15px;
	margin-bottom: 20px;
}

.blog-boxes .blog-box-info {
	overflow: hidden;
	margin-top: 30px;
	padding: 8px 15px;
	border-top: solid 1px #eee;
}

.blog-boxes .blog-box-info li {
	font-size: 12px;
}

.blog-boxes .blog-box-info li a:hover {
	color: #e67e22;
	text-decoration: none;
}

.blog-thumbnails .blog-thumbnails-box {
	margin-top: 40px;
}

.blog-thumbnails img {
	height: 80px;
	width: 80px;
	float: left;
	margin-right: 10px;
}

.blog-thumbnails .blog-thumbnail {
	margin-bottom: 20px;
	clear: both;
	height: 80px;
}

.blog-post li a {
	color: #e67e22;
}

.blog img {
	max-width: 100%;
}

.blog-item .blog-post-image {
	display: inline;
	float: right;
	margin-left: 15px;
	max-height: 300px;
	width: auto;
}

.blog-page table {
	background-color: #ffffff;
	margin-bottom: 13px;
}

.blog-page table th {
	background-color: #ededed;
	border: 1px solid #ccc;
	padding: 6px 13px;
	font-weight: bold;
}

.blog-page table tr:nth-child(even) {
	background-color: #f8f8f8;
}

.blog-page table td {
	border: 1px solid #ccc;
	padding: 6px 13px;
}

.blog-share-buttons {
	position: absolute;
  left: inherit;
	top: 0px;
}

/* Videos */

.video-post {
	margin-bottom: 20px;
}

.videos .time-place {
	font-weight: bold;
	font-size: 80%;
}

/* Team */

.profile-window .profile-image {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

.profile-window-grow {
	cursor: pointer;
	-webkit-transition:all 0.2s ease-out;
 	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
 	-o-transition:all 0.2s ease-out;
 	transition:all 0.2s ease-out;
}
;
.profile-window-grow:hover {
 	-webkit-transform:scale(1.03);
 	-moz-transform:scale(1.03);
 	-ms-transform:scale(1.03);
 	-o-transform:scale(1.03);
 	transform:scale(1.03);
}

/* Services */
.services .services-top-row {
	margin-top: 40px;
}

.services .client-descriptions {
	margin-bottom: 50px;
	margin-top: 50px;
}

.services .introduction {
	margin-top: 50px;

}

.services .service-icon:hover {
	background: #e67e22;
}

.services .service-descriptions {
	margin-top: 50px;
}

.services .service-description-box {
	padding: 20px 40px;
	border-top: solid 2px #e67e22;
}

.services .service-boxes {
	margin-bottom: 40px;
}

.services .services-box {
	padding: 20px 20px;
	border: solid 1px #eee;
}

.services .services-box:hover {
	padding: 20px 20px;
	border: solid 1px #eee;
	box-shadow: 0 0 8px #eee;
}

.services .scenario {
	margin: 20px 0px;
}

/* Services - Skills */

.services .skills-block {
	margin-bottom: 50px;
}

.services .dividing-line {
	border-top: solid 1px #eee;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.services .skills-box {
	padding: 0px;
	margin: 0px;
}

.services .service-block {
	padding: 20px;
	margin: 0px;
}

.services .service-descriptions .introduction {
	margin: 20px 0px
}

/* Case Studies */

.case-study-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

.case-study {
	margin: 35px 0px;
}

.case-studies .dividing-line {
	border-top: solid 1px #eee;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* Training */

.training-slideshow {
	margin-bottom: 20px;
}

.training-slideshow iframe {
	border:1px solid #CCC;
	border-width:1px;
	margin-bottom:5px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.training-download {
	width: 100%;
	text-align: right;
}

/* Careers */

.careers h3 {
	color: #e67e22;
}
