/* Add here all your css styles (customizations) */

body {
  font-size: 14px;
}

@media (min-width: 1000px) {
  .header .navbar-default .navbar-nav > li > a {
    padding: 9px 20px 9px 20px;
  }
}

@media (min-width: 992px) {
  .header .navbar-default .navbar-nav > li > a:hover {
    border-bottom: solid 2px #e67e22;
  }
}

/* Navigation */
.breadcrumbs h2 {
  margin-top: 10px;
}

.header-v3 .navbar-brand {
  top: 6px;
}

.header .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 20px;
}

.bordered {
  border: solid 1px #eee;
}

/* Home Page */

.feature-panel {
  background: url("/assets/img/custom/home/codurance-pair-programming.jpg") no-repeat center center;
  height: 550px;
  background-size: cover;
  width: auto;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .feature-panel, .jumbotron {
    padding-top: 0px;
  }
  .feature-panel .jumbotron h1 {
    line-height:40px;
  }
  .feature-panel .jumbotron h3 {
    font-size: 14px;
    line-height: 17px;
  }
}

.feature-panel .jumbotron {
  background: transparent;
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
  height: 300px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.feature-panel .jumbotron h3 {
  color:white;
}

.btn-more {
  border-radius: 6px;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 30px;
}

.btn-more:hover { transition: .3s; }

.btn-more-light {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-more-light:hover {
  background-color: white;
  color: #687074;
}

.feature-panel .highlight {
  color: white;
  text-shadow: 1px 1px 1px #7f8c8d;
}

.feature-panel h1{
  font-family:'Oxygen', sans-serif;
  color: white;
  line-height:70px;
}

.btn-hire {
  border: 0;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  font-weight: 400;
  padding: 9px 20px;
  position: relative;
  top: 20px;
  left: 0;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-shadow: none;
  width: 300px;
}

.btn-hire.btn-u-orange {
  background: #e67e22;
}
.btn-hire.btn-u-orange:hover,
.btn-hire.btn-u-orange:focus,
.btn-hire.btn-u-orange:active,
.btn-hire.btn-u-orange.active,
.open .dropdown-toggle.btn-hire.btn-u-orange {
  background: #d35400;
  color: #fff;
  text-decoration: none;
}

.btn-hire.btn-brd.btn-u-orange {
  border-color: #e67e22;
}
.btn-hire.btn-brd.btn-u-orange:hover {
  color: #d35400;
  border-color: #d35400;
}
.btn-hire.btn-brd.btn-u-orange.btn-brd-hover:hover {
  background: #d35400;
}

@media screen and (min-width: 768px) {
  .btn-hire {
    top: 0;
    font-size: 20px;
    width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .btn-hire {
    top: 5px;
    font-size: 35px;
    width: 350px;
  }
}

@media (max-width: 600px){
  .btn-hire {
    top: 0;
    font-size: 20px;
    width: 200px;
  }
}

@media (max-width: 320px){
  .btn-hire {
    top: 0;
    font-size: 20px;
    width: 200px;
  }
}

body:last-child .btn-u, x:-moz-any-link {
  margin: 0;
}

/*  Heading Titles - Home Page */

.block-header {
  padding: 50px 0;
}

.title-header {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.title-header h1,
.title-header h2 {
  color: #333;
  font-size: 28px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.title-header h1:after,
.title-header h2:after {
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 70px;
  content: " ";
  margin-left: -35px;
  position: absolute;
  background: #e67e22;
}

.title-header p {
  font-size: 17px;
  font-weight: 200;
}

/* Section colours */
.gray-section {
  background: #fafafa;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
.dark-gray-section {
  background: #cccccc;
}
.orange-section {
  background: #ff6600;
}
.red-section {
  background: #ff0000;
}
.yellow-section {
  background: #ffcc33;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Sandro's Book image special */
.sandroBookImage {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  box-shadow: 0 10px 10px 0px gray;
}

/* Blog panel */
.homepage-blog-thumb img {
  height: 240px;
  width: 350px;
}

/* Homepage services section */

.service-card-inner {
  padding: 30px 5px;
  text-align: center;
}

.service-card-inner img {
  display: block;
  margin: 0 auto 5px auto;
}

.service-card-inner h2 {
  color: white;
}

.service-card li {
  padding-bottom: 8px;
}

@media (max-width: 992px) {
  #services .service-card {
    margin-top: 30px;
  }
}

/*Content Boxes*/

li > a {
  color: #e67e22;
}
.content-boxes {
  margin-bottom: 15px;
}

.content-boxes i {
  top: 8px;
  margin-right: 8px;
  float: left;
  position: relative;
}

.content-boxes .content-box {
  padding: 0 10px;
  color: #333;
  overflow: hidden;
}

.content-boxes .content-box h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.content-boxes .content-box h3.heading-sm {
  color:#333;
}

.content-boxes .content-box h3 a {
  color: #333;
}

.content-boxes h2 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Blog */

.blog-thumb {
  max-height: 225px;
}

.blog-thumb a img {
  display: block;
  width: 335px;
  height: 225px;
}

.blog-img-attribution {
  font-size: 11px;
}

#sharethisButtons {
  padding-bottom: 30px;
}

.headline-v2 {
  border-left: 2px solid #e67e22 !important;
}

.blog-tag-margin {
  margin-right: 10px;
}

.news-v3-in h1 {
  font-size: 32px;
  font-weight: 200;
  margin: 0 0 20px;
  line-height: 45px;
  text-transform: uppercase;
}

.news-v3-in h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 35px;
  text-transform: none;
}

.cta-contact-blog-box label {
  display: inline;
}

.vertical-alignment-parent {
  display: table;
}

.reset-margin {
  margin: 0;
}

.vertical-alignment-child {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}

.cta-label {
  width: 50%;
}
.cta-label-left {
  float: left;
  padding-right: 1%;
}
.cta-label-right {
  float: right;
}

/* Author */
#author-img {
  width: 100%;
}

/* Videos */

.video-post {
  margin-bottom: 20px;
}

.videos .time-place {
  font-weight: bold;
  font-size: 80%;
}

/* Team */

.profile-window .profile-image {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.profile-window-grow {
  cursor: pointer;
  -webkit-transition:all 0.2s ease-out;
  -moz-transition:all 0.2s ease-out;
  -ms-transition:all 0.2s ease-out;
  -o-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
}

.profile-window-grow:hover {
  -webkit-transform:scale(1.03);
  -moz-transform:scale(1.03);
  -ms-transform:scale(1.03);
  -o-transform:scale(1.03);
  transform:scale(1.03);
}

.img-hover-v1 span {
  min-height: 50px;
  text-align: center;
}

/* Services */

.divider {
  margin-left: 25%;
  margin-right: 25%;
}

.services .services-top-row {
  margin-top: 40px;
}

.services .client-descriptions {
  margin-bottom: 50px;
  margin-top: 50px;
}

.services .introduction {
  margin-top: 50px;

}

.services .service-icon:hover {
  background: #e67e22;
}

.services .service-descriptions {
  margin-top: 50px;
}

.services .service-description-box {
  padding: 20px 40px;
  border-top: solid 2px #e67e22;
}

.services .service-boxes {
  margin-bottom: 40px;
}

.services .services-box {
  padding: 20px 20px;
  border: solid 1px #eee;
}

.services .services-box:hover {
  padding: 20px 20px;
  border: solid 1px #eee;
  box-shadow: 0 0 8px #eee;
}

.services .scenario {
  margin: 20px 0px;
}

/* Services - Skills */

.services .skills-block {
  margin-bottom: 50px;
}

.services .dividing-line {
  border-top: solid 1px #eee;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.services .skills-box {
  padding: 0px;
  margin: 0px;
}

.services .service-block {
  padding: 20px;
  margin: 0px;
}

.services .service-descriptions .introduction {
  margin: 20px 0px
}

/* Consultancy */
.introduction .service-header {
  color: #e67e22 !important;
  font-size: 40px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.orange {
  color: #e67e22;
}

.scenario-lead-text {
  font-family: 'Helvetica', serif;
}

.service-descriptions .funny-boxes {
  padding-left: 50px;
  padding-right: 50px;
}


/* Services pages */
.services-section {
  padding-bottom: 40px;
}

.services-section .header {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.services-section .header h3 {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}

.services-subheader {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-subheader h2 {
  text-align: center;
  margin-bottom: 40px;
}

.services-section .title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services-section .big-title {
  text-align: center;
}

.services-section .body .element {
  padding: 10px 10px 10px 10px;
}

.services-section .body {
  text-align: center;
  text-align: left;
}

.services-section .body h4 {
  margin-top: 0px;
  color: white;
  font-weight: bold;
}

.services-section .body p {
  color: white;
  font-size: 12px
}

.subject-header {
  position: relative;
}

#software-creation .subject-header {
  color: #ff0000;
}

#expert-advice .subject-header {
  color: #ff6600;
}

#training .subject-header {
  color: #ffcc33;
}

#courses .subject-header {
  color: white;
}

.subject-header:after {
  bottom: -20px;
  content: " ";
  height: 1px;
  left: 0;
  position: absolute;
  width: 70px;
  background: #555555;
}

#software-creation .subject-header:after {
  background: #ff0000;
}

#expert-advice .subject-header:after {
  background: #ff6600;
}

#training .subject-header:after {
  background: #ffcc33;
}

#courses .subject-header:after {
  background: white;
}

h2.subject-header {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

h2.subject-header:after {
  left: 50%;
  margin-left: -35px;
}

h3.subject-header {
  font-size: 32px;
  line-height: 36px;
}

#courses h3.subject-header:after {
  left:50%;
  margin-left: -35px;
}

.grey-header {
  margin: 80px 0px 80px 0px;
  color: #555555 !important;
}

.grey-header:after {
  background: #555555 !important;
}

.contact-us {
  text-align: center;
}

.contact-us h2, .contact-us h3 {
  color: white;
}

.contact-us a:hover {
  background: white;
  text-decoration: none;
}

.orange-section .contact-us a:hover h2 {
  color: #ff6600;
}

.red-section .contact-us a:hover h2 {
  color: #ff0000;
}

.yellow-section .contact-us a:hover h2 {
  color: #ffcc33;
}

.gray-section .contact-us h2, .gray-section .contact-us h3 {
  color: #687074;
}

.gray-section .contact-us a {
  border: 1px solid #687074;
}

.gray-section .contact-us a:hover {
  background: #687074;
}

.gray-section .contact-us a:hover h2 {
  color: #fafafa;
}

.contact-us-courses a {
  background: #ffcc33;
  border: 1px solid #ffcc33;
  border-radius: 6px;
}

.contact-us-courses h2 {
  color: white;
}

.contact-us-courses a:hover h2 {
  color: #ffcc33;
}

.contact-us-courses h3 {
  color: #555555;
}

.btn-check-courses {
  width: 240px;
  text-align: center;
  background: #ffcc33;
  border: 1px solid #ffcc33;
  border-radius: 6px;
  margin-top: 20px;
}

.btn-check-courses:hover {
  text-decoration: none;
  background: white;
}

.btn-check-courses:hover h3 {
  color: #ffcc33;
}

.btn-check-courses h3 {
  color: white;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

.course {
  text-align: left;
}

.course-category {
  padding-top: 40px;
}

.course-title {
  font-size: 32px;
  line-height: 36px;
}

.course-author {
  font-size: 20px;
  margin-bottom: 40px;
}

.btn-course {
  border: 1px solid #555555;
  border-radius: 6px;
  width: 240px;
  color: #555555;
  padding: 8px 0px 8px 0px;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}

.btn-course:hover {
  background: #555555;
  color: white;
  text-decoration: none;
}


/* Training */

.training-link-btn {
  width: 150px;
  color: #e67e22 !important;
}

.training-description {
  font-size: 17px;
  font-weight: 200;
}



.btn-u.btn-brd.btn-u-orange:hover {
  color: white !important;
  background-color: #e67e22;
}

/* Case Studies */

.case-study {
  margin: 35px 0px;
}

.case-studies .dividing-line {
  border-top: solid 1px #eee;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Training */

.training-slideshow {
  margin-bottom: 20px;
}

.training-slideshow iframe {
  border:1px solid #CCC;
  border-width:1px;
  margin-bottom:5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.training-download {
  width: 100%;
  text-align: right;
}

/* Careers */

.careers h3 {
  color: #e67e22;
}

/* Nav bar */
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  bottom: -2px;
  position: relative;
  border-bottom: solid 2px #e67e22 !important;
}


.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
  color: #e67e22 !important;
}

.header .navbar-nav > li:hover > a {
  color: #e67e22 !important;
}

@media (max-width: 991px) {
  .header .navbar-nav > .active > a,
  .header .navbar-nav > .active > a:hover,
  .header .navbar-nav > .active > a:focus {
    background: #e67e22;
  }
}

/* Pedro's Command Prompt Envy blog */

.style-screengrab {
  margin: 20px 0px 40px 0px;
}

/* Partners */
.jetbrains-logo-partners {
  height: 120px;
}

.jetBrains-blurb {
  text-align: center;
}

.jetBrains-logo-carousel img {
  height: 70%;
  width: 70% !important;
  margin-left: 30px
}

.img-center{
  display: block;
  margin: 0 auto;
}


/* Skills and practices section */
h2.gray-underline:after {
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 70px;
  content: " ";
  margin-left: -35px;
  position: absolute;
  background: #555555;
}

.col-centered-120 {
  margin: 0 auto 0 auto;
  width: 120px;
}

.practice {
  min-width:600px;
}

.practice > * {
  float:left;
}

.practice-icon {
  height: 100px;
  width: 100px;
}

.practice-text {
  margin-top: 20px;
  max-width: 250px;
}

.btn-practices {
  background: none;
  border: grey;
  color: #555555;
  width: 120px;
  margin: 0 auto 0 auto;
  border-radius: 6px;
  border-width: 3px;
  border: 1px solid grey;
}

.btn-practices:hover {
  background-color: #555555;
  color: white;
}

.news-v1 a {
  color: #e67e22;
}

.block-centered {
  display: block;
  text-align: center;
  padding: 20px;
  border: solid 1px #ddd;
  margin: 15px 0;
}

.block-centered-condensed {
  padding: 10px;
}

.block-centered-condensed h3 {
  font-size: 16px;
}

.no-border, i.no-border { border: none; }

/* Foreground colors */

.white, p.white, ul.white li { color: white; }

/* Background colors */

.bg-dark-red { background-color: #cc0000; }

.bg-red { background-color: #ff0000; }

.bg-dark-orange { background-color: #dd4d00; }

.bg-orange { background-color: #ff6600; }

.bg-dark-yellow { background-color: #ffaa00; }

.bg-yellow { background-color: #ffcc33; }

.bg-white { background-color: #fff; }

@media (max-width: 768px) {
  .practice {
    min-width: 0px;
  }
}

@media (max-width: 992px) {
  .practice-text {
    max-width: 60%;
  }
}

/* Sponsoring section */
.margin-top-40 {
  margin-top: 40px;
}

.lscc-title {
  margin-left:-50px;
  margin-top:40px;
}
.sponsoring-img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width: 992px) {
  .lscc-title {
    margin-top:0px;
    margin-bottom:20px;
    margin-left:0px;
    text-align:center;
  }
}

.breadcrumbs-v3.ourpeople {
  background: url(/assets/img/custom/careers/ourpeople.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.ourclients {
  background: url(/assets/img/custom/clients/ourclients.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.ourservices {
  background: url(/assets/img/custom/services/ourservices.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.thesoftwarecraftsman {
  background: url(/assets/img/custom/thesoftwarecraftsman/book-page-image.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

/* clients section */
.client-links {
  text-align: center;
  font: 400 16px/21px "Lato", sans-serif;
  padding: 0 15px;
  text-transform: uppercase;
}

.client-links a {
  padding: 20px;
}

/*Post with text side by side images*/
.image-side-by-side-text {
  float:left;
  margin: 0px 50px 15px 20px;
}

.text-side-by-side-image {
  margin: 0px 50px 0px 0px;
}

@media (max-width: 480px) {
  .image-side-by-side-text {
    float: none;
  }
}


.latest-publications .item {
  padding: 15px 15px 15px 15px;
  margin-bottom:15px;
}

.latest-publications .item > h4 {
  margin: 15px 0px 0px 0px;
}

.button-with-bg-image span {
    font-size: 24px;
    margin: 0;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    color: #fff;
}

.row.team div.col-md-2 {
    height: 50vw;
}

@media (min-width: 768px){
 .row.team div.col-md-2{
    height: 22vw;
	}
}
@media (min-width: 900px){
 .row.team div.col-md-2{
    height: 18vw;
	}
}
@media (min-width: 1400px){
 .row.team div.col-md-2{
    height: 12vw;
	}
}
@media (min-width: 2200px){
 .row.team div.col-md-2{
    height: 8vw;
	}
}

.row.blog-page img {
        width: 100%;
}
