/* Add here all your css styles (customizations) */

/* --------------------------------------
   Global Styles
   -------------------------------------- */

body {  /* 0 0 0 1 */
  font-size: 14px;
}

body:last-child .btn-u, x:-moz-any-link {  /* 0 0 1 1 */
  margin: 0;
}

li > a {  /* 0 0 0 2 */
  color: #e67e22;
}

/* Navbar or Navigation */
/*
   CSS specificity calculator: https://specificity.keegan.st/
   Specificity components: [Inline styles] [IDs] [Classes, attributes and pseudo-classes] [Elements and pseudo-elements]   
   Specificity ranges from lowest to highest (more generic to more specific)
 */

.breadcrumbs h2 {  /* 0 0 1 1 */
  margin-top: 10px;
}

.header .navbar-nav > li > a {  /* 0 0 2 2 */
  padding-left: 10px;
  padding-right: 20px;
}

.header-v3 .navbar-brand {  /* 0 0 3 1 */
  top: 6px;
}

.header .navbar-nav > .active > a,    /* 0 0 3 1 */
.header .navbar-nav > li > a:hover {  /* 0 0 3 2 */
  bottom: -2px;
  position: relative;
  border-bottom: solid 2px #e67e22 !important;
}

.header .navbar-nav > .open > a,         /* 0 0 3 1 */
.header .navbar-nav > li:hover > a,      /* 0 0 3 2 */
.header .navbar-nav > .open > a:hover,   /* 0 0 4 1 */
.header .navbar-nav > .open > a:focus {  /* 0 0 4 1 */
  color: #e67e22 !important;
}

/* --------------------------------------
   Layout
   -------------------------------------- */

/* Home Page */

.feature-panel {  /* 0 0 1 0 */
  background: url("/assets/img/custom/home/codurance-pair-programming.jpg") no-repeat center center;
  height: 550px;
  background-size: cover;
  width: auto;
  z-index: 1;
  position: relative;
}

.feature-panel h1 {  /* 0 0 1 1 */
  font-family:'Oxygen', sans-serif;
  color: white;
  line-height:70px;
}

.feature-panel .jumbotron {  /* 0 0 2 0 */
  background: transparent;
  color: white;
  text-align: center;
  margin: auto;
  width: 80%;
  height: 300px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.feature-panel .jumbotron h3 {  /* 0 0 2 1 */
  color:white;
}

/*  Home Page - Heading Titles */

.section {   /* 0 0 1 0 */
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-header {  /* 0 0 1 0 */
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.title-header h1,
.title-header h2 {   /* 0 0 1 1 */
  color: #333;
  font-size: 28px;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.title-header p {   /* 0 0 1 1 */
  font-size: 17px;
  font-weight: 200;
}

.title-header h1:after,
.title-header h2:after {   /* 0 0 2 1 */
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 70px;
  content: " ";
  margin-left: -35px;
  position: absolute;
  background: #e67e22;
}

/* Buttons - used across multiple pages */

.btn-more {   /* 0 0 1 0 */
  border-radius: 6px;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 30px;
}

.btn-more-light {  /* 0 0 1 0 */
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-u-orange {   /* 0 0 1 0 */
  background: #e67e22;
}

#sharethisButtons {   /* 0 0 1 0 */
  padding-bottom: 30px;
}

.button-with-bg-image span {   /* 0 0 1 1 */
  font-size: 24px;
  margin: 0;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  color: #fff;
}

.btn-more:hover {  /* 0 0 2 0 */
  transition: .3s;
}

.btn-more-light:hover {  /* 0 0 2 0 */
  background-color: white;
  color: #687074;
}

.btn-brd.btn-u-orange {   /* 0 0 2 0 */
  border-color: #e67e22;
}

.btn-u-orange:hover,                   /* 0 0 2 0 */
.btn-u-orange:focus,                   /* 0 0 2 0 */
.btn-u-orange:active,                  /* 0 0 2 0 */
.btn-u-orange.active,                  /* 0 0 2 0 */
.open.dropdown-toggle.btn-u-orange {   /* 0 0 3 0 */
  background: #d35400;
  color: #fff;
  text-decoration: none;
}

.btn-brd.btn-u-orange:hover {   /* 0 0 3 0 */
  color: #d35400;
  border-color: #d35400;
}

.btn-brd.btn-u-orange.btn-brd-hover:hover {   /* 0 0 4 0 */
  background: #d35400;
}

#sharethisButtons {
  padding-bottom: 30px;
}

/* Section colours */

.gray-section {
  background: #fafafa;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

/* Homepage - Blog panel */

.homepage-blog-thumb img {
  height: 240px;
  width: 350px;
}

/* Homepage - Services section */

.service-card-inner {
  padding: 30px 5px;
  text-align: center;
}

.service-card-inner img {
  display: block;
  margin: 0 auto 5px auto;
}

.service-card-inner h2 {
  color: white;
}

.service-card li {
  padding-bottom: 8px;
}

/* Blog */

.blog-thumb {
  max-height: 225px;
}

.blog-thumb a img {
  display: block;
  width: 335px;
  height: 225px;
}

.blog-img-attribution {
  font-size: 11px;
}

.headline-v2 {
  border-left: 2px solid #e67e22 !important;
}

.blog-tag-margin {
  margin-right: 10px;
}

/* Author */
#author-img {
  width: 100%;
}

/* Team */

.profile-window .profile-image {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.img-hover-v1 span {
  min-height: 50px;
  text-align: center;
}

/* Services */

.divider {
  margin-left: 25%;
  margin-right: 25%;
}

.services .services-top-row {
  margin-top: 40px;
}

.services .client-descriptions {
  margin-bottom: 50px;
  margin-top: 50px;
}

.services .introduction {
  margin-top: 50px;

}

.services .service-icon:hover {
  background: #e67e22;
}

.services .service-descriptions {
  margin-top: 50px;
}

.services .service-description-box {
  padding: 20px 40px;
  border-top: solid 2px #e67e22;
}

.services .service-boxes {
  margin-bottom: 40px;
}

.services .services-box {
  padding: 20px 20px;
  border: solid 1px #eee;
}

.services .services-box:hover {
  padding: 20px 20px;
  border: solid 1px #eee;
  box-shadow: 0 0 8px #eee;
}

.services .scenario {
  margin: 20px 0px;
}

/* Services - Skills */

.services .skills-block {
  margin-bottom: 50px;
}

.services .dividing-line {
  border-top: solid 1px #eee;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.services .skills-box {
  padding: 0px;
  margin: 0px;
}

.services .service-block {
  padding: 20px;
  margin: 0px;
}

.services .service-descriptions .introduction {
  margin: 20px 0px
}

/* Consultancy */
.introduction .service-header {
  color: #e67e22 !important;
  font-size: 40px !important;
}

/* Services pages */
.services-section {
  padding-bottom: 40px;
}

.services-section .header {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.services-section .header h3 {
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}

.services-subheader {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-subheader h2 {
  text-align: center;
  margin-bottom: 40px;
}

.services-section .title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services-section .big-title {
  text-align: center;
}

.services-section .body .element {
  padding: 10px 10px 10px 10px;
}

.services-section .body {
  text-align: center;
  text-align: left;
}

.services-section .body h4 {
  margin-top: 0px;
  color: white;
  font-weight: bold;
}

.services-section .body p {
  color: white;
  font-size: 12px
}

/* Training */

.training-link-btn {
  width: 150px;
  color: #e67e22 !important;
}

.training-description {
  font-size: 17px;
  font-weight: 200;
}

.btn-u.btn-brd.btn-u-orange:hover {
  color: white !important;
  background-color: #e67e22;
}

/* Pedro's Command Prompt Envy blog */

.style-screengrab {
  margin: 20px 0px 40px 0px;
}

/* Partners */
.jetbrains-logo-partners {
  height: 120px;
}

.jetBrains-blurb {
  text-align: center;
}

.jetBrains-logo-carousel img {
  height: 70%;
  width: 70% !important;
  margin-left: 30px
}

.img-center {
  display: block;
  margin: 0 auto;
}

/* Skills and practices section */
.news-v1 a {
  color: #e67e22;
}

.block-centered {
  display: block;
  text-align: center;
  padding: 20px;
  border: solid 1px #ddd;
  margin: 15px 0;
}

.block-centered-condensed {
  padding: 10px;
}

.block-centered-condensed h3 {
  font-size: 16px;
}

.no-border, i.no-border { border: none; }

/* Foreground colors */

.white, p.white, ul.white li { color: white; }

/* Background colors */

.bg-dark-red { background-color: #cc0000; }

.bg-red { background-color: #ff0000; }

.bg-dark-orange { background-color: #dd4d00; }

.bg-orange { background-color: #ff6600; }

.bg-dark-yellow { background-color: #ffaa00; }

.bg-yellow { background-color: #ffcc33; }

.bg-white { background-color: #fff; }

/* Sponsoring section */
.breadcrumbs-v3.ourpeople {
  background: url(/assets/img/custom/careers/ourpeople.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.ourclients {
  background: url(/assets/img/custom/clients/ourclients.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.ourservices {
  background: url(/assets/img/custom/services/ourservices.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.thesoftwarecraftsman {
  background: url(/assets/img/custom/thesoftwarecraftsman/book-page-image.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

/* clients section */
.client-links {
  text-align: center;
  font: 400 16px/21px "Lato", sans-serif;
  padding: 0 15px;
  text-transform: uppercase;
}

.client-links a {
  padding: 20px;
}

/* Post with text side by side images */
.image-side-by-side-text {
  float:left;
  margin: 0px 50px 15px 20px;
}

.text-side-by-side-image {
  margin: 0px 50px 0px 0px;
}

.latest-publications .item {
  padding: 15px 15px 15px 15px;
  margin-bottom:15px;
}

.latest-publications .item > h4 {
  margin: 15px 0px 0px 0px;
}



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/*
  Common display resolution:
  https://en.wikipedia.org/wiki/Display_resolution#/media/File:Vector_Video_Standards8.svg
*/

/* Portrait & landscape phone */
@media (max-width: 480px) {
  .image-side-by-side-text {
    float: none;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .feature-panel, .jumbotron {
    padding-top: 0px;
  }
  .feature-panel .jumbotron h1 {
    line-height:40px;
  }
  .feature-panel .jumbotron h3 {
    font-size: 14px;
    line-height: 17px;
  }
  .practice {
    min-width: 0px;
  }
}

@media (max-width: 992px) {
  #services .service-card {
    margin-top: 30px;
  }
}

/* Laptop */

/* Large desktop */
