---
author: Jorge Gueorguiev Garcia
comments: true
date: 2017-10-12 21:00:00 +00:00
layout: post
asset-type: post
slug: functional-calisthenics
title: Functional Calisthenics
abstract: We discuss the rules, how to apply them, and their expected outcomes.
image:
    src: /assets/custom/img/blog/lambda.png
tags:
    - functional programming
---

.row.justify-content-center
    h1.row.justify-content-center The Setup
p 
    span.d-inline-block.float-left.g-width-60.g-height-60.g-color-black.g-font-weight-600.g-font-size-30.text-center.g-pa-7.mr-2 W
    div hile working on a Clojure application that was for production, rather than being an exercise, I saw that I was using OO programming with the syntax of Clojure. I was having problems coming back to change code that I have done not long before. Testing was an absolute pain, with continuous use of `with-redefs` and weird subnesting of `let` statements happening all over the place. Clearly, my knowledge, and my internalization of functional programming, wasn't good enough. It was time to start looking into how to improve my skills.

p 
    | Thanks to my colleagues at Codurance I discovered that at
    |
    a(href='http://socratesuk.org/') SoCraTes UK 2015
    |
    | there was a discussion already about Functional Calisthenics, organized by Ian Johnson, and which results you can find at his blog post
    |
    a(href='http://blog.ninjaferret.co.uk/2015/06/05/Introducing-Functional-Calisthenics.html') Introducing Functional Calisthenics
    |.

p After a bit of trying, I thought that a few of the rules were not exactly how I would have set them up and lacked clarity about the point of the rules. Therefore, we sat down, a few functional programmers at Codurance, and revised the rules. The below represents the rules after this revision, including how to apply them and what is the expected outcome of learning to use those rules.

hr

.row.justify-content-center
    h1.row.justify-content-center The Rules

p These rules are constraints on how to create your code and are only intended to be applied when doing katas or exercises. During the exercises you should follow them to a t. Following this rules on production code is left as a decision for each. I envision to start using them in the order below; some rules build on top of previous rules to achieve better knowledge and understanding of functional programming.

ul
    li 
        a(href='#nameeverything') Name everything
    li
        a(href='#nomutablestate') No mutable state
    li 
        a(href='#exhaustiveconditionals') Exhaustive conditionals
    li 
        a(href='#donotuseintermediatevariables') Do not use intermediate variables
    li 
        a(href='#expressionsnotstatements') Expressions not statements
    li 
        a(href='#noexplicitrecursion') No Explicit recursion
    li 
        a(href='#genericbuildingblocks') Generic building blocks
    li 
        a(href='#sideeffectsattheboundaries') Side effects at the boundaries
    li 
        a(href='#infinitesequences') Infinite Sequences
    li 
        a(href='#oneargumentfunctions') One argument functions

h2
    a(class="anchor", name="nameeverything")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Name Everything

p Most basic one. It will seem harsh for experienced functional programmers. First one to be broken on production code.

h3 Description

p All functions need to be named. Which means that you shouldn't use lambdas or anonymous functions. Also, name all your variables as per standard clean code rules.

h3 Expected Outcome

p 
    strong Learn to recognize patterns on your code.
    |
    | It will help recognizing signatures that repeat, and the applying of DRY on your code. Also, it will clearly express the intention of the action, rather than just show the implementation.

hr

h2
    a(class="anchor" name="nomutablestate")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | No mutable state

p This is the basis of FP.

h3 Description

p You shouldn't use any variable of any type that can mutate.

h3 Expected Outcome

p
    strong Learn how to create code around immutable variables.

p Two main benefits:

ul
    li FP is about immutability. Most of its benefits comes from the fact that all your functions are (or should be) referencially transparent. 
    li Use of recursion as your main looping technique. No for or while loops in your code. For comprehensions abide by this rule.

hr

h2
    a(class="anchor" name="exhaustiveconditionals")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Exhaustive Conditionals

p This rule is mostly preparation work.

h3 Description

p There can not be an if without an else. Switches and pattern matching should always have all paths considered (either through default paths or because all options have been considered).

h3 Expected Outcome

p 
    strong Complete functions.
    |
    | A function should know how to deal with all possible values passed as arguments.

include mid_banner_ad.html
h2
    a(class="anchor" name="donotuseintermediatevariables")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Do Not Use Intermediate Variables

p This rule is mostly preparation work.

h3 Description

p There shouldn't be any variable declared in the body of a function. Only parameters and other functions should appear on the body.

h3 Expected Outcome

p 
    strong Use and understanding of functional pipelines. Starting on the path of functional composition.
    |
    | Functions are the building blocks of functional languages and the combination of functions create the logic of your application. Not having intermediate variables means changing the way that you think about your functions, and how the body of a function (composed of other functions) is, so the code remains legible and easy to follow.

hr

h2
    a(class="anchor" name="expressionsnotstatements")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Expressions, not Statements

p A consequence of the two previous rules. Or a generalization.

h3 Description

p All lines should be expressions. That's it, all lines should return a value.

h3 Expected Outcome

p 
    strong Full purity on the code.
    |
    | Statements that are not expression are there for their side-effects. Nothing like that should be in the code.

hr

h2
    a(class="anchor" name="noexplicitrecursion")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | No Explicit Recursion

p Not as harsh as it looks.

h3 Description

p You shouldn't use explicit recursion like Clojure's
    |
    code loop/recur
    |
    | forms or F#
    |
    code let rec
    |
    | form.

h3 Expected Outcome

p 
    strong Learning the power of map and reduce and use of High Order Functions.    
    |
    | The idea is powerful enough to be the basis of some systems (Apache Hadoop) and has appeared on non-FP languages.

hr

h2
    a(class="anchor" name="genericbuildingblocks")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Generic Building Blocks

p One of the advantages of FP languages is that is easy to generalize algorithms.

h3 Description

p Try to use a much as possible generic types for your functions, outside of the boundaries of your application. Don't use a list, use a collection; Don't use an int when you can use a number; so forth and so on.

h3 Expected Outcome

p 
    strong Easily composable code.    
    |
    | Using existing functionality and High Order Function provided by your language stack becomes much easier.

hr

h2
    a(class="anchor" name="sideeffectsattheboundaries")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Side Effects at the Boundaries

p On the original was at the Top Level. We wanted to extend due to advance scenarios (but is standing on thin ice this reasoning)

h3 Description

p Side effects should only appear on the boundaries of your application. The guts of your application should have no side effects.

h3 Expected Outcome

p 
    strong Limit the amount of code that is influenced by side effects.
    |
    | The main outcome is to create code on which you have tight control over side effects, when are the executed and to limit the effect on them on your logic. All your code logic should depend exclusively on parameters provided.

hr

h2
    a(class="anchor" name="infinitesequences")
    img.bullet-image(src="{{ site.baseurl }}/assets/custom/img/blog/lambda_small.png")
    | Infinite Sequences

p Another harsh rule. One that in production will depend a lot on the optimizations of the language.

h3 Description

p Each function should have a single parameter. You need to be explicit, just using the fact that the language works by automatically applying currying is not enough (Haskel, F#, ...) The parameter can be a structure/map or some other complex type (don't think this restricts to primitives).

h3 Expected Outcome

p 
    strong Use of functional composition.    
    |
    | Currying and partial function usage.

hr

.row.justify-content-center
    h1.row.justify-content-center The Conclusion

p We have started to use them on katas. They force us to think about how we are coding and force us to move away from our standard OOP mentality. At the moment we see them as a good way to improve our skills.

p Of course, this represents the second iteration that we did of the rules. And it is possible that at some point they change. Don't hesitate to contact us to improve them.

p We will be adding a pdf version with the rules and we will be showing some code in the near future.
