---
layout: default
title: Events
---

<div class="container content" id="software-creation">
	<div class="services-section">
		{% include featured_events.html %}	
	</div>
	<div class="services-section"  >
    <h2 class="title-v2 title-center">{% t events-lscc.title  %}</h2>
		{% include lscc_events.html %}	
	</div>
</div>

<script src="{{ "/assets/custom/js/events.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ '/assets/custom/js/handlebars.js' | prepend: site.baseurl }}"></script>
<script>

 if ( window.addEventListener ) { 
     window.addEventListener( "load", loadEvents, false );
  }
function loadEvents(){
	listLsccMeetups('{% t events-lscc.api_endpoint  %}');
}
</script>
