---
layout: default
title: Company
---
<!--=== Content Part ===-->
<style type="text/css">
  .team-member-name { font-size: 1.1em; }
  .team-member-role { font-size: 0.9em; color: #555; }
  a.team-member:hover { text-decoration: none; }
</style>
<div class="container content">
  <div class="row ">
    <div class="col-md-12">
      <div class="margin-bottom-40">
        <a id="whoarewe"></a>
        <div class="headline">
          <h2>{% t company-who_are_we.title %}</h2>
        </div>
        <div>
          {% t company-who_are_we.subtitle %}
        </div>
      </div>
      <div class="margin-bottom-40">
        <a id="theteam"></a>
        <div class="headline">
          <h2>{% t company-the_team.title %}</h2>
        </div>
        {% assign allAuthors = "" | split: "," %}
        {% for page in site.pages %}
        {% assign allAuthors = allAuthors | push:page.author %}
        {% endfor %}
        {% assign teamMembersSize = site.data.team | size %}

        <div class="container content">
          <div class="row team margin-bottom-10">
          {% for member in site.data.team %}
          {% assign currentElementInColumn = currentElementInColumn | plus: 1 %}
          {% assign elementsDisplayed = elementsDisplayed | plus: 1 %}
            <!-- TEAM MEMBER -->
            <div class="col-md-3 col-sm-4 col-6 pb-4" >
              <a href="#team-{{member.id}}" data-modal-target="#team-{{member.id}}" rel="gallery3" class="fancybox img-hover-v1 team-member" title="{{member.name}}" style="background-color: #fff">
                <span><img class="img-fluid" src="{{member.image | prepend: site.baseurl}}" alt=""></span>
                <span class="pt-1">
                  <div class="team-member-name">{{member.name}}</div>
                  <div class="team-member-role">{{member.role}}</div>
                </span>
              </a>
            </div>
            <!-- MODAL CLASS -->
            <div id="team-{{member.id}}"  class="g-max-width-800 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;" >
              <button type="button" class="close" onclick="Custombox.modal.close();">
                <i class="hs-icon hs-icon-close btn-pointer-cursor"></i>
              </button>

              <div class="g-pa-20">
                <div class="row">
                  <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel g-mb-20">
                      <figure>
                        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="{{member.image | prepend: site.baseurl}}" alt="Image for {member.name}}">
                      </figure>
                    </div>
                    <!-- End User Image -->
                  </div>

                  <div class="col-lg-8">
                    <!-- User Details -->
                    <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
                      <h2 class="g-font-weight-300 g-mr-10">{{member.name}}</h2>
                      <ul class="list-inline mb-0">
                        {% if member.github != null %}
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://github.com/{{member.github}}">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-github"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-github"></i>
                          </a>
                        </li>
                        {% endif %}

                        {% if member.twitter != null %}
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://twitter.com/{{member.twitter}}">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                          </a>
                        </li>
                        {% endif %}

                        {% if member.linkedin != null %}
                        <li class="list-inline-item g-mx-2">
                          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-gray-light-v1 g-bg-gray-light-v5 g-color-gray-light-v1--hover rounded-circle" href="https://linkedin.com/in/{{member.linkedin}}">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                    <!-- End User Details -->

                    <!-- User Position & Email -->
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> {{member.role}}
                    </h4>
                    {% if member.email != null %}
                    <h4 class="h6 g-font-weight-300 g-mb-10">
                      <i class="icon-envelope g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> 
                      <a href="mailto:{{member.email}}">{{member.email}}</a>
                    </h4>
                    {% endif %}
                    <!-- End User Position & Email -->
                    
                    <hr class="g-brd-gray-light-v4 g-my-20">
                    <p class="lead g-line-height-1_8">{{member.fullDescription}}</p>
          
                    {% for item in allAuthors %}
                    {% if member.name == item %}
                    {% assign isAuthor = true %}
                    {% endif %}
                    {% endfor %}

                    {% if isAuthor == true %}
                    <p class="g-line-height-1_8"><a href="{{site.baseurl}}/publications/author/{{ member.name | downcase | replace: ' ','-' }}/">See blogs by {{member.name| truncatewords: 1}}</a></p>
                    {% endif %}
                    {% assign isAuthor = false %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="margin-bottom-40">
        <a id="ourculture"></a>
        <div class="headline">
          <h2>{% t company-our_culture.title  %}</h2>
        </div>
        {% t company-our_culture.subtitle %}
      </div>
      <div class="margin-bottom-40">
        <a id="howwework"></a>
        <div class="headline">
          <h2>{% t company-how_we_work.title  %}</h2>
        </div>
        <p>{% t company-how_we_work.subtitle  %}</p>

        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="block-centered equalheight">
              <i class="icon-heart icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-software_craftsmanship.title  %}</h3>
              <p>{% t company-how_we_work-software_craftsmanship.subtitle  %}</p>		            
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="block-centered equalheight">
              <i class="icon-paper-plane icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-agile_and_lean.title %}</h3>
              <p>{% t company-how_we_work-agile_and_lean.subtitle %}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="block-centered equalheight">
              <i class="icon-reload icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-continous_delivery.title %}</h3>
              <p>{% t company-how_we_work-continous_delivery.subtitle %}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="block-centered equalheight">
              <i class="icon-control-forward icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-xp.title %}</h3>
              <p>{% t company-how_we_work-xp.subtitle %}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="block-centered equalheight">
              <i class="icon-settings icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-devops.title %}</h3>
              <p>{% t company-how_we_work-devops.subtitle %}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="block-centered equalheight">
              <i class="icon-screen-desktop icon-color-red no-border"></i>
              <h3>{% t company-how_we_work-technology.title %}</h3>
              <p>{% t company-how_we_work-technology.subtitle %}</p>			        
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a id="contactus" class="contact-section"></a>
            <div class="headline">
              <h2>{% t company-contact.title %}</h2>
            </div>                        
          </div>
          <div class="col-md-6 col-sm-6">
            <!-- Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1241.2376771170846!2d-0.10212284154412113!3d51.52284059490941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b5120a02e0d%3A0xa3cd99412c91cea!2s3rd+Floor%2C+3+Sutton+Ln%2C+Farringdon%2C+London+EC1M+5PU!5e0!3m2!1sen!2suk!4v1560424088154" width="600" height="450" frameborder="0" style="border:0" class="map"></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2993.3761207556017!2d2.1571825!3d41.3876375!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a28e9bc26acb%3A0x366a95b98e89fe6e!2sCodurance!5e0!3m2!1sen!2ses!4v1510071069861" width="600" height="450" frameborder="0" style="border:0" class="map"></iframe>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2374.428671684242!2d-2.2476929!3d53.4786700!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1a89dfbec21%3A0x960b23d326691bce!2sCodurance!5e0!3m2!1sen!2suk!4v1532348506836" width="600" height="450" frameborder="0" style="border:0" class="map"></iframe>
            <!-- End Google Map -->
          </div>
          <div class="col-md-6 col-sm-6">
            <!-- Business Hours -->
            <h3>{% t company-contact-form.title %}</h3>
            <p>{% t company-contact-form.offices_introduction %}:
            <ul>
              <li><b>{%t office.central %}</b>: {{ site.office.phone.lnd }}</li>
              <li><b>Barcelona</b>: {{ site.office.phone.bcn }}</li>
              <li><b>{%t office.man %}</b>: {{ site.office.phone.man }}</li>
            </ul>
            </p>
            <p>{% t company-contact-form.subtitle %}: <a href="mailto:{% t office.email %}" target="_blank">{% t office.email %}</a></p><br/>
            <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
            hbspt.forms.create({
              portalId: "3042464",
              formId: "fc98f934-21cd-4f2a-b427-f8cf1ce3b6bc",
              onFormSubmit: function() {
                              ga('send', {
                                hitType: 'event',
                                eventCategory: 'traininglead',
                                eventAction: 'submit',
                                eventLabel: 'companypage'
                              });
                        },
            });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
