---
layout: default
title: Blog
---

<div class="container content-md">
    <div class="row">
        <!-- Left Sidebar -->
        <div class="col-md-9">
            {% for post in paginator.posts %}
                {% include post.html post=post %}
            {% endfor %}

            <!--Pagination-->
            {% if paginator.total_pages > 1 %}
            <div class="text-center">
                <ul class="pagination">

                    {% if paginator.previous_page %}
                    <li>
                        <a href="{{ paginator.previous_page_path}}">«</a>
                    </li>
                    {% endif %}


                    {% for page in (1..paginator.total_pages) %}
                    <li {% if page == paginator.page %} class="active" {% endif %}>
                    {% if page == 1 %}
                        <a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li>
                        <a href="{{ paginator.next_page_path }}">»</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            <!--End Pagination-->

        </div>
        <!-- Right sidebar -->
        <div class="col-md-3">
	<div class="posts margin-bottom-40">
                <div class="headline-v2 bg-color-light">
			<h2>Videos</h2>
		</div>
		{% include all_videos.html %}
	</div>
	<div class="posts margin-bottom-40">
                <div class="headline-v2 bg-color-light">
			<h2>Books</h2>
		</div>
		<div>
			<img class="img-responsive" src="/assets/img/custom/home/the-software-craftsman-book.jpg" alt="the software craftsman book">
			<h3><a href="https://www.goodreads.com/book/show/23215733-the-software-craftsman">The Software Craftsman: by our Co-founder Sandro Mancuso</a></h3>
		</div>
	</div>
            <div class="posts margin-bottom-40">
                <div class="headline-v2 bg-color-light">
                    <h2>Latest Tweets</h2>
                </div>
                <a class="twitter-timeline" href="https://twitter.com/codurance" data-widget-id="675332417700409344">Tweets by @codurance</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
         <!-- End right sidebar -->
        </div>
    </div>
</div>
