---
title: CSS
---

/* --------------------------------------
   Layout
   -------------------------------------- */

/*
   CSS specificity calculator: https://specificity.keegan.st/
   Specificity components: [Inline styles] [IDs] [Classes, attributes and pseudo-classes] [Elements and pseudo-elements]
   Specificity ranges from lowest to highest (more generic to more specific)
*/

/* Home Page */

$orange-colour: #e67e22;

.feature-panel { /* 0 0 1 0 */
  background: url("{{ site.baseurl }}/assets/custom/img/home/codurance-pair-programming.jpg") no-repeat center center;
  height: 550px;
  background-size: cover;
  width: auto;
  z-index: 1;
  position: relative;

  & h1 { /* 0 0 1 1 */
    font-family: 'Oxygen', sans-serif;
    color: white;
    line-height: 70px;
  }

  & .jumbotron { /* 0 0 2 0 */
    background: transparent;
    color: white;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & h3 { /* 0 0 2 1 */
      color: white;
    }
  }
}

/*  Home Page - Heading Titles */

.section {   /* 0 0 1 0 */
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-header {  /* 0 0 1 0 */
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 60px;

  & h1,    /* 0 0 1 1 */
  & h2 {   /* 0 0 1 1 */
    color: #333;
    font-size: 28px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    
    &:after {   /* 0 0 2 1 */
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 70px;
      content: " ";
      margin-left: -35px;
      position: absolute;
      background: $orange-colour;
    }
  }

  & p {   /* 0 0 1 1 */
    font-size: 17px;
    font-weight: 200;
  }
}

/* Homepage - Blog panel */

.homepage-blog-thumb img {  /* 0 0 1 1 */
  height: 240px;
  width: 350px;
}

/* Homepage - Services section */

.service-card {
  &-inner {  /* 0 0 1 0 */
    padding: 30px 5px;
    text-align: center;
  }

  &-inner img { /* 0 0 1 1 */
    display: block;
    margin: 0 auto 5px auto;
  }

  &-inner h2 {   /* 0 0 1 1 */
    color: white;
  }

  & li {   /* 0 0 1 1 */
    padding-bottom: 8px;
  }
}

/* Blog */

.blog {
    &-thumb {   /* 0 0 1 0 */
      max-height: 225px;

      & a img {   /* 0 0 1 2 */
        display: block;
        width: 335px;
        height: 225px;
      }
    }

    &-img-attribution {   /* 0 0 1 0 */
      font-size: 11px;
    }

    &-tag-margin {   /* 0 0 1 0 */
      margin-right: 10px;
    }
    
    & h2 {
      color: #000 !important;
      font-size: 21px;
      line-height: 32px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & h3 {
      color: #000 !important;
      font-size: 18px;
      line-height: 25px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    & h4 {
      color: #000 !important;
      font-size: 15px;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }


    & img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
    }

}

.headline-v2 {   /* 0 0 1 0 */
  border-left: 2px solid $orange-colour !important;
}

.news-v3-in {
  & h1 {  /* 0 0 1 1 */
    font-size: 32px;
    font-weight: 200;
    margin: 0 0 20px;
    line-height: 45px;
    text-transform: uppercase;
  }

  & h2 {  /* 0 0 1 1 */
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 35px;
    text-transform: none;
  }
}

/* Author */

#author-img {   /* 0 0 1 0 */
  width: 100%;
}

/* Team */

.img-hover-v1 span {   /* 0 0 1 1 */
  min-height: 50px;
  text-align: center;
}

.profile-window .profile-image {   /* 0 0 2 0 */
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

/* Services */

.divider {   /* 0 0 1 0 */
  margin-left: 25%;
  margin-right: 25%;
}

/* Apprenticeship */


.howworks-boxes-container{
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

.howworks-box{
  border-left: 3px solid $orange-colour;
}

.services {
  & .client-descriptions { /* 0 0 2 0 */
    margin-bottom: 50px;
    margin-top: 50px;
  }

  & .dividing-line { /* 0 0 2 0 */
    border-top: solid 1px #eee;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  & .introduction { /* 0 0 2 0 */
    margin-top: 50px;
  }

  & .scenario { /* 0 0 3 0 */
    margin: 20px 0px;
  }

  & .service {
    &-block { /* 0 0 2 0 */
      padding: 20px;
      margin: 0px;
    }

    &-icon:hover { /* 0 0 3 0 */
      background: $orange-colour;
    }

    &-boxes { /* 0 0 2 0 */
      margin-bottom: 40px;
    }

    &-description {
      &-box { /* 0 0 2 0 */
        padding: 20px 40px;
        border-top: solid 2px $orange-colour;
      }
    }
  }

  & .services-box { /* 0 0 2 0 */
    padding: 20px 20px;
    border: solid 1px #eee;

    &:hover { /* 0 0 3 0 */
      padding: 20px 20px;
      border: solid 1px #eee;
      box-shadow: 0 0 8px #eee;
    }
  }

  & .service-descriptions {  /* 0 0 2 0 */
    margin-top: 50px;

    & .introduction {  /* 0 0 3 0 */
      margin: 20px 0px;
    }
  }
  
  &-section { /* 0 0 1 0 */
    padding-bottom: 40px;

    & .header { /* 0 0 2 0 */
      text-align: center;
      padding: 10px 10px 10px 10px;

      & h3 { /* 0 0 2 1 */
        margin-bottom: 0px;
        color: white;
        font-weight: bold;
      }
    }

    & .title { /* 0 0 2 0 */
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    & .big-title { /* 0 0 2 0 */
      text-align: center;
    }

    & .body { /* 0 0 2 0 */
      text-align: center;
      text-align: left;

      & p { /* 0 0 2 1 */
        color: white;
        font-size: 12px
      }

      & h4 { /* 0 0 2 1 */
        margin-top: 0px;
        color: white;
        font-weight: bold;
      }

      & .element { /* 0 0 3 0 */
        padding: 10px 10px 10px 10px;
      }
    }
  }

  & .services-top-row {
    /* 0 0 2 0 */
    margin-top: 40px;
  }

  & .skills {
    &-block { /* 0 0 2 0 */
      margin-bottom: 50px;
    }

    &-box { /* 0 0 2 0 */
      padding: 0px;
      margin: 0px;
    }
  }

  &-subheader { /* 0 0 1 0 */
    padding-top: 40px;
    padding-bottom: 40px;

    & h2 { /* 0 0 1 1 */
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
/* Consultancy */

.introduction .service-header {   /* 0 0 2 0 */
  color: $orange-colour !important;
  font-size: 40px !important;
}

/* Training */

.training {
  &-link-btn { /* 0 0 1 0 */
    width: 150px;
    color: $orange-colour !important;
  }

  &-description { /* 0 0 1 0 */
    font-size: 17px;
    font-weight: 200;
  }
}

.style-screengrab {   /* 0 0 1 0 */
  margin: 20px 0px 40px 0px;
}

#training-contact-form {
  box-shadow: none;
}

/* Skills and practices section */

.block-centered {   /* 0 0 1 0 */
  display: block;
  text-align: center;
  padding: 20px;
  border: solid 1px #ddd;
  margin: 15px 0;

  &-condensed {   /* 0 0 1 0 */
    padding: 10px;
  }

  &-condensed h3 {   /* 0 0 1 1 */
    font-size: 16px;
  }
}

.no-border,     /* 0 0 1 0 */
i.no-border {   /* 0 0 1 1 */
  border: none;
}

.news-v1 a {   /* 0 0 1 1 */
  color: $orange-colour;
}

/* Sponsoring section */

.breadcrumbs-v3 {   
  &.ourpeople { /* 0 0 2 0 */
    background: url("{{ site.baseurl }}/assets/custom/img/careers/ourpeople.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &.ourclients { /* 0 0 2 0 */
    background: url("{{ site.baseurl }}/assets/custom/img/clients/ourclients.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &.ourservices { /* 0 0 2 0 */
    background: url("{{ site.baseurl }}/assets/custom/img/services/ourservices.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &.thesoftwarecraftsman { /* 0 0 2 0 */
    background: url("{{ site.baseurl }}/assets/custom/img/thesoftwarecraftsman/book-page-image.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  &.casestudy::after{ /* 0 0 2 0 */
    background-color: white;
    background-size: cover;
    background-position: center center;
  }
}

.breadcrumbs-v3::after {
    &.casestudy { /* 0 0 2 0 */
    background-color: white;
    background-size: cover;
    background-position: center center;
  }
}

/* Clients section */

.client-links {   /* 0 0 1 0 */
  text-align: center;
  font: 400 16px/21px "Lato", sans-serif;
  padding: 0 15px;
  text-transform: uppercase;

  & a {   /* 0 0 1 1 */
    padding: 20px;
  }
}
/* Partners */

.img-center {   /* 0 0 1 0 */
  display: block;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
}

.jetbrains-logo-partners { /* 0 0 1 0 */
  height: 120px;
}

.jetBrains {
  &-blurb { /* 0 0 1 0 */
    text-align: center;
  }

  &-logo-carousel img { /* 0 0 1 1 */
    height: 70%;
    width: 70% !important;
    margin-left: 30px
  }
}

/* Post with text side by side images */
.image-side-by-side-text { /* 0 0 1 0 */
  float: left;
  margin: 0px 50px 15px 20px;
}

.text-side-by-side-image {   /* 0 0 1 0 */
  margin: 0px 50px 0px 0px;
}

/* Post with 2 images side by side */
.images-side-by-side {
  &-left { /* 0 0 1 0 */
    float: left;
    margin: 0px 75px 15px 65px;
  }

  &-right { /* 0 0 1 0 */
    float: right;
    margin: 0px 65px 15px 75px;
  }
}

.latest-publications {
  & .item { /* 0 0 2 0 */
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    & > h4 { /* 0 0 2 1 */
      margin: 15px 0px 0px 0px;
    }
  }
}

.casestudy{
  padding-top: 60px;

  &-logo {
    & > img {
      margin: auto;
    }
    margin: 0 auto;
    max-width: 400px;
    padding-top: 30px;
    padding-bottom: 20px;
    float: none;
  }

  &-flat-testimonials {
    padding: 50px 0;
    background-color: #333;
  }

  &-bg-image-v1 {
    width: 100%;
    height: auto;
    padding: 50px 0;
    position: relative;
    background: url("{{ site.baseurl }}/assets/custom/img/case-study/paralax.jpg") repeat fixed;
    background-size: cover;
  }

  &-links{
    float:none;
    text-align: center
  }

  &-metaheader{
    font-size: large;

    p {
      color: black;
      font-size: medium;
      font-style: italic;
      text-transform: uppercase;
    }

    &:after {   /* 0 0 2 1 */
      bottom: -20px;
      left: 50%;
      height: 1px;
      width: 70px;
      content: " ";
      margin-left: -35px;
      position: absolute;
      background: $orange-colour;
    }
  }

  &-quote {
      p {
        color: beige;
      }
  }

  &-next-button{
    margin: auto auto 40px auto;
    border-radius: 6px;
    font-size: 18px;

    &-outcome{
      p {
        color: black;
      }
    }
    
    &-container{
      text-align: center;
    }
  }

  &-box {
    background-color: whitesmoke;
    padding: 20px;
  }

  &-main{
    position: relative;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 50px;
  }

  &-row {
    position: relative;
    display: table;

    &:after {   /* 0 0 2 1 */
      bottom: 0px;
      height: 1px;
      width: 100%;
      content: " ";
      position: absolute;
      left: 0;
      background: black;
    }
  }

  &-subheader { /* 0 0 1 0 */
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: large;

    & h2 { /* 0 0 1 1 */
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &-contact {
    margin-top: 30px;
  }
}

/*Quote v2
------------------------------------*/
.quote-v2 {
  text-align: center;
  padding: 85px 10% 40px;
}

.quote-v2 p {
  color: beige;
  font-size: 16px;
  font-style: italic;
  position: relative;
  margin-bottom: 20px;
}

.quote-v2 p:before {
  left: 50%;
  top: -75px;
  font-size: 80px;
  content: "\201C";
  position: absolute;
  margin-left: -25px;
  font-family: Georgia, serif;
}

.quote-v2 span {
  color: beige;
  font-weight: 400;
}

.quote-v3 {
  text-align: center;
  padding: 85px 10% 40px;
}

.quote-v3 p {
  color: #666;
  font-size: 16px;
  font-style: italic;
  position: relative;
  margin-bottom: 20px;
}

.quote-v3 p:before {
  left: 50%;
  top: -75px;
  font-size: 80px;
  content: "\201C";
  position: absolute;
  margin-left: -25px;
  font-family: Georgia, serif;
}

.quote-v3 span {
  color: #666;
  font-weight: 400;
}

.content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.content-container {
  padding-top: 85px
}

blockquote.no-left-border {
  border-left-width: 0px; 
}


@media (min-width: 768px) {
  .casestudy-header-path {
    padding-right: 20px;
    } 
}

/*  slick slides equalize height -----
-----------------------------*/
.slick-track{
  display: flex;
}
.slick-slide{
    display: flex;
    height: auto;
}

/* Events
------------------------------------*/
#lssc_events h2 {
  color:#585f69;

}