---
layout: default
group:
  title: About Us
title: Our Practices
category:
- technology
- software-craftsmanship
- practices
---
<div class="container content">
    <div class="services-section margin-bottom-60">
	<h2 class="subject-header margin-bottom-40">HOW WE WORK</h2>
	<p>The way we work is firmly grounded in Software Craftsmanship and Agile principles. We believe that software should continuously add value to the business with inherent quality that allows it to evolve along with the changing needs of the business.</p>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">Software Craftsmanship</h3>
	    <p>Software Craftsmanship is at the heart of everything we do so we can continuously deliver value to the business with inherent quality. We understand that quality should not be a premium. We hone our skills through continuous practice. We constantly learn, teach and mentor in our team, our company and the wider software development industry.</p>
	</div>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">Agile and Lean Software Development</h3>
	    <p>We believe that a good process constantly delivers incremental value to the business and provides fast feedback. This allows us to inspect, learn, and adapt so that we are able to constantly improve. We don't prescribe specific processes. We help teams understand their options and make their own choices - whether that is Scrum, Kanban, or a mix of Agile practices.</p>
	</div>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">Continuous Delivery</h3>
	    <p>We understand that Continuous Delivery requires the organisation to be aligned in order to deliver value to stakeholders in frequent and small iterations. We are experts in release automation and setting up continuous delivery pipelines. Releasing often is easy, but releasing defect-free features that are aligned to the business is not. We achieve continuous delivery through close attention to business needs, software quality, and Extreme Programming (XP) practices.</p>
	</div>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">Extreme Programming</h3>
	    <p>Practices such as Test-Driven Development (TDD), Pair Programming, Continuous Integration and Shared Ownership are core to everyone at Codurance. This fits very well with our craftsmanship values. We are renowned experts in these practices and use them with great effect to constantly deliver value to our clients. We love to teach and run public training courses and community events to help our industry embed these practices into their teams.</p>
	</div>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">DevOps</h3>
	    <p>DevOps is a culture that supports continuos delivery. We believe that release, operation, and maintenance of software are as much the responsibility of the software development team as building the building the features in the first place. We include production stability, monitoring, and maintenance features from the start.</p>
	</div>
    </div>
    <div class="col-md-6">
	<div class="margin-bottom-40">
	    <h3 class="subject-header margin-bottom-40">Technology</h3>
	    <p>We are experts in platform and application technologies. Our main areas of focus are JVM, .Net, Node JS as well as Mobile (iOS and Android) and Web Front-end technologies. We build and release using automation tools such as Ansible, Puppet, Powershell, Jenkins, Team City, VS Team Services and Github. We excel at cloud deployment, especially using AWS and Microsoft Azure. All our craftsmen are polyglots covering many languages on these platforms.</p>
	</div>
    </div>		
</div>

<div class="section " style="text-align: center;">
<!--Related Blog Posts-->
<div class="container">

		{% assign posts = site.posts %}
		{% assign relatedPosts = ""  %}
			  
		{% for post in posts %}
			{% assign rank = "" %}
			{% for otherPostCategory in post.category %}
				{% for pageCategory in page.category %}
					{% if otherPostCategory | downcase == pageCategory | downcase %}
						{% assign rank = rank | append:"I" %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% if rank.size > 0 %}
				{% assign relatedPosts = relatedPosts | append:rank %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.url %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:site.url %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.title %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.image.src %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.author %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.content %}
				{% assign relatedPosts = relatedPosts | append:"$" %}
				{% assign relatedPosts = relatedPosts | append:post.date %}              
				{% assign relatedPosts = relatedPosts | append:"|" %}
			{% endif %}
		{% endfor %}
			
		{% if relatedPosts.size > 0 %}
			{% assign relatedPostsArray = relatedPosts | split:"|" | sort | reverse %}
			<div class="title-header">
				<h2>Read Related Posts from our Blog</h2>
			</div>
			<div class="row blog-boxes margin-bottom-40">
				{% for relatedPost in relatedPostsArray limit: 3 %}
					{% assign relevantPostAttributes = relatedPost | split:"$" %}
					{% assign postUrl = relevantPostAttributes[1] %}
					{% assign siteUrl = relevantPostAttributes[2] %}
					{% assign postTitle = relevantPostAttributes[3] %}
					{% assign postImageUrl = relevantPostAttributes[4] %}
					{% assign author = relevantPostAttributes[5] %}
					{% assign postContent = relevantPostAttributes[6] %}
					{% assign postDate = relevantPostAttributes[7] %}

					<div class="col-md-4 md-margin-bottom-40">
						<div class="blog-box homepage-blog-thumb">
							<a href="{{ postUrl }}">
							{% if postImageUrl %}
								<img class="img-responsive" src="{{ postImageUrl }}" alt="{{ postTitle }}">
							{% else %}
								<img class="img-responsive" src="/assets/img/coduranceLogoBlogThumb.png" alt="{{ postTitle }}" alt="{{ postTitle }}">
							{% endif %}
							</a>
							<div class="blog-content">
								<h3><a href="{{ postUrl }}">{{ postTitle | truncatewords: 8 }}</a></h3>
								<p>{{ postContent | strip_html | truncatewords:30 }}</p>
							</div>
							<ul class="list-inline blog-box-info">
								<li><span>By</span> {{ author | author_links }}</li>
								<li>|</li>
								<li><i class="fa fa-clock-o"></i> {{ postDate | date_to_string }}</li>
							</ul>
						</div>
					</div>
				{% endfor %} 
			</div>
		{% endif %}
	
</div>
<!--End Related Blog Posts-->
</div>

<div class="section gray-section">
    <div class="contact-us">
	<h3 class="margin-bottom-20">Question? We are here to help you!</h3>
	<a href="/aboutus/contact" class="btn-block">
	    <h2>CONTACT US</h2>
	</a>
    </div>
</div>
