---
layout: default
group:
  title: About Us
title: Our Team
---

<div class="container">
{% for member in site.data.team %}
      {% capture isEndOfRow %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
      {% if forloop.first %}
        <!-- Row -->
        <div class="row team margin-bottom-40">
      {% endif %}

        <div class="col-sm-6 profile-window profile-window-grow" data-toggle="modal" data-target=".team-{{member.id}}">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{member.image}}" />
            </div>
            <div class="col-sm-6"> <!-- Inner Right Column -->
                <h3>{{member.name}} <br><small>{{member.role}}</small></h3>
                <div>
                    <p>{{member.shortDescription}}</p>
                    <i class="fa fa-plus" style="color: #e67e22;">
                    </i>
                    <span style="color: #e67e22;">Read more</span>
                </div>
                <ul class="list-unstyled list-inline team-socail">
                    <li><a href="http://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://github.com/{{member.github}}"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>

      {% if forloop.first == false and forloop.last == false and isEndOfRow == '1' %}
        </div>
        <!-- Row -->
        <div class="row team margin-bottom-40">
      {% endif %}
      {% if forloop.last %}
        </div>
      {% endif %}

{% endfor %}


<!--MODAL CLASS -->
{% for member in site.data.team %}
    <div class="modal fade team-{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog profile-window modal-window">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3>{{member.name}}<br> <small>{{member.role}}</small></h3>
                </div>
                <div class="modal-body">
                    <p><img class="img-responsive margin-bottom-30 profile-image" src="{{member.image}}" alt="{{member.name}}">
                    </p>
                    {{member.fullDescription}}
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="http://twitter.com/{{member.twitter}}"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <li><a href="http://github.com/{{member.github}}"><i class="fa fa-github fa-3x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
