---
# Front matter comment to ensure Jekyll properly reads file.
---

/* --------------------------------------
   Layout
   -------------------------------------- */

/*
   CSS specificity calculator: https://specificity.keegan.st/
   Specificity components: [Inline styles] [IDs] [Classes, attributes and pseudo-classes] [Elements and pseudo-elements]
   Specificity ranges from lowest to highest (more generic to more specific)
*/

/* Buttons - used across multiple pages */

$dark-orange-colour: #d35400;
$orange-colour: #e67e22;
$gray-colour: #687074;
$white-colour: #fff;

.btn-more {   /* 0 0 1 0 */
    border-radius: 6px;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 30px;

    &-light {  /* 0 0 1 0 */
        background-color: transparent;
        border: 1px solid $white-colour;
        color: $white-colour;

        &:hover {  /* 0 0 2 0 */
            background-color: $white-colour;
            color: $gray-colour;
        }
    }

    &:hover {  /* 0 0 2 0 */
        transition: .3s;
    }
}

.btn-small {   
    border-radius: 6px;
    font-size: 18px;
    margin: 10px 0;
    padding: 5px 10px;

    &-orange {  
        background-color: transparent;
        border: 1px solid $dark-orange-colour;
        color: $dark-orange-colour;
        font-size: 11px;
        text-transform: uppercase;
        margin-left: 10px;

        &:hover {  
            background-color: $orange-colour;
            color: $white-colour;
        }
    }

    &:hover {  
        transition: .3s;
    }
}

.button-with-bg-image span {   /* 0 0 1 1 */
    font-size: 24px;
    margin: 0;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    color: $white-colour;
}

.btn-u {
    &-orange { /* 0 0 1 0 */
        background: $orange-colour;

        &:hover, /* 0 0 2 0 */
        &:focus, /* 0 0 2 0 */
        &:active, /* 0 0 2 0 */
        &.active { /* 0 0 2 0 */
            background: $dark-orange-colour;
            color: $white-colour;
            text-decoration: none;
        }
    }

    &.btn-brd.btn-u-orange:hover {   /* 0 0 4 0 */
        color: white !important;
        background-color: $orange-colour;
    }
}

.btn-brd.btn-u-orange { /* 0 0 2 0 */
    border-color: $orange-colour;

    &:hover { /* 0 0 3 0 */
        color: $dark-orange-colour;
        border-color: $dark-orange-colour;
    }

    &.btn-brd-hover:hover {   /* 0 0 4 0 */
        background: $dark-orange-colour;
    }
}

.open.dropdown-toggle.btn-u-orange {   /* 0 0 3 0 */
    background: $dark-orange-colour;
    color: $white-colour;
    text-decoration: none;
}

#sharethisButtons {   /* 0 1 0 0 */
    padding-bottom: 30px;
}
