---
layout: default
title: Videos
---

<div class="bg-color-light">
    <div class="container content-sm"> 
        <div class="row">
            <!-- left side bar -->
            <div class="col-md-9">
                {% assign posts = site.categories.videos %}
		{% for video in posts %}
		<div class="news-v3 margin-bottom-30 bg-color-white">	
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe style="width: 100%;" class="embed-responsive-item" src="{{video.video-url}}"></iframe>
			</div>
			<div class="news-v3-in">
				<ul class="list-inline posted-info">
					<li>By {{ video.author || author_links }}</li>
					<li>Posted {{ video.date | date_to_string }} {{video.location}}</li>
				</ul>

				{{ video.content }}
			</div>
		</div>
		{% endfor %}
            </div>
            <!-- left sidebar ends -->

            <!-- right sidebar -->
            <div class="col-md-3">
                <div class="posts margin-bottom-40">
                    <div class="headline-v2">
                        <h2>Recent Blogs</h2>
                    </div>

	    	    {% assign posts = site.posts | where: "asset-type", "post" %}
                    {% for post in posts limit: 7 %}
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                          <a href="{{ post.url }}">
                            <img class="rounded-x" src="{{ post.image.src }}" alt=""></img>
                          </a>
                          <a class="hover-grad" href="{{ post.url }}r">
                            <i class="fa fa-hand-spock-o"></i>
                          </a>
                        </div>
                        <div class="blog-thumb-desc">
                          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> 
                          <ul class="blog-thumb-info">
                            <li>
                              {{ post.author }}
                            </li>
                          </ul>
                        </div>
                    </div>
                    {% endfor %}
                  <!-- End Recent blogs -->
                </div>
                <!-- latest tweets -->
                <div class="posts margin-bottom-40">
                    <div class="headline-v2"><h2>Latest Tweets</h2></div>
                    <a class="twitter-timeline" href="https://twitter.com/codurance" data-widget-id="675332417700409344">Tweets by @codurance</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</div>
