---
layout: default
title: Careers
---
<!--=== Content Part ===-->
<div class="careers page container">
    <div class="alert alert-warning fade in margin-bottom-40">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        We will soon be hiring interns for the summer. Watch this space.
    </div>

    <div class="row">
        <!--Begin Sidebar Menu-->
        <div class="col-md-3">
            <ul class="list-group sidebar-nav-v1">
                <li class="list-group-item{% if page.role == 'Craftsman' %} active{% endif %}">
                    <span class="badge badge-green">Open</span>
                    <a href="/careers/craftsman">Craftsman</a>
                </li>
                <li class="list-group-item{% if page.role == 'Apprentice' %} active{% endif %}">
                    <span class="badge badge-green">Open</span>
                    <a href="/careers/apprentice">Apprentice</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">Soon</span>
                    <a href="#">Intern</a>
                </li>
            </ul>
        </div>
        <!--End Sidebar Menu-->

        <!--Begin Content-->
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>
