---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>

<body >

<div class="wrapper">
<!--=== Header ===-->
{% include header.html %}
<!--=== End Header ===-->
<div class="content-container">
{{ content }}
</div>
<!--=== Copyright ===-->
{% include footer.html %}
<!--=== End Copyright ===-->
</div>

{% include foot.html %}

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3042464.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>
