---
layout: default
group:
  title: Blog
  link: /blog
---
<div class="bg-color-light">
  <div class="container content-sm">
    <div class="row blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="col-md-9">
      <!--Blog Post-->
      <div class="news-v3 bg-color-white margin-bottom-30">
        <div class="news-v3-in shareThisButtons">
          <h1>{{ page.title }}</h1>
          <ul class="list-inline posted-info">
              <li>By {{ page.author || author_links }}</li>
              {% if page.date %}
                <li>Posted {{ page.date | date_to_string }}</li>
                <li>
                    {% for tag in page.tags %}
                      <a href="/blog/tag/{{ tag | downcase | replace: ' ','-'}}/"><i class="fa fa-tags"></i><span class="blog-tag-margin"> {{ tag }}</span></a>
                    {% endfor %}
                </li>
               {% endif %}
          </ul>

          {{ content }}

          {% if page.canonical %}
            <p class="cross-post"><a href="{{ page.canonical.href }}">This post was cross-posted to {{ page.canonical.name }}.</a></p>
          {% endif %}

          <div id="sharethisButtons">
            <span class='pull-right st_twitter_large' displayText='Tweet' st_url='{{ site.url }}{{ page.url }}'></span>
            <span class='pull-right st_linkedin_large' displayText='LinkedIn' st_url='{{ site.url }}{{ page.url }}'></span>
            <span class='pull-right st_email_large' displayText='Email' st_url='{{ site.url }}{{ page.url }}'></span>
            <span class='pull-right st_sharethis_large' displayText='ShareThis' st_url='{{ site.url }}{{ page.url }}'></span>
          </div>

        </div>
      </div>
      <!--End Blog Post-->
    	<!--About the author-->
    	{% if page.author %}
        {% for member in site.data.team %}
          {% if page.author == member.name %}
          <div class = "blog-author bg-color-white margin-bottom-30">
            <div class="headline headline-md margin-bottom-30">
              <h2>About the author</h2>
            </div>
            <div class="row">
              <div class="col-sm-3 pull-left">
                <img class="img-responsive"  id="author-img" src="{{ member.image }}">
              </div>
              <div class="col-sm-9 pull-left">
                <div class="blog-author-desc">
                  <div class="overflow-h">
                    <h4>{{ page.author | author_links}}</h4>
                    {% if member.twitter %}
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/intent/tweet?text=.%20@{{ member.twitter }}%20Type%20your%20text%20here&url={{ site.url | uri_escape }}{{ page.url| uri_escape }}&via=codurance"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                    {% endif %}
                  </div>
                  <p>{{ member.fullDescription }}</p>
                </div>
              </div>
            </div>
          </div>
          {% break %}
          {% endif %}
        {% endfor %}
    	{% endif %}
      <!--End About the author-->
    </div>
    <!-- End Left Sidebar -->

    <!-- Right Sidebar -->
    <div class="col-md-3">
      <!--Related Blog Posts-->
      <div class="posts margin-bottom-40">
          <div class="headline-v2">
            <h2>Related Blogs</h2>
          </div>
	  {% assign posts = site.posts | where: "layout", "post" %}
          {% assign relatedPosts = ""  %}

          {% for post in posts %}
            {% assign rank = "" %}
            {% for otherPostTag in post.tags %}
              {% for currentTag in page.tags %}
                {% if otherPostTag == currentTag and page.title != post.title %}
                  {% assign rank = rank | append:"I" %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% if rank.size > 0 %}
              {% assign relatedPosts = relatedPosts | append:rank %}
              {% assign relatedPosts = relatedPosts | append:"$" %}
              {% assign relatedPosts = relatedPosts | append:post.url %}
              {% assign relatedPosts = relatedPosts | append:"$" %}
              {% assign relatedPosts = relatedPosts | append:site.url %}
              {% assign relatedPosts = relatedPosts | append:"$" %}
              {% assign relatedPosts = relatedPosts | append:post.title %}
              {% assign relatedPosts = relatedPosts | append:"$" %}
              {% assign relatedPosts = relatedPosts | append:post.image.src %}
              {% assign relatedPosts = relatedPosts | append:"$" %}
              {% assign relatedPosts = relatedPosts | append:post.author %}
              {% assign relatedPosts = relatedPosts | append:"|" %}
            {% endif %}
          {% endfor %}
          
          {% if relatedPosts.size > 0 %}
            {% assign relatedPostsArray = relatedPosts | split:"|" | sort | reverse %}
            {% for relatedPost in relatedPostsArray limit: 7 %}
              {% assign relevantPostAttributes = relatedPost | split:"$" %}
              {% assign postUrl = relevantPostAttributes[1] %}
              {% assign siteUrl = relevantPostAttributes[2] %}
              {% assign postTitle = relevantPostAttributes[3] %}
              {% assign postImageUrl = relevantPostAttributes[4] %}
              {% assign author = relevantPostAttributes[5] %}

              <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                <div class="blog-thumb-hover">
                  <a href="{{ postUrl }}">
                    <img class="rounded-x" src="{{ postImageUrl }}" alt=""></img>
                  </a>
                  <a class="hover-grad" href="{{ postUrl }}">
                    <i class="fa fa-hand-spock-o"></i>
                  </a>
                </div>
                <div class="blog-thumb-desc">
                  <h3><a href="{{ postUrl }}">{{ postTitle }}</a></h3>
                  <ul class="blog-thumb-info">
                    <li>
                      {{ author }}
                    </li>
                  </ul>
                </div>
              </div>
            {% endfor %} 
          {% endif %}
      <!--End Related Blog Posts-->
      </div>
      <!-- Recent blogs -->
      <div class="posts margin-bottom-40">
        <div class="headline-v2"><h2>Recent Blogs</h2></div>
        {% for post in posts limit: 7 %}
          <div class="blog-thumb blog-thumb-circle margin-bottom-15">
            <div class="blog-thumb-hover">
              <a href="{{ post.url }}">
                <img class="rounded-x" src="{{ post.image.src }}" alt=""></img>
              </a>
              <a class="hover-grad" href="{{ post.url }}">
                <i class="fa fa-hand-spock-o"></i>
              </a>
            </div>
            <div class="blog-thumb-desc">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3> 
              <ul class="blog-thumb-info">
                <li>
                  {{ post.author }}
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      <!-- End Recent blogs -->
      </div>
    <!-- End Right Sidebar -->
    </div>
    <!--/row-->
    </div>
  <!--/container-->
  </div>
  <!-- background color -->
</div>

{% include blog_call_to_action.html %}
