---
layout: default
group:
  title: Blog
  link: /blog
---
<div class="container">
<div class="row blog-page blog-item">
<!-- Left Sidebar -->
<div class="col-md-9 md-margin-bottom-60">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        {% if page.date %}
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</li>
                <li><i class="fa fa-pencil"></i> {{ page.author }}</li>
                <li class="blog-share-buttons">
                  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                  <script type="IN/Share" data-url="http://www.codurance.com{{ page.url }}" data-counter="right"></script>

                  <a class="twitter-share-button"
                      href="https://twitter.com/intent/tweet?url=http://www.codurance.com{{ page.url }}"
                      data-counturl="http://www.codurance.com{{ page.url }}">
                      Tweet</a>
                </li>
            </ul>
        </div>
        {% endif %}

        {% if page.image %}
            <img class="img-responsive thumbnail blog-post-image" src="{{ page.image.src }}" alt="{{ page.title }}">
        {% endif %}

        {{ content }}

        {% if page.canonical %}
        <hr/>
        <p class="cross-post"><a href="{{ page.canonical.href }}">This post was cross-posted to {{ page.canonical.name }}.</a></p>
        {% endif %}
    </div>
    <!--End Blog Post-->
</div>
<!-- End Left Sidebar -->

<!-- Right Sidebar -->
<div class="col-md-3 magazine-page">
    <!-- Blog Latest Tweets -->
    <div class="blog-twitter margin-bottom-30">
        <a class="twitter-timeline" href="https://twitter.com/mashooq/codurance" data-widget-id="400789734676385792">Tweets from Codurance team</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>window.twttr = (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0],t = window.twttr || {};if (d.getElementById(id)) return t;js = d.createElement(s);js.id = id;js.src = "https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js, fjs);t._e = [];t.ready = function(f) {t._e.push(f);};return t;}(document, "script", "twitter-wjs"));</script>
    </div>
    <!-- End Blog Latest Tweets -->
</div>
<!-- End Right Sidebar -->
</div>
<!--/row-->
</div>
<!--/container-->
