<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>

<body>
<!--=== Header ===-->
{% include header.html %}
<!--=== End Header ===-->

{% include breadcrumb.html layout="post" %}

<!--=== Content Part ===-->
<div class="container">
<div class="row blog-page blog-item">
<!-- Left Sidebar -->
<div class="col-md-9 md-margin-bottom-60">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
        {% if page.date %}
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="icon-calendar"></i> {{ page.date | date_to_string }}</li>
                <li><i class="icon-pencil"></i> {{ page.author }}</li>
            </ul>
        </div>
        {% endif %}

        {% for post in page.posts %}
             {% include post.html post=post %}
        {% endfor %}

        </ul>

    </div>
    <!--End Blog Post-->
</div>
<!-- End Left Sidebar -->

<!-- Right Sidebar -->
<div class="col-md-3 magazine-page">
    <!-- Blog Latest Tweets -->
   <div class="blog-twitter margin-bottom-30">
        <a class="twitter-timeline" href="https://twitter.com/mashooq/codurance" data-widget-id="400789734676385792">Tweets from Codurance team</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <!-- End Blog Latest Tweets -->
</div>
<!-- End Right Sidebar -->
</div>
<!--/row-->
</div>
<!--/container-->
<!--=== End Content Part ===-->


<!--=== Copyright ===-->
{% include footer.html %}
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
    });
</script>
<!--[if lt IE 9]>
<script src="/assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html>
