---
layout: default
title: Training
---
<!--=== Content Part ===-->

<div class="container services content">
    <div class="client-descriptions">
        <div class="title-v1 introduction">
            <h2 class="service-header">Training</h2>
        </div>

        {{ content }}

        <div class="margin-bottom-60"></div>
        <!--<hr/>-->
        <div class="row margin-bottom-40 margin-top-20">
            <div class="col-md-8 col-md-offset-2">
                <div class="headline headline-md margin-bottom-30">
                    <h2>Talk to us about your training needs</h2>
                </div>

                <form id="contact" class="sky-form" action="https://codurance.com/api/emailer">
                    <input type="hidden" name="_next" value="/aboutus/thanks"/>
                    <input type="hidden" name="_subject" value="Codurance Training"/>
                    <input type="hidden" name="to" value="hello@codurance.com"/>

                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <label>Name / Organisation</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Your email</label>
                            <input class="form-control" type="email" name="_replyto" required>
                        </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <label>Desired start date</label>
                            <input class="form-control" type="text" name="start_date">
                        </div>
                        <div class="col-md-6">
                            <label>Number of participants</label>
                            <input class="form-control" type="text" name="participants">
                        </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-12">
                            <label>Message</label>
                            <textarea class="form-control" rows="10" name="body" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="Send" value="Send" class="pull-right btn-u btn-u-lg" type="submit">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      function onJQueryLoaded() {
	      $("#contact").submit(function(event) {
		      /* stop form from submitting normally */
		      event.preventDefault();

		      var message = 
			      'Message: ' + $('[name=body]').val() + 
			      '\n Desired start date: ' +  $('[name=start_date]').val() + 
			      '\n Number of participants: ' + $('[name=participants]').val();

		      var body = {	
			      to: $('[name=to]').val(),
			      name: $('[name=name]').val(), 
			      subject:  $('[name=_subject]').val(),
			      email: $('[name=_replyto]').val(),
			      message: message
		      };
		      
		      var $form = $(this);
		      var url = $form.attr('action');
		      $.ajax({
			      type: "POST",
			      url: url,
			      data: JSON.stringify(body),
			      success: function(data) {
				      window.location = $('[name=_next]').val();
			      },
			      dataType: "json",
			      contentType: "application/json"
		      });
	      });
      }
</script>

