---
layout: default
title: Training
---
<!--=== Content Part ===-->

<div class="container services content">
    <div class="client-descriptions">
        <div class="title-v1 introduction">
            <h2 class="service-header">Training</h2>
        </div>

        {{ content }}

        <div class="margin-bottom-60"></div>
        <!--<hr/>-->
        <div class="row margin-bottom-40 margin-top-20">
            <div class="col-md-8 col-md-offset-2">
                <div class="headline headline-md margin-bottom-30">
                    <h2>Talk to us about your training needs</h2>
                </div>

                <form id="contact" class="sky-form" action="http://formspree.io/hello@codurance.com" method="POST">
                    <input type="hidden" name="_next" value="/aboutus/thanks"/>
                    <input type="hidden" name="_subject" value="Codurance Training"/>
                    <input type="hidden" id="TrainingUrl" name="TrainingUrl" value=""/>

                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <label>Name / Organisation</label>
                            <input class="form-control" type="text" name="name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Your email</label>
                            <input class="form-control" type="email" name="_replyto" required>
                        </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6">
                            <label>Desired start date</label>
                            <input class="form-control" type="text" name="start_date">
                        </div>
                        <div class="col-md-6">
                            <label>Number of participants</label>
                            <input class="form-control" type="text" name="participants">
                        </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-12">
                            <label>Message</label>
                            <textarea class="form-control" rows="10" name="body" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="Send" value="Send" class="pull-right btn-u btn-u-lg" type="submit">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('TrainingUrl').value = window.location.href;
</script>

