---
layout: default
title: Events
---

<div class="container content" id="software-creation">
	<div class="services-section">
		{% include featured_events.html %}	
	</div>
	<div class="services-section"  >
		<h2>{% t events-lscc.title  %}</h2>
		<hr class="divider">	
		{% include lscc_events.html %}	
	</div>
</div>

<script type="text/javascript" src="/assets/js/events.js"></script>
<script>

 if ( window.addEventListener ) { 
     window.addEventListener( "load", loadEvents, false );
  }
function loadEvents(){
	listLsccMeetups('{% t events-lscc.api_endpoint  %}');
}
</script>
