---
layout: default
---

<section class="homepage-hero">
  <div class="homepage-hero__video-wrapper">
    <video controls="false" playsinline autoplay muted poster="{{ '/assets/custom/video/home/home-hero.jpg' | prepend: site.baseurl }}" loop class="homepage-hero__video">
      <source src="{{ '/assets/custom/video/home/home-hero.mp4' | prepend: site.baseurl }}" type="video/mp4"/>
      <source src="{{ '/assets/custom/video/home/home-hero.ogv' | prepend: site.baseurl }}" type="video/ogg" />
      <source src="{{ '/assets/custom/video/home/home-hero.webm' | prepend: site.baseurl }}" type="video/webm" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="homepage-hero__content-container">
    <h1 class="homepage-hero__title">{% t index-banner.title %}</h1>
    <h3 class="homepage-hero__subtitle">{% t index-banner.subtitle %}</h3>
    <a
      href="{{ '/services' | prepend: site.baseurl }}"
      role="button"
      class="btn btn-more btn-more-large"
    >
      <span>{% t index-banner.link_title %}</span>
    </a>
  </div>
</section>


<!-- Activity panel -->
<div class="section">
  <div class="container">
    <div class="title-header">
      <h2 class="h3">{% t index-activity.title %}</h2>
    </div>

    <div class="row blog-boxes margin-bottom-40 blog-boxes--shadow">
      
      {% assign entries = site.emptyArray %}
      {% for podcast in site.podcasts %}
        {% assign entries = entries | push: podcast %}
      {% endfor %}
      
      {% for video in site.videos %}
        {% assign entries = entries | push: video %}
      {% endfor %}

      {% for post in site.posts %}
        {% assign entries = entries | push: post %}
      {% endfor %}

      {% assign media = entries | sort: 'date' | reverse %}
      {% for entry in media limit:3 %}
        {% assign entryArray = site.emptyArray | push: entry %} 
        {% include latest_highlights.html param=entryArray %}
      {% endfor %}

    </div>

    <div class="text-center">
      <a
        class="btn u-btn-outline g-rounded-50 g-pl-25 g-pr-20 g-py-12 g-px-25"
        href="{{ '/publications' | prepend: site.baseurl }}"
      >
        <span class="g-pos-rel g-top-2 g-font-weight-600"
          >{% t index-activity.publications_link_title %}</span
        >
      </a>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end section -->

<div class="section g-pt-0 g-pb-0">
  <div>
    {% include soft_mod_in_page_banner.html %}
  </div>
</div>

{% capture title %}{% t index-clients.title %}{% endcapture %}
{% include clients_teaser.html class="home-page__client-logos" client_ids=site.data.client_ids_by_page.homepage-and-clients-page show_more_clients_cta=true title=title %}


<!-- Partner panel -->
<section class="section gray-section">
  <div class="container">
    <div class="title-header">
      <h2>{% t index-partners.title %}</h2>
    </div>

    <div class="row--partners">
      {% for partner in site.data.partners %}
      <div class="col-md-partners text-center">
        <a href="{{ partner.url }}" target="_blank">
          <img
            class="g-mb-0--sm img-responsive"
            src="{{ partner.image | prepend: site.baseurl }}"
            alt="{{ partner.alt-text }}"
          />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end section -->

<section class="homepage__how-we-work how-we-work">
  <div class="how-we-work__inner">
    {%- capture title -%}{% t index-how_we_work.title %}{%- endcapture -%}
    {%- capture description -%}{% t index-how_we_work.subtitle %}{%- endcapture -%}
    {% include section_intro.html class="how-we-work__intro" description=description title=title %}

    <div class="how-we-work__details-container">
      {% assign translations = site.translations[site.lang].index-how_we_work %}
      {% for i in (0..5) %}
        <div class="how-we-work__detail">
          <img
            class="how-we-work__details-icon"
            src="{{ translations.image-paths[i] | prepend: site.baseurl }}"
          />
          <h3 class="how-we-work__details-text">{{ translations.titles[i] }}</h3>
        </div>
      {% endfor %}
    </div>

  </div>
</section>

<!-- values panel-->
<div class="section">
  <div class="container">
    <div class="title-header">
      <h2>{% t index-software_craftsmanship.title %}</h2>
    </div>

    <div class="container mb-5 text-center g-pb-20">
      <p class="lead mb-o">{% t index-software_craftsmanship.subtitle %}</p>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4 g-mb-30 u-display-flex">
        <article class="box-shadow">
          <a
            class="u-link-v5 g-color-main"
            href="https://www.goodreads.com/book/show/23215733-the-software-craftsman"
            target="_blank"
          >
            <img
              class="img-fluid w-100"
              src="{{ '/assets/custom/img/home/the-software-craftsman-book.jpg' | prepend: site.baseurl }}"
              alt="The Craftsman Book Cover"
            />
            <div class="g-pa-30-30-20">
              <h3 class="h4 g-font-weight-800 g-mb-15">
                {% t index-software_craftsmanship-book.title %}
              </h3>

              <p class="g-pb-30">
                {% t index-software_craftsmanship-book.subtitle%}
              </p>
              <span class="block-cta"
                >{% t index-software_craftsmanship-book.link_title %}</span
              >
            </div>
          </a>
        </article>
      </div>
      <!-- end col-sm-6 -->

      <div class="col-sm-6 col-lg-4 g-mb-30 u-display-flex">
        <article class="box-shadow">
          <a class="u-link-v5 g-color-main" href="http://socratesuk.org/" target="_blank">
            <img
              class="img-fluid w-100"
              src="{{ '/assets/custom/img/home/socrates-uk.jpg' | prepend: site.baseurl }}"
              alt="Socrates Conference Logo"
            />
            <div class="g-pa-30-30-20">
              <h3 class="h4 g-font-weight-800 g-mb-15">
                {% t index-software_craftsmanship-socrates.title %}
              </h3>
              <p class="g-pb-30">
                {% t index-software_craftsmanship-socrates.subtitle %}
              </p>
              <span class="block-cta"
                >{% t index-software_craftsmanship-socrates.link_title %}</span
              >
            </div>
          </a>
        </article>
      </div>
      <!-- end col-sm-6 -->

      <div class="col-sm-6 col-lg-4 g-mb-30 u-display-flex">
        <article class="box-shadow">
          <a
            class="u-link-v5 g-color-main"
            href="https://www.meetup.com/london-software-craftsmanship"
            target="_blank"
          >
            <img
              class="img-fluid w-100"
              src="{{ '/assets/custom/img/home/lscc.jpg' | prepend: site.baseurl }}"
              alt="LSCC Logo"
            />
            <div class="g-pa-30-30-20">
              <h3 class="h4 g-font-weight-800 g-mb-15">
                {% t index-software_craftsmanship-lscc.title %}
              </h3>
              <p class="g-pb-30">
                {% t index-software_craftsmanship-lscc.subtitle %}
              </p>
              <span class="block-cta"
                >{% t index-software_craftsmanship-lscc.link_title %}</span
              >
            </div>
          </a>
        </article>
      </div>
      <!-- end col-sm-6 -->
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end section -->
