/* SoftMod Section
   ------------- */



.text-900 {
    font-weight: 900;
}


.text-700 {
    font-weight: 700;
}



/* -- Backgrounds -- */

.bg-slate {
    background-color: #2B3342;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-coral {
    background-color: #FB7268;
}

.bg-sheen {
    background: rgb(252,249,241);
    background: linear-gradient(34deg, rgba(252,249,241,1) 52%, rgba(252,244,244,1) 100%);    
}



/* -- Grid -- */

.grid {
	display: grid;
	grid-gap: 140px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 500px;
} 

.grid-item--intro {
    padding-left: 50px;
	align-items: center;
	display: flex;
}

.grid-item--intro-image {
    background-color: #FB7268;
}

.section--testimonials {
    background:url('https://picture.bestsecret.com/medias/sys_master/images/13257493643294.jpg');
    background-size: 100% auto;
    background-position-y: 290px;
    background-repeat: no-repeat;
}


/* -- Element Position -- */

.p-relative {
    position: relative;
}

.bottom {
    bottom: -120px;
}



/* -- Text -- */

.text-white{
    color: white;
}

.center {
    text-align: center;
}

.text-mxwidth {
    max-width: 600px;
}




/* -- Buttons -- */

.btn--coral {
    background:#FB7268!important;
}

.btn--blue {
    background:#0F4071!important;
}




/* -- Border -- */

.shadow-grey {
    box-shadow: 0px 0.1px 5px 0.1px #88888856;
}



/* -- Custom Blocks -- */

.container-slim {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* -- Device Breakpoints -- */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .container-slim {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-slim {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {

    .container-slim {
        max-width: 800px;
    }
}