/* Padding
   -------------------------------------- */

.u-pad-none {
    padding: 0!important;
}
  

/* Widths
   -------------------------------------- */

.u-max-width-1400 {
    max-width: 1400px;
    margin: auto;
    position: relative;
}


/* Display
   -------------------------------------- */

.u-display-flex {
    display: flex;
}
  

/* Typography
   -------------------------------------- */


.g-color-white h1,
.g-color-white h3,
.g-color-white h4,
.g-color-white h5,
.g-color-white h6,  
.g-color-white p {
  color: #FFF!important;
}