/* Feature panel - Overlay and typography
   -------------------------------------- */

.feature-panel {
    height: 800px;
    width: auto;
    z-index: 1;
    position: relative;
}

.feature-panel--shaded-mask {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.feature-panel .jumbotron h3 {
    color: white;
    padding: 10px 0 20px 0;
}
