---
# Front matter comment to ensure Jekyll properly reads file.
---

/* --------------------------------------
 Global Styles
 -------------------------------------- */

/*
   CSS specificity calculator: https://specificity.keegan.st/
   Specificity components: [Inline styles] [IDs] [Classes, attributes and pseudo-classes] [Elements and pseudo-elements]
   Specificity ranges from lowest to highest (more generic to more specific)
 */

@import "colors";

$orange-colour: #e67e22;

x:-moz-any-link {
  /* 0 0 1 1 */
  margin: 0;
}

li > a {
  /* 0 0 0 2 */
  color: $orange-colour;
}

blockquote {
  border: none;
  padding: 18px;
  font-size: 28px;
  background: #f3f3f3;
  border-left: solid 2px #666;
}

blockquote p, blockquote li {
  font-size: 16px;
  font-weight: 400;
}

.anchor {
  display: block;
  height: 73px; /* this is the height of your header */
  margin-top: -73px; /* this is again negative value of the height of your header */
  visibility: hidden;
}

img.bullet-image {
  float: left;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

h1,
h3,
h4,
h5 {
  &.title-v2 {
    color: #555;
    position: relative;
    margin-bottom: 30px;
  }

  &.title-center {
    text-align: center;
  }
}

.g-color-reddit {
  color: #ff4301;
}

.g-bg-reddit {
  background-color: #ff4301;
}

.g-color-reddit--hover:hover {
  color: #ff4301 !important;
}

.persisted-closable {
  display: none;
  position: relative;

  .closer {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

#middle-banner {
  background-color: #2d2d2d;
  overflow: hidden;
}

// Imagery

.img-fluid {
  width: 100%;
  height: auto;
}

.img-border-orange-yellow {
  position: relative;
  display: block;
  padding-bottom: 10px;
}

.img-border-orange-yellow img {
  position: relative;
  z-index: 2;
}

.img-border-orange-yellow:after {
  content: "";
  background: rgb(239, 119, 38);
  background: linear-gradient(
    90deg,
    rgba(239, 119, 38, 1) 0%,
    rgba(255, 220, 64, 1) 57%
  );
  position: absolute;
  right: -10px;
  top: 10px;
  width: 100%;
  height: calc(100% - 10px);
  z-index: 1;
}

.latest-highlights-image {
  width: 100%;
  padding-top: 66%;
}

// Background colour overides

.g-bg-green {
  background-color: $green !important;
}

.g-bg-orange {
  background-color: $orange !important;
}

.g-bg-red {
  background-color: $red !important;
}

// Pagination - hover / active color overides

/* Pagination - hover / active color overides
   -------------------------------------- */

.u-pagination-v1-4:hover {
  color: #555 !important;
  border-color: $coral !important;
}

.u-pagination-v1-4--active {
  background-color: $coral !important;
  border-color: $coral !important;
}

/* Unify template overides
   -------------------------------------- */



.g-color-primary {
  color: $coral !important;
}

.lead {
  font-size: 1.3em;
  max-width: 750px;
  margin: auto;
}

/* Buttons
   -------------------------------------- */

.u-btn-outline {
  background-color: transparent;
  border: 2px solid #444444;
  color: #444444;
  font-size: 1em;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #444444 !important;
    transition: all 0.7s ease;
  }
}
