/* Feature panel - Overlay and typography
   -------------------------------------- */

.feature-panel {
    background: rgba(0, 0, 0, 0.5);
    height: 800px;
    width: auto;
    z-index: 1;
    position: relative;
}

.feature-panel h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 4em;
}

.feature-panel .jumbotron {
    background: transparent;
    color: white;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.feature-panel .jumbotron h3 {
    color: white;
    padding: 10px 0 20px 0;
}



/* Feature panel - Desktop bg video
   -------------------------------------- */

.video-bg-wrapper {
    position: absolute;
    height: 800px;
    width: 100%;
    overflow: hidden;
    top: 94px;
}
  
.video-bg {
    position: absolute;
    top: 0%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: 0;
    max-width: 130% !important;
}



/* Feature panel - Mobile image slider
   -------------------------------------- */
   
.bg-slider {
    position: absolute;
    height: 570px;
    width: 100%;
    top: 74px;
    overflow: hidden;
    display: none;
}
  
.bg-slide1,
.bg-slide2,
.bg-slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
  
.bg-slide1 {
    background: url("https://codurance.com/assets/custom/img/home/home-hero-code.jpg")no-repeat center;
    background-size: cover;
    animation:slide-fade 8s infinite;
    -webkit-animation:slide-fade 8s infinite;
}

.bg-slide2 {
    background: url("https://codurance.com/assets/custom/img/home/home-hero-group.jpg")no-repeat center;
    background-size: cover;
    animation:slide-fade2 8s infinite;
    -webkit-animation:slide-fade2 8s infinite;
}
  
.bg-slide3 {
    background: url("https://codurance.com/assets/custom/img/home/home-hero-sandro.jpg")no-repeat center;
    background-size: cover;
    animation:slide-fade3 8s infinite;
    -webkit-animation:slide-fade3 8s infinite;
}
  
@keyframes slide-fade {
    0%      {opacity: 1}
    33.333% {opacity: 0}
    66.666% {opacity: 0}
    100%    {opacity: 1}
}
  
@keyframes slide-fade2 {
    0%      {opacity: 0}
    33.333% {opacity: 1}
    66.666% {opacity: 0}
    100%    {opacity: 0}
}
  
@keyframes slide-fade3 {
    0%      {opacity: 0}
    33.333% {opacity: 0}
    66.666% {opacity: 1}
    100%    {opacity: 0}
}