/*--------------------------------------------------
    [31. Blog Post Author]
----------------------------------------------------*/

@media (max-width: 768px) {
  .blog-author .blog-author-desc {
    margin: 10px 0 10px;
  }
}

.index-client-logo
{
  width: 180px !important;
  height: auto;
}

.index-partner-logo
{
  width: 210px !important;
  height: 146px !important;
}