---
# Front matter comment to ensure Jekyll properly reads file.
---

/* --------------------------------------
   Layout
   -------------------------------------- */

/*
   CSS specificity calculator: https://specificity.keegan.st/
   Specificity components: [Inline styles] [IDs] [Classes, attributes and pseudo-classes] [Elements and pseudo-elements]
   Specificity ranges from lowest to highest (more generic to more specific)
*/

/* Buttons - used across multiple pages */
@import 'custom-colors';
@import 'colors';

$gray-colour: #687074;

.btn-more {
    font-size: 15px;
    margin: 10px 0;
    padding: 10px 30px;
    background-color: $coral;
    color: $off-black;
    font-weight: 700;
    border: none;
    overflow: hidden;
    position: relative;

    &:hover {
        color:rgba(255,255,255,0.8)!important;
    }

    span {
        z-index: 1;
        position: relative;
    }
}

.btn-more:hover {
    &:after {
        transform: rotate(180deg);
        transition: all 0.7s ease;
    }
}

.btn-more-large {
    font-size: 20px;
}

.btn-small {
    border-radius: 6px;
    font-size: 18px;
    margin: 10px 0;
    padding: 5px 10px;

    &-orange {
        background-color: transparent;
        border: 1px solid $coral;
        color: $coral;
        font-size: 11px;
        text-transform: uppercase;
        margin-left: 10px;

        &:hover {
            background-color: $coral--light;
            color: $white;
        }
    }

    &:hover {
        transition: .3s;
    }
}

.button-with-bg-image span {   /* 0 0 1 1 */
    font-size: 24px;
    margin: 0;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    color: $white;
}

.btn-u {
    &-orange { /* 0 0 1 0 */
        background: $coral;

        &:hover, /* 0 0 2 0 */
        &:focus, /* 0 0 2 0 */
        &:active, /* 0 0 2 0 */
        &.active { /* 0 0 2 0 */
            background: $coral--light;
            color: $white;
            text-decoration: none;
        }
    }

    &.btn-brd.btn-u-orange:hover {   /* 0 0 4 0 */
        color: $white!important;
        background-color: $coral;
    }
}

.btn-brd.btn-u-orange { /* 0 0 2 0 */
    border-color: $coral;

    &:hover { /* 0 0 3 0 */
        color: $coral--light;
        border-color: $coral--light;
    }

    &.btn-brd-hover:hover {   /* 0 0 4 0 */
        background: $coral--light;
    }
}

.open.dropdown-toggle.btn-u-orange {   /* 0 0 3 0 */
    background: $coral--light;
    color: $white;
    text-decoration: none;
}

#sharethisButtons {   /* 0 1 0 0 */
    padding-bottom: 30px;
}


.btn-less {   /* 0 0 1 0 */
    border-radius: 6px;
    font-size: x-small;
    margin: 10px 0;
    padding: 5px 10px;

    &-light {  /* 0 0 1 0 */
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        &:hover {  /* 0 0 2 0 */
            background-color: $white;
            color: $gray-colour;
        }
    }

    &:hover {  /* 0 0 2 0 */
        transition: .3s;
    }
}

.ban-btn-offblack {
    color: $white;
    background-color: #2D2D2D;
    border-color:$white;
  }

  .ban-btn-offblack:hover, .ban-btn-offblack.active {
    border-color: $white;
    background-color: $white;
  }

  .ban-btn-offblack:hover, .ban-btn-offblack:focus, .ban-btn-offblack.active {
    color: #000;
  }

  .how-we-work-container {
      height: 220px;
  }

  .btn-pointer-cursor {
      cursor: pointer;
  }

  .hs-button {
      background: green!important;
  }