/* SoftMod Section
   backgroundimages set in custom-layout-2.scss
   ------------- */

   
.text-900 {
    font-weight: 900;
}

.text-700 {
    font-weight: 700;
}

.text-navy {
    color: #0E4072;
}


/* -- Spacing -- */

.g-mt-neg100 {
    top: -50px;
    position: relative;
}

.pad-top-none {
    padding-top: 0!important;
}

.g-mt-neg150 {
    top: -150px;
    position: relative;
}

.g-mt-neg200 {
    top: -200px;
    position: relative;
}


/* -- Backgrounds -- */

.bg-slate {
    background-color: #2B3342;
}

.bg-blue {
    background-color:#0F4071!important;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-coral {
    background-color: #FB7268;
}

.bg-sheen {
    position:relative;
}
  
.bg-sheen:after {
    content:'';
    background: rgb(252,249,241);
    background: linear-gradient(34deg, rgba(252,249,241,1) 52%, rgba(252,244,244,1) 100%);   
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    z-index: 0;
    right: 100px;
}
  
.z-index-1 {
    z-index: 1;
    position: relative;
}

/* -- Case Studies-- */

.card {
    border: none!important;
    min-height: 381px;
}


/* -- Grid -- */

.grid {
	display: grid;
	grid-gap: 140px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 600px;
} 

.grid-item--intro {
    padding-left: 50px;
	align-items: center;
	display: flex;
}

.grid-item--intro div {
    max-width: 400px;
    margin: auto;
}

/* -- Element Position -- */

.p-relative {
    position: relative;
}

.bottom {
    bottom: -120px;
}


/* -- Text -- */

.text-white{
    color: white;
}

.text-coral{
    color: #FA7268;
}

.center {
    text-align: center;
}

.text-mxwidth {
    max-width: 600px;
}

/* -- Buttons -- */

.btn--coral {
    background:#FB7268!important;
}

.btn--blue {
    background:#0F4071!important;
}


/* -- Border -- */

.shadow-grey {
    box-shadow: 0px 0.1px 5px 0.1px #88888856;
}


/* -- Custom Blocks -- */

.container-slim {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* -- Device Breakpoints -- */

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .container-slim {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-slim {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {

    .container-slim {
        max-width: 800px;
    }
}