  <!-- Expert Advice Clients -->
  <div class="section g-pb-30">
    <div class="container">

      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-50 text-center">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t include.title %}</h2>
      </div>

      <div class="row js-carousel" data-autoplay="true" data-slides-show="6" data-responsive='[
        {
          "breakpoint": 992,
          "settings": {
            "slidesToShow": 4
          }
        },
        {
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 2
          }
        }]'>
        {% for client in site.data.clients %}
          {% if client.services-page contains include.filter %}
            <div class="js-slide js-slide g-brd-around g-brd-gray-light-v3--hover g-transition-0_2 rounded g-pa-20 g-mx-10">
              <img class="mx-auto g-width-120 g-max-width-100x" src="{{ client.image | prepend: site.baseurl }}" alt="{{ client.alt-text }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
