  <div class="section">
      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20 text-center"> 
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t services.our-clients.title %}</h2> 
      </div>
    <div class="container">
      <div class="row">
          {% for client in site.data.clients %}
          <div class="col-sm-3 col-md-3 px-0 text-center">
              <div class="u-block-hover g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                <img class="mx-auto g-width-100 u-block-hover__main--grayscale g-opacity-0_4 g-opacity-1--hover g-cursor-pointer" 
                src="{{ client.image | prepend: site.baseurl }}" 
                alt="{{ client.alt-text }}">
              </div>
          </div>
          {% endfor %}


          <div class="col-sm-3 col-md-3 px-0 text-center">
              <div class="u-block-hover g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40" style="height: 100%;">
                  <a class="btn btn-md u-btn-primary text-uppercase g-width-auto--lg btn-codurance-color" style="margin: 1rem -1rem; width: 80%;"
                  href="{{ '/clients/' | prepend: site.baseurl }}">{%t services.see-more %}</a>
              </div>
          </div>

      </div>
    </div>
  </div>
