  <!-- Expert Advice Clients -->
  <div class="section g-pb-0">
    <div class="container">

      <div class="u-heading-v2-3--bottom g-brd-primary g-mb-50 text-center">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t include.title %}</h2>
      </div>

      <div class="row text-center g-mx-0--sm">
        {% for client in site.data.clients %}
          {% if client.services-page contains include.filter %}
            <div class="col-6 col-md-4 col-lg-2 g-px-0--sm">
              <div class="g-pb-50 g-px-30 g-ml-minus-1 g-mb-minus-1">
                <img class="mx-auto g-width-120 g-max-width-100x" src="{{ client.image | prepend: site.baseurl }}" alt="{{ client.alt-text }}">
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
