<div class="section g-bg-gradient-orange-red">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20 text-center"> 
      <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t services.we-acd %}</h2> 
    </div>

    <div class="container mb-5">
        <p class="lead mb-o">{%t services.software-craftsmanship-pioneers %}</p>
    </div>
    <div class="container">
      <div class="row justify-content-center">

          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
               <i class="g-mb-20">
                  <img class="icon-large" src="{{ '/assets/custom/img/home/icon-delivery-capability.svg' | prepend: site.baseurl }}">
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-advise-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="{{ '/services/#we-advise' | prepend: site.baseurl }}">{%t services.learn-more %}</a>
            </div>
          </div>
        
          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
                <i class="g-mb-20">
                  <img class="icon-large" src="{{ '/assets/custom/img/home/icon-coaching.svg' | prepend: site.baseurl }}">
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-coach-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="{{ '/services/#we-coach' | prepend: site.baseurl }}">{%t services.learn-more %}</a>
            </div>
          </div>
        
          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
                <i class="g-mb-20">
                  <img class="icon-large" src="{{ '/assets/custom/img/home/icon-quality-software.svg' | prepend: site.baseurl }}">
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-deliver-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="{{ '/services/#we-deliver' | prepend: site.baseurl }}">{%t services.learn-more %}</a>
            </div>
          </div>
        
      </div>
    </div>
</div>