<div class="section">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20 text-center"> 
      <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">{%t services.we-acd %}</h2> 
    </div>

    <div class="container mb-5">
        <p class="lead mb-o">{%t services.software-craftsmanship-pioneers %}</p>
    </div>
    <div class="container">
      <div class="row justify-content-center">

          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
              <i class="g-mb-20">
                  <span class="mb-3 u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-advise-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="#we-advise">{%t services.learn-more %}</a>
            </div>
          </div>
        
          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
              <i class="g-mb-20">
                  <span class="mb-3 u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-coach-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="#we-coach">{%t services.learn-more %}</a>
            </div>
          </div>
        
          <div class="col-sm-6 col-lg-3 g-mb-60">
            <div class="text-center">
              <i class="g-mb-20">
                  <span class="mb-3 u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                </i>
              <h3 class="h5 g-color-black g-mb-20 g-ml-20 g-mr-20" style="height: 80px;">{%t services.we-deliver-subtitle %}</h3>
              <a class="btn btn-md u-btn-primary text-uppercase w-100 g-width-auto--lg btn-codurance-color" href="{{ '/services/training/#we-delivery' | prepend: site.baseurl }}">{%t services.learn-more %}</a>
            </div>
          </div>
        
      </div>
    </div>
</div>