---
layout: default
title: Training | Upskilling for more effective teams
title-es: Training | Upskilling para equipos más efectivos
description: Leverage focused training to upskill your teams. We can create a bespoke training plan adapted to your business needs.
description-es: Mejora las capacidades de tu equipo para mejorar su efectividad. Podemos crear un plan de capacitación a medida adaptado a las necesidades de tu negocio.
image:
  src: /assets/custom/img/training-overview/training-social-share-en.jpg
metarobots: index,follow

intro:
  background-image-small: /assets/custom/img/training-overview/training-overview-small.jpg
  background-image-large: /assets/custom/img/training-overview/training-overview-large.png
---

{%- assign translations = site.translations[site.lang].training-overview -%}
{% assign cta_text = site.translations[site.lang].service-line-contact-cta %}
{% assign cta_href = site.translations[site.lang].get-in-touch.anchor-id %}
<div class="training-overview-hero-wrapper">
  {% include service_line_hero.liquid translations=translations cta_text=cta_text cta_href=cta_href hero_image_container_class='service-line-hero__image-container--training-overview' %}
</div>

<section class="training-overview-content">
  <div class="training-overview-content__cards-wrapper">
    {% if site.data.toggles.crafting-code-and-crafted-design-hero=="on" %}
      {% if site.lang == 'es' %}
        {% assign teaser_card_data = site.data.trainings_es.crafting-code-and-crafted-design %}
      {% else %}
        {% assign teaser_card_data = site.data.trainings_en.crafting-code-and-crafted-design %}
      {% endif %}
      {% include service_line_teaser_card.liquid
        background_image=teaser_card_data.image-src
        avatar-src=teaser_card_data.avatar-src
        name=teaser_card_data.author
        course-length=teaser_card_data.course-length
        title=teaser_card_data.name
        description=teaser_card_data.description
        title-background-image=teaser_card_data.title-background-image-path
        %}
    {% endif %}

      {% include training_card_group.liquid %}
  </div>
</section>
<section class="training-overview-form">
  {% include training_contact_form.liquid %}
</section>