---
layout: default
title: Training | Upskilling for more effective teams
title-es: Training | Upskilling para equipos más efectivos
description: Leverage focused training to upskill your teams. We can create a bespoke training plan adapted to your business needs.
description-es: Mejora las capacidades de tu equipo para mejorar su efectividad. Podemos crear un plan de capacitación a medida adaptado a las necesidades de tu negocio.
metarobots: index,follow

intro:
  background-image-small: /assets/custom/img/training/training-hero-placeholder-small.png
  background-image-large: /assets/custom/img/training/training-hero-placeholder-large.png
---

{% if site.data.toggles.slt-181-training-overview-page == "on" %}

  {%- assign translations = site.translations[site.lang].training-overview -%}
  {% include service_line_hero.liquid translations=translations cta_text=cta_text %}

  <section class="training-overview-content">
      <div class="training-overview-content__cards-wrapper">
          {% assign teaser_card_data = site.data.service_lines.training %}
          {% capture title %}{% if site.lang == 'es' %}{{ teaser_card_data.es-title }}{% else %}{{ teaser_card_data.en-title }}{% endif %}{% endcapture %}
          {% capture description %}{% if site.lang == 'es' %}{{ teaser_card_data.es-description }}{% else %}{{ teaser_card_data.en-description }}{% endif %}{% endcapture %}
          {% include service_line_teaser_card.liquid
          background_image=teaser_card_data.image-src
          avatar-src=teaser_card_data.avatar-src
          name=teaser_card_data.name
          course-length=teaser_card_data.course-length
          title=title
          description=description
          cta_path=teaser_card_data.cta-path
          %}
      </div>
  </section>
  <section class="training-overview-katalyst-banner">
    {% capture description %}{% t  services.training.katalyst-banner.description %}{% endcapture %}
    {% capture hubspot-cta %}{% include hubspot_cta.liquid class="hubspot-in-page-banner" hubspot-id=hubspot-id %}{% endcapture %}
    {% capture hubspot-id %}{% t  services.training.katalyst-banner.hubspot-form-id %}{% endcapture %}
    {% capture title %}{% t  services.training.katalyst-banner.title %}{% endcapture %}
    {% include in_page_banner.html 
      background_image="/assets/custom/img/training/training-overview-katalyst-banner.png"
      background_position="30% center"
      class="training-overview__katalyst-banner" 
      description=description
      hubspot-cta=hubspot-cta
      title=title
    %}
  </section>

  {% include training_contact_form.liquid %}

{% else %}
    <div class="container content">
       <div class="row">
              <div class="col-md-6">
                  <h2 class="title-v2">{% t services-training_coaching.title %}</h2>
                  {% t services-training_coaching.subtitle %}
                  <br/>
                  <a href="{{ '/contact-us' | prepend: site.baseurl }}" class="btn-u">{% t company-contact.title %} ...</a>
              </div>
              <div class="col-md-6">
                  <img src="{{ '/assets/custom/img/services/training/node-js-session.jpg' | prepend: site.baseurl }}" class="img-fluid" alt="">
              </div>
        </div>

        <h2 class="title-v2 g-pt-60">{% t services-training_coaching.our_courses %}</h2>

         {% if site.lang == "es" %}
           {% assign trainings_file = site.data.trainings_es %}
         {% else %}
           {% assign trainings_file = site.data.trainings_en %}
         {% endif %}
           {% for training in trainings_file %}
             {% assign loopindex = forloop.index | modulo: 3 %}
             {% if loopindex == 1 %}
              <div class="row news-v1">
             {% endif %}

              <div class="col-md-4">
                  <div class="news-v1-in margin-bottom-20">
                    <h3><a class="hover-effect" href="{{site.baseurl}}{{training.page}}">{{training.name}}</a></h3>
                    <p>{{training.description}}</p>
                    <ul class="list-inline news-v1-info">
                      <li><span>By</span> <strong>{{training.author}}</strong></li>
                    </ul>
                  </div>
              </div>

             {% if loopindex == 0 %}
              </div>
             {% endif %}

          {% endfor %}
          </div>
        </div>
    </div>
{% endif %}
